Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix, or
# they are scripts in our scripts/ directory.
repos:
  - repo: local
    hooks:
      # Keep these sorted by id alphabetically, except for `id` which should stay at the end.
      - id: badtodo
        name: Bad TODOs
        language: script
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/lint/validate_todos
        # prettier-ignore
        types_or:
          [rust, c, c++, proto, java, yaml, html, javascript, ts, css, scss, dockerfile, kotlin, markdown, shell]

      - id: bazellic
        name: Add notice license to all bazel packages
        language: script
        entry: ./scripts/lint/add_bazel_license
        files: BUILD

      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]

      - id: bzllock
        name: Make sure MODULE.bazel.lock files are fully up to date
        entry: ./scripts/lint/bazel_mod_deps
        language: script
        files: MODULE.bazel$

      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]

      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]

      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system

      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]

      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]

      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]

      - id: shellcheck
        name: shellcheck (shell script files)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (shell script files)
        language: system
        entry: shfmt --indent 2 --case-indent --binary-next-line --simplify -w
        types: [shell]

      - id: sourcelic
        name: Add Apache License to source files
        language: script
        entry: ./scripts/lint/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo
        files: MODULE.bazel$

Enable ICH9 ACPI I/O decoding for Q35 shutdown support
  stage0/src/pci/machine.rs
  stage0/src/pci/mod.rs
Due: rustfmt, sourcelic

Force event logger to log to stdout
  oak_private_memory/src/log.rs
Due: rustfmt, sourcelic

justfile: extract run and github recipes into modules
  buildconfigs/key_xor_test_app.sh
  buildconfigs/oak_client_android_app.sh
  buildconfigs/oak_containers_agent.sh
  buildconfigs/oak_containers_kernel.sh
  buildconfigs/oak_containers_nvidia_system_image.sh
  buildconfigs/oak_containers_orchestrator.sh
  buildconfigs/oak_containers_stage1.sh
  buildconfigs/oak_containers_syslogd.sh
  buildconfigs/oak_containers_system_image.sh
  buildconfigs/oak_echo_enclave_app.sh
  buildconfigs/oak_echo_raw_enclave_app.sh
  buildconfigs/oak_functions_enclave_app.sh
  buildconfigs/oak_functions_insecure_enclave_app.sh
  buildconfigs/oak_logcabin_endorser_enclave_app.sh
  buildconfigs/oak_orchestrator.sh
  buildconfigs/oak_restricted_kernel_simple_io_channel.sh
  buildconfigs/private_memory_enclave_app.sh
  buildconfigs/private_memory_server.sh
  buildconfigs/stage0_bin.sh
  buildconfigs/stage0_bin_tdx.sh
  justfile
  justfiles/copy_helpers.just
  justfiles/github.just
  justfiles/run.just
  oak_functions_launcher/README.md
  oak_restricted_kernel_launcher/README.md
Due: markdownlint (Markdown files)

Add more APIC structure logs
  stage0/src/acpi/mod.rs
  stage0/src/acpi_tables.rs
Due: rustfmt, sourcelic

Update jj doc: update command to set set bookmark tracking. Current syntax is deprecated.
  docs/jj.md
Due: markdownlint (Markdown files)

Enforce uniqueness of named memories.
  oak_private_memory/app/handler.rs
  oak_private_memory/test/e2e_test.rs
Due: rustfmt, sourcelic

refactor: Unify `NoteSignature` data into `sig_bytes` and use `NoteVerifyingKey` version for signature format interpretation during verification.
  tr/tessera/lib.rs
Due: rustfmt, sourcelic

Rename //tr/tessera to //tr/c2sp.
  tr/c2sp/BUILD
  tr/c2sp/lib.rs
  tr/c2sp/testdata/test.tlog-proof
Due: bazellic, rustfmt, sourcelic

Clean up non event_logger logs
  oak_private_memory/BUILD
  oak_private_memory/analysis/BUILD
  oak_private_memory/analysis/icing_benchmark.rs
  oak_private_memory/analysis/main.rs
  oak_private_memory/src/client.rs
  oak_private_memory/src/icing/BUILD
  oak_private_memory/src/icing/test.rs
  oak_private_memory/test/proto_serialization_test.rs
Due: bazellic, rustfmt, sourcelic

Remove Java OakClient and all its dependents
  buildconfigs/oak_client_android_app.sh
  java/src/main/java/com/google/oak/client/BUILD
  java/src/main/java/com/google/oak/client/OakClient.java
  java/src/main/java/com/google/oak/client/android/AndroidManifest.xml
  java/src/main/java/com/google/oak/client/android/BUILD
  java/src/main/java/com/google/oak/client/android/MainActivity.java
  java/src/main/java/com/google/oak/client/android/res/layout/activity_main.xml
  java/src/main/java/com/google/oak/client/android/res/values/colors.xml
  java/src/main/java/com/google/oak/client/android/res/values/strings.xml
  java/src/main/java/com/google/oak/client/oak_functions_client/BUILD
  java/src/main/java/com/google/oak/client/oak_functions_client/Main.java
  java/src/main/java/com/google/oak/client/oak_functions_client/README.md
  java/src/test/java/com/google/oak/client/BUILD
  java/src/test/java/com/google/oak/client/Empty.java
  java/src/test/java/com/google/oak/client/OakClientTest.java
  justfile
  justfiles/github.just
  oak_functions_containers_launcher/BUILD
  oak_functions_containers_launcher/tests/integration_test.rs
  oak_functions_launcher/BUILD
  oak_functions_launcher/tests/integration_test.rs
  oak_functions_test_utils/src/lib.rs
Due: bazellic, clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Move tr/digest_util under util/digest.
  oak_attestation_verification/BUILD
  oak_attestation_verification/src/compare.rs
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/expect/tests.rs
  oak_attestation_verification/src/intel.rs
  oak_attestation_verification/src/platform.rs
  oak_attestation_verification/src/verifier/tests.rs
  oak_attestation_verification/tests/endorsement_tests.rs
  tr/digest_util/BUILD
  tr/intoto/BUILD
  tr/intoto/statement.rs
  tr/rekor/BUILD
  tr/rekor/log_entry.rs
  tr/verify_endorsement/BUILD
  util/digest/BUILD
  util/digest/digest.rs
  util/digest/json.rs
  util/digest/lib.rs
  util/digest/proto.rs
Due: bazellic, rustfmt, sourcelic

refactor: improve t-log proof parsing and signature verification by introducing a `SignatureType` enum and delegating type-specific logic.
  tr/c2sp/lib.rs
Due: rustfmt, sourcelic

Remove explicit hashing functions in proto.rs.
  oak_attestation_gcp/BUILD
  oak_attestation_gcp/jwtgen/BUILD
  oak_attestation_gcp/src/assertions.rs
  oak_attestation_gcp/src/policy.rs
  oak_attestation_verification/BUILD
  oak_attestation_verification/src/extract.rs
  oak_attestation_verification/src/intel.rs
  oak_attestation_verification/src/intel/tests.rs
  oak_attestation_verification/src/platform.rs
  oak_attestation_verification/src/verifier.rs
  oak_attestation_verification/src/verifiers.rs
  oak_attestation_verification/src/x509.rs
  tr/rekor/log_entry.rs
  trex/doremint/BUILD
  util/digest/digest.rs
  util/digest/json.rs
  util/digest/lib.rs
  util/digest/proto.rs
Due: bazellic, rustfmt, sourcelic

feat: add C2SP witness quorum policy parsing and validation.
  tr/c2sp/lib.rs
  tr/c2sp/policy.rs
Due: rustfmt, sourcelic

Fix GitHub build.
  .github/workflows/build.yaml
Due: prettier

Extend SignedEndorsement and ReferenceValues to support several t-log-like entities on verification.
  oak_attestation_explain/src/json_serialization.rs
  oak_attestation_gcp/src/policy.rs
  oak_attestation_gcp/src/policy_generator.rs
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/test_util.rs
  oak_attestation_verification/test_util/endorsement_data.rs
  oak_attestation_verification/tests/endorsement_tests.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/BUILD
  proto/attestation/endorsement.proto
  proto/attestation/reference_value.proto
  tr/verify_endorsement/lib.rs
Due: bazellic, clang-format, rustfmt, sourcelic

Shard the Oak Functions Containers integration test.
  oak_functions_containers_launcher/BUILD
  oak_functions_containers_launcher/tests/integration_test.rs
Due: bazellic, rustfmt, sourcelic

Update Rust crate patch versions
  MODULE.bazel.lock
Due: none

Add storage analysis for tags
  oak_private_memory/analysis/main.rs
  oak_private_memory/analysis/tag_storage_report.md
Due: markdownlint (Markdown files), rustfmt, sourcelic

Clean up tests
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Signal on QEMU exit
  oak_containers/examples/hello_world/host_app/src/service.rs
  oak_containers/examples/hello_world/host_app/tests/integration_test.rs
  oak_containers/launcher/src/lib.rs
  oak_containers/launcher/src/qemu.rs
  oak_functions/examples/key_value_lookup/module/src/tests.rs
  oak_functions_containers_launcher/tests/integration_test.rs
  oak_functions_launcher/tests/integration_test.rs
  oak_functions_test_utils/BUILD
  oak_functions_test_utils/src/lib.rs
  oak_private_memory/test/test_utils.rs
Due: bazellic, rustfmt, sourcelic

Extract `note` utilities to note.rs
  tr/c2sp/BUILD
  tr/c2sp/lib.rs
  tr/c2sp/note.rs
  tr/c2sp/policy.rs
Due: bazellic, rustfmt, sourcelic

Add easy access to hex-encoded digests.
  oak_attestation_gcp/BUILD
  oak_attestation_gcp/src/assertions.rs
  oak_attestation_gcp/src/policy.rs
  tr/rekor/BUILD
  tr/rekor/log_entry.rs
  util/digest/digest.rs
Due: bazellic, rustfmt, sourcelic

Add markers for internal import process in Oak Containers launcher proto
  proto/containers/interfaces.proto
Due: clang-format, sourcelic

Implement `Display` and derive `Eq` for `TLogProof`
  tr/c2sp/lib.rs
  tr/c2sp/note.rs
Due: rustfmt, sourcelic

build: Convert app_bundle to a symbolic macro
  oak_containers/app_base/defs.bzl
Due: none

refactor: replace individual log key and witness policy with a unified Policy struct for C2SP tlog-proof verification
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/reference_value.proto
  tr/c2sp/lib.rs
  tr/c2sp/policy.rs
  tr/verify_endorsement/lib.rs
Due: clang-format, rustfmt, sourcelic

Implement embedding filter for search v2.
  oak_private_memory/BUILD
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: bazellic, rustfmt, sourcelic

Helper function for making memories in search_test
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

refactor: implement TryFrom for TLogProof and Policy to simplify C2SP tlog proof verification
  tr/c2sp/BUILD
  tr/c2sp/lib.rs
  tr/c2sp/policy.rs
  tr/verify_endorsement/lib.rs
Due: bazellic, rustfmt, sourcelic

perf: normalize client `PATH` in Bazel wrapper to prevent analysis cache invalidation
  flake.nix
Due: nix

Support GetDatabaseMetrics
  oak_private_memory/app/handler.rs
  oak_private_memory/app/packing.rs
  oak_private_memory/database/database_with_cache.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/proto/build.rs
  oak_private_memory/proto/prelude.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/src/client.rs
  oak_private_memory/src/metrics.rs
  oak_private_memory/test/e2e_test.rs
Due: clang-format, rustfmt, sourcelic
