Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix, or
# they are scripts in our scripts/ directory.
repos:
  - repo: local
    hooks:
      # Keep these sorted by id alphabetically, except for `id` which should stay at the end.
      - id: badtodo
        name: Bad TODOs
        language: script
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/lint/validate_todos
        # prettier-ignore
        types_or:
          [rust, c, c++, proto, java, yaml, html, javascript, ts, css, scss, dockerfile, kotlin, markdown, shell]

      - id: bazellic
        name: Add notice license to all bazel packages
        language: script
        entry: ./scripts/lint/add_bazel_license
        files: BUILD

      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]

      - id: bzllock
        name: Make sure MODULE.bazel.lock files are fully up to date
        entry: ./scripts/lint/bazel_mod_deps
        language: script
        files: MODULE.bazel$

      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]

      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]

      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system

      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]

      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]

      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]

      - id: shellcheck
        name: shellcheck (shell script files)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (shell script files)
        language: system
        entry: shfmt --indent 2 --case-indent --binary-next-line --simplify -w
        types: [shell]

      - id: sourcelic
        name: Add Apache License to source files
        language: script
        entry: ./scripts/lint/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo
        files: MODULE.bazel$

Allow empty filters (returning all memories) on search api v2.
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Remove deprecated/unused Java HPKE crypto libs
  cc/crypto/hpke/jni/BUILD
  cc/crypto/hpke/jni/README.md
  cc/crypto/hpke/jni/com_google_oak_crypto_hpke_Hpke.h
  cc/crypto/hpke/jni/com_google_oak_crypto_hpke_KeyPair.h
  cc/crypto/hpke/jni/com_google_oak_crypto_hpke_RecipientContext.h
  cc/crypto/hpke/jni/com_google_oak_crypto_hpke_SenderContext.h
  cc/crypto/hpke/jni/context_jni.cc
  cc/crypto/hpke/jni/hpke_jni.cc
  cc/crypto/hpke/jni/jni_helper.cc
  cc/crypto/hpke/jni/jni_helper.h
  cc/crypto/hpke/jni/keypair_jni.cc
  java/src/main/java/com/google/oak/crypto/BUILD
  java/src/main/java/com/google/oak/crypto/ClientEncryptor.java
  java/src/main/java/com/google/oak/crypto/DecryptionResult.kt
  java/src/main/java/com/google/oak/crypto/ServerEncryptor.java
  java/src/main/java/com/google/oak/crypto/hpke/BUILD
  java/src/main/java/com/google/oak/crypto/hpke/Hpke.java
  java/src/main/java/com/google/oak/crypto/hpke/KeyPair.java
  java/src/main/java/com/google/oak/crypto/hpke/RecipientContext.java
  java/src/main/java/com/google/oak/crypto/hpke/SenderContext.java
  java/src/test/java/com/google/oak/crypto/BUILD
  java/src/test/java/com/google/oak/crypto/EncryptorTest.java
Due: bazellic, clang-format, ktfmt, markdownlint (Markdown files), sourcelic

Include libxml2 in our nix flake
  flake.nix
Due: nix

Remove json support. Step 2
  oak_private_memory/BUILD
  oak_private_memory/proto/BUILD
  oak_private_memory/proto/build.rs
  oak_private_memory/proto/lib.rs
  oak_private_memory/test/proto_serialization_test.rs
Due: bazellic, rustfmt, sourcelic

Remove json support. Step 1
  oak_private_memory/app/context.rs
  oak_private_memory/app/handler.rs
  oak_private_memory/app/lib.rs
  oak_private_memory/src/client.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/e2e_test.rs
  oak_private_memory/test/tls_client_test.rs
Due: rustfmt, sourcelic

Code cleanup
  oak_private_memory/BUILD
  oak_private_memory/app/handler.rs
  oak_private_memory/app/packing.rs
  oak_private_memory/app/service.rs
  oak_private_memory/src/session.rs
Due: bazellic, rustfmt, sourcelic

Add TLS example
  oak_private_memory/BUILD
  oak_private_memory/app/BUILD
  oak_private_memory/app/service.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/src/client.rs
  oak_private_memory/src/lib.rs
  oak_private_memory/src/main.rs
  oak_private_memory/src/session.rs
  oak_private_memory/test/test_utils.rs
  oak_private_memory/test/tls_client_test.rs
Due: bazellic, clang-format, rustfmt, sourcelic

fix: MacOS incompatibility introduced in 78d1411004fbeabd3bdf8158779a19026bd7a0a4
  flake.nix
Due: nix

Refactor endorscope's t-log-related verification flags.
  oak_gcp/examples/echo/enclave_app/src/main.rs
  tr/endorscope/BUILD
  tr/endorscope/package.rs
  tr/endorscope/storage.rs
  tr/endorscope_cli/BUILD
  tr/endorscope_cli/list.rs
  tr/endorscope_cli/tests.sh
  tr/endorscope_cli/verify.rs
  trex/cosign_util/lib.rs
Due: bazellic, rustfmt, sourcelic

feat: implement configurable t-log verification strategies (Skip, All, Any) in endorsement verification
  oak_attestation_gcp/src/assertions.rs
  oak_attestation_gcp/src/policy.rs
  oak_attestation_gcp/src/policy_generator.rs
  tr/endorscope/package.rs
  tr/verify_endorsement/BUILD
  tr/verify_endorsement/lib.rs
Due: bazellic, rustfmt, sourcelic

chore: update default visibility of c2sp package to public
  tr/c2sp/BUILD
Due: bazellic

Remove now-unneeded crate repinning recipes.
  justfile
  justfiles/crates.just
Due: none

Clean up more
  oak_private_memory/BUILD
  oak_private_memory/app/BUILD
  oak_private_memory/app/service.rs
  oak_private_memory/src/client.rs
  oak_private_memory/src/lib.rs
  oak_private_memory/src/session.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/e2e_test.rs
  oak_private_memory/test/tls_client_test.rs
Due: bazellic, rustfmt, sourcelic

Increase the RAM ratio for tmpfs.
  oak_containers/app_base/config.json.tpl
  oak_containers/app_base/defs.bzl
  oak_containers/app_base/tests/BUILD
  oak_containers/app_base/tests/test_config.py
  oak_private_memory/BUILD
  oak_private_memory/src/main.rs
Due: bazellic, rustfmt, sourcelic

Implement embedding sort for search v2.
  oak_private_memory/database/icing.rs
  oak_private_memory/src/icing/ffi_bridge.rs
  oak_private_memory/src/icing/ffi_wrapper.h
  oak_private_memory/test/search_test.rs
Due: clang-format, rustfmt, sourcelic

Stop using deprecated field EndorsementReferenceValue.rekor.
  oak_attestation_gcp/src/assertions.rs
  oak_attestation_gcp/src/policy.rs
  oak_attestation_gcp/src/policy_generator.rs
  oak_attestation_verification/src/test_util.rs
  oak_attestation_verification/test_util/endorsement_data.rs
  oak_attestation_verification/tests/endorsement_tests.rs
  tr/endorscope/package.rs
  tr/verify_endorsement/lib.rs
Due: rustfmt, sourcelic

style: lowercase error messages, context strings, and log lines
  AGENTS.md
  FORCE_CI
  ctf_sha2/lib.rs
  falsify/wasm/main.rs
  mcp/oak_functions_mcp/src/service.rs
  oak_attestation_gcp/src/jwt/verification.rs
  oak_attestation_gcp/src/policy.rs
  oak_attestation_integration_tests/src/lib.rs
  oak_attestation_types/src/assertion_generator.rs
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/policy/session_binding_public_key.rs
  oak_attestation_verification_cli/src/report.rs
  oak_attestation_verification_types/src/assertion_verifier.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_cli/vm.rs
  oak_client/tonic/transport.rs
  oak_crypto/src/certificate/certificate_verifier.rs
  oak_freshness_verification/src/nist_pulse_verifier.rs
  oak_functions_standalone/client/src/lib.rs
  oak_gcp/examples/echo/client/src/lib.rs
  oak_gcp/examples/echo/enclave_app/src/main.rs
  oak_private_memory/app/persistence_worker.rs
  oak_private_memory/database/encryption.rs
  oak_private_memory/src/external_db_client.rs
  oak_proto_rust/oak_proto_rust_lib/src/crypto.rs
  oak_session/src/generator.rs
  oak_session/src/verifier.rs
  oak_session/testing/testing.rs
  oak_session/tls/rust/oak_session_tls.rs
  oak_verity/cli/main.rs
  oak_verity/src/lib.rs
  trex/client/src/fs.rs
  trex/cosign_util/lib.rs
  trex/doremint/src/blob/endorse.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Mark cleanroom test as manual as it is not hermetic.
  cleanroom/examples/crate_vendor/BUILD
Due: bazellic

TOML-config-based linter in Rust
  .bazelignore
  .oak-lint-config.toml
  .pre-commit-config.yaml
  bazel/private/oci_runtime_bundle.sh.tpl
  demo
  format.cast
  justfile
  oak_private_memory/.oak-lint-config.toml
  oak_private_memory/justfile
  quash
  scripts/format_changed_files
  scripts/lint/validate_todos
  tools/lint-runner/.bazelversion
  tools/lint-runner/BUILD
  tools/lint-runner/MODULE.bazel
  tools/lint-runner/MODULE.bazel.lock
  tools/lint-runner/README.md
  tools/lint-runner/scripts/format_all
  tools/lint-runner/scripts/format_changed
  tools/lint-runner/src/config.rs
  tools/lint-runner/src/identify.rs
  tools/lint-runner/src/lib.rs
  tools/lint-runner/src/main.rs
  tools/lint-runner/src/run.rs
  tools/lint-runner/src/ui.rs
Due: bazellic, bzllock, markdownlint (Markdown files), prettier, rustfmt, sourcelic, id

Fix metric type for some base tokio metrics
  oak_containers/agent/src/metrics.rs
Due: rustfmt, sourcelic

When doing embedding sort, tie-break based on timestamp.
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Publish jemalloc static lib from github
  buildconfigs/oak_containers_system_image.sh
Due: none

Fix compilation of lint-runner on macOS
  .bazelrc
  tools/lint-runner/.bazelrc
Due: none

Remove old HPKE transport Java code
  java/src/main/java/com/google/oak/transport/ApiKeyInterceptor.java
  java/src/main/java/com/google/oak/transport/BUILD
  java/src/main/java/com/google/oak/transport/EvidenceProvider.java
  java/src/main/java/com/google/oak/transport/GrpcStreamingTransport.java
  java/src/main/java/com/google/oak/transport/QueueingStreamObserver.java
  java/src/main/java/com/google/oak/transport/Transport.java
  java/src/test/java/com/google/oak/transport/BUILD
  java/src/test/java/com/google/oak/transport/GrpcStreamingTransportTest.java
Due: bazellic, clang-format, sourcelic

Add missing include for oak_session/tls
  oak_session/tls/oak_session_tls.h
Due: clang-format, sourcelic

Convert crate analyis from Python to Rust
  .bazelignore
  justfile
  justfiles/crates.just
  tools/analyze_crate_versions/.bazelversion
  tools/analyze_crate_versions/BUILD
  tools/analyze_crate_versions/MODULE.bazel
  tools/analyze_crate_versions/MODULE.bazel.lock
  tools/analyze_crate_versions/README.md
  tools/analyze_crate_versions/crates_io.rs
  tools/analyze_crate_versions/main.rs
  tools/analyze_crate_versions/parse.rs
  tools/analyze_crate_versions/report.rs
Due: bazellic, bzllock, markdownlint (Markdown files), rustfmt, sourcelic, id

Allow rlimits to be config
  oak_containers/app_base/config.json.tpl
  oak_containers/app_base/defs.bzl
  oak_containers/app_base/tests/BUILD
  oak_containers/app_base/tests/test_config.py
  oak_private_memory/BUILD
Due: bazellic

Add checks to prevent non-functional embedding use + add tests.
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Restore just bazel-lockfile-all
  justfile
Due: none

Only allow first-party logs.
  oak_private_memory/src/log.rs
Due: rustfmt, sourcelic

Add more metrics.
  oak_private_memory/app/handler.rs
  oak_private_memory/app/persistence_worker.rs
  oak_private_memory/app/service.rs
  oak_private_memory/database/database_with_cache.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/src/metrics.rs
Due: rustfmt, sourcelic

Add Intel Virtualized PCIE device
  stage0/src/pci/machine.rs
  stage0/src/pci/mod.rs
Due: rustfmt, sourcelic

Update google-adk to 1.28.1
  mcp/agent/requirements.in
  mcp/agent/requirements.txt
Due: none

Move mmio_helper function outside of I440fx machine type
  stage0/src/pci/machine.rs
Due: rustfmt, sourcelic

Rename test case to use snake case
  stage0/src/pci/machine.rs
Due: rustfmt, sourcelic

Remove unused service protos
  java/proto/example/BUILD
  java/proto/example/secure_service.proto
  java/proto/server/BUILD
  java/proto/server/secure_proxy.proto
  jj-prompt
Due: bazellic, clang-format, sourcelic

Clean up kokoro runners
  kokoro/helpers/common.sh
  kokoro/helpers/test_failure.xml.tpl
  kokoro/helpers/test_pass.xml.tpl
  kokoro/runners/build_test_and_copy.sh
  kokoro/runners/helpers.sh
Due: none

feat: specify PesReferenceValue proto and add RSA KeyType
  oak_attestation_verification/BUILD
  oak_attestation_verification/src/endorsement/tests.rs
  oak_attestation_verification/test_util/endorsement_data.rs
  oak_attestation_verification/testdata/BUILD
  oak_attestation_verification/testdata/endorsement_rsa.json.sig
  oak_attestation_verification/testdata/pes_public_key.pem
  oak_attestation_verification/tests/benchmarks.rs
  oak_attestation_verification/tests/endorsement_tests.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/reference_value.proto
  tr/intoto/tests.rs
  tr/key_util/BUILD
  tr/key_util/lib.rs
  tr/key_util/tests.rs
  tr/rekor/log_entry/tests.rs
  tr/verify_endorsement/lib.rs
  util/digest/lib.rs
Due: bazellic, clang-format, rustfmt, sourcelic
