Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

bazellic:
  name: Add notice license to all bazel packages
  language: script
  entry: ./scripts/lint/add_bazel_license

bzllock:
  name: Make sure MODULE.bazel.lock files are fully up to date
  entry: ./scripts/lint/bazel_mod_deps
  language: script

clang-format:
  name: clang-format (C/C++, Java, Proto)
  entry: clang-format -i
  language: system

ktfmt:
  name: ktfmt (Kotlin)
  entry: ktfmt -F --google-style
  language: system

markdownlint (Markdown files):
  name: apply markdownlint for markdown files
  entry: markdownlint --fix
  language: system

nix:
  name: nixfmt (Nix)
  entry: nix fmt
  language: system

prettier:
  name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
  entry: prettier --write
  language: system

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt
  language: system

sourcelic:
  name: Add Apache License to source files
  language: script
  entry: ./scripts/lint/add_source_license

terraform fmt:
  name: terraform fmt
  entry: terraform fmt --write=true
  language: system

id:
  name: id
  language: system
  entry: echo

Add proto messages for CB transparent layer endorsements and reference values.
  cc/utils/variant/uuids.h
  cc/utils/variant/variant.cc
  cc/utils/variant/variant_test.cc
  oak_attestation_explain/src/json_serialization.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  oak_proto_rust/src/variant.rs
  proto/attestation/BUILD
  proto/attestation/cb_eventlog.proto
  proto/attestation/endorsement.proto
  proto/attestation/reference_value.proto
Due: bazellic, clang-format, rustfmt, sourcelic

Convert testdata from EndorsementReferenceValues.rekor to .tlog
  docs/tr/README.md
  oak_attestation_verification/testdata/milan_oc_staging_reference_values.binarypb
  oak_attestation_verification/testdata/milan_oc_staging_reference_values.textproto
  oak_attestation_verification/testdata/milan_rk_staging_reference_values.binarypb
  oak_attestation_verification/testdata/milan_rk_staging_reference_values.textproto
Due: markdownlint (Markdown files)

Add fields for separate CB Layer 1 measurements.
  oak_attestation_explain/src/json_serialization.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/cb_eventlog.proto
  proto/attestation/endorsement.proto
  proto/attestation/reference_value.proto
Due: clang-format, rustfmt, sourcelic

Improve icing error message
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Remove separate AddView tracking from mutation operation log
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Enforce name uniqueness during rebase
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Combine get_memory_by_name and get_memory_id_by_name
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Fix Bug 1: Propagate delete_memory errors and add concurrent delete test
  oak_private_memory/app/handler.rs
  oak_private_memory/test/database/service.rs
  oak_private_memory/test/e2e_test.rs
Due: rustfmt, sourcelic

Fix Bug 2: Check status of reset and set_schema in icing.rs and propagate errors
  oak_private_memory/database/database_with_cache.rs
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Track decryption failures, deserialization failures, and empty TLS frames in metrics
  oak_private_memory/app/handler.rs
  oak_private_memory/app/service.rs
  oak_private_memory/src/metrics.rs
Due: rustfmt, sourcelic

Add custom certificate verification to oak_session/tls
  oak_private_memory/test/tls_client_test.rs
  oak_session/tls/BUILD
  oak_session/tls/README.md
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/oak_session_tls_test.cc
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
  oak_session/tls/rust/test_wrapper.rs
Due: bazellic, clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Find memories without timestamp in get_all_memory_ids by checking blobId property
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Enforce positive page size for embedding search to prevent infinite loop
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Remove panic by assert
  oak_private_memory/src/external_db_client.rs
Due: rustfmt, sourcelic

Fix db save/load latency metrics.
  oak_private_memory/src/metrics.rs
Due: rustfmt, sourcelic

Fix search by name and tags to be "verbatim" rather than "plain".
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Set schema during import to make sure schema changes are handled
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Implement per-session error propagation via gRPC metadata
  oak_private_memory/app/handler.rs
  oak_private_memory/app/service.rs
  oak_private_memory/src/client.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/e2e_test.rs
Due: rustfmt, sourcelic

Add data schema change guideline and verification tool.
  oak_private_memory/database/BUILD
  oak_private_memory/database/SCHEMA_MIGRATION.md
  oak_private_memory/database/icing.rs
  oak_private_memory/database/testdata/golden_icing_export.pb
  oak_private_memory/database/tools/BUILD
  oak_private_memory/database/tools/generate_golden_export.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Escape double quotes in field values.
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Fix gen_rust_project: provide libxml2.so.2 required by bazel llvm toolchain.
  flake.nix
Due: nix

Set up continuous GH build for endorscope_cli.
  .github/workflows/build.yaml
  buildconfigs/endorscope_cli.sh
  justfiles/github.just
Due: prettier

cleanroom: simplify IFC to implicit model with standard WASI I/O
  cleanroom/BUILD
  cleanroom/README.md
  cleanroom/example_cells.toml
  cleanroom/example_policy.toml
  cleanroom/examples/cat_file/wasm.rs
  cleanroom/examples/crate_vendor/BUILD
  cleanroom/examples/crate_vendor/README.md
  cleanroom/examples/crate_vendor/src/main.rs
  cleanroom/examples/crate_vendor/tests/integration_test.rs
  cleanroom/examples/limited_calendar/BUILD
  cleanroom/examples/limited_calendar/README.md
  cleanroom/examples/limited_calendar/wasm.rs
  cleanroom/examples/redact_secret/wasm.rs
  cleanroom/examples/reverse/wasm.rs
  cleanroom/examples/to_uppercase/wasm.rs
  cleanroom/examples/weather/wasm.rs
  cleanroom/examples/word_count/wasm.rs
  cleanroom/sdk/lib.rs
  cleanroom/src/bin/main.rs
  cleanroom/src/client.rs
  cleanroom/src/ifc.rs
  cleanroom/src/lib.rs
  cleanroom/src/policy.rs
  cleanroom/src/principals.rs
  cleanroom/src/protocol.rs
  cleanroom/src/server.rs
  cleanroom/src/shell.rs
  cleanroom/src/wasi_ifc.rs
  cleanroom/tests/integration_test.rs
  cleanroom/tools/generate_policy/BUILD
  cleanroom/tools/generate_policy/src/main.rs
  cleanroom/wit/cleanroom-ifc.wit
  oak_file_utils/src/lib.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Place an .envrc under codelab.
  codelab/.envrc
  codelab/.gitignore
Due: none

Migrate GH action from Node.js 20 to 24.
  .github/workflows/build.yaml
Due: prettier

Remove expired oauth token used for demo
  cleanroom/example_cells.toml
Due: none

Add Upload to GitHub step.
  .github/workflows/build.yaml
Due: prettier

Mark some tests as flakey
  oak_containers/examples/hello_world/host_app/BUILD
  oak_functions_containers_launcher/BUILD
  oak_private_memory/BUILD
Due: bazellic

Do not copy buf
  stage0/src/zero_page.rs
Due: rustfmt, sourcelic

Use linked hash table instead of hardcoded address
  stage0_sev/src/platform/mod.rs
Due: rustfmt, sourcelic

Oak Session TLS Rust gRPC example
  oak_session/tls/example/grpc/client_main.cc
  oak_session/tls/example/grpc/service_impl.cc
  oak_session/tls/rust/example/grpc/BUILD
  oak_session/tls/rust/example/grpc/client.rs
  oak_session/tls/rust/example/grpc/server.rs
Due: bazellic, clang-format, rustfmt, sourcelic

Remove old outdated "Oak Standalone" SDK
  cc/containers/hello_world_enclave_app/BUILD
  cc/containers/hello_world_enclave_app/standalone_benchmark.cc
  cc/containers/hello_world_enclave_app/standalone_test.cc
  cc/containers/sdk/standalone/BUILD
  cc/containers/sdk/standalone/oak_standalone.cc
  cc/containers/sdk/standalone/oak_standalone.h
  cc/containers/sdk/standalone/oak_standalone_test.cc
  oak_containers/examples/hello_world/enclave_app/BUILD
  oak_sdk/standalone/BUILD
  oak_sdk/standalone/ffi/standalone_c.rs
  oak_sdk/standalone/standalone.rs
Due: bazellic, clang-format, rustfmt, sourcelic

Update CustomCertVerifier contract to accept standard verification results
  oak_session/tls/README.md
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/oak_session_tls_test.cc
  oak_session/tls/rust/BUILD
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
Due: bazellic, clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Revert "Fix gen_rust_project: provide libxml2.so.2 required by bazel llvm toolchain."
  flake.nix
Due: nix

Fork the TransparentEventPolicies for avs.
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: rustfmt, sourcelic

Move IoPortFactory trait to a new oak_hal crate
  oak_hal/BUILD
  oak_hal/src/lib.rs
  oak_restricted_kernel/BUILD
  oak_restricted_kernel/src/interrupts.rs
  oak_restricted_kernel/src/shutdown.rs
  oak_sev_guest/BUILD
  oak_sev_guest/src/io.rs
  oak_simple_io/src/lib.rs
  sev_serial/BUILD
  sev_serial/src/lib.rs
  stage0/BUILD
  stage0/src/cmos.rs
  stage0/src/fw_cfg.rs
  stage0/src/hal/mod.rs
  stage0/src/pci/config_access.rs
  stage0/src/pic.rs
Due: bazellic, rustfmt, sourcelic

Path conditions:
  bazellic: any of: BUILD, but not: third_party/
  bzllock: any of: MODULE.bazel$, but not: third_party/
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, but not: third_party/
  ktfmt: any of: \.(kt|kts)$, but not: third_party/
  markdownlint (Markdown files): any of: \.(md|markdown|mdown)$, but not: third_party/
  nix: any of: \.nix$, but not: third_party/
  prettier: any of: \.(yaml|yml)$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, but not: third_party/
  rustfmt: any of: \.rs$, but not: third_party/
  sourcelic: any of: \.rs$, \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, \.(kt|kts)$ and not (oak_proto_rust/generated|cc/crypto/hpke/jni) and not (third_party/)
  terraform fmt: any of: \.(tf|tfvars)$, but not: third_party/
  id: any of: MODULE.bazel$, but not: third_party/
