Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

bazellic:
  name: Add notice license to all bazel packages
  language: script
  entry: ./scripts/lint/add_bazel_license

bzllock:
  name: Make sure MODULE.bazel.lock files are fully up to date
  entry: ./scripts/lint/bazel_mod_deps
  language: script

clang-format:
  name: clang-format (C/C++, Java, Proto)
  entry: clang-format -i
  language: system

ktfmt:
  name: ktfmt (Kotlin)
  entry: ktfmt -F --google-style
  language: system

markdownlint (Markdown files):
  name: apply markdownlint for markdown files
  entry: markdownlint --fix
  language: system

nix:
  name: nixfmt (Nix)
  entry: nix fmt
  language: system

prettier:
  name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
  entry: prettier --write
  language: system

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt
  language: system

sourcelic:
  name: Add Apache License to source files
  language: script
  entry: ./scripts/lint/add_source_license

terraform fmt:
  name: terraform fmt
  entry: terraform fmt --write=true
  language: system

id:
  name: id
  language: system
  entry: echo

bound host e820 addresses in sev and tdx memory acceptance
  stage0_sev/src/platform/accept_memory.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Document Stage0 q35 machine support
  stage0_bin/README.md
Due: markdownlint (Markdown files)

Verify binding of endorser key to Rekor log entries and PES confirmation.
  tr/pes/lib.rs
  tr/pes/tests.rs
  tr/verify_endorsement/BUILD
  tr/verify_endorsement/lib.rs
Due: bazellic, rustfmt, sourcelic

Ensure pages returned by mmap() in RK are always in lower half of memory
  oak_restricted_kernel/src/syscall/mmap.rs
Due: rustfmt, sourcelic

Validate userspace-supplied addresses at the syscall boundary
  oak_restricted_kernel/src/mm/mod.rs
  oak_restricted_kernel/src/syscall/create_process.rs
  oak_restricted_kernel/src/syscall/fd.rs
  oak_restricted_kernel/src/syscall/mmap.rs
Due: rustfmt, sourcelic

Centralize userspace pointer validation in a UserSpacePtr newtype
  oak_restricted_kernel/src/mm/mod.rs
  oak_restricted_kernel/src/syscall/create_process.rs
  oak_restricted_kernel/src/syscall/fd.rs
  oak_restricted_kernel/src/syscall/mod.rs
Due: rustfmt, sourcelic

Use Option instead of empty error type for userspace pointer validation
  oak_restricted_kernel/src/mm/mod.rs
  oak_restricted_kernel/src/syscall/create_process.rs
  oak_restricted_kernel/src/syscall/fd.rs
Due: rustfmt, sourcelic

Validate userspace-supplied addresses at the syscall boundary
  oak_restricted_kernel/src/mm/mod.rs
  oak_restricted_kernel/src/syscall/create_process.rs
  oak_restricted_kernel/src/syscall/fd.rs
  oak_restricted_kernel/src/syscall/mmap.rs
  oak_restricted_kernel/src/syscall/mod.rs
Due: rustfmt, sourcelic

gate event-log verification on policies not prover endorsements
  oak_attestation_verification/src/verifiers.rs
  oak_attestation_verification/tests/policy_tests.rs
Due: rustfmt, sourcelic

Update verification to support multiple mpms.
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: rustfmt, sourcelic

Port LLVM `libc++` to Restricted Kernel.
  oak_enclave_runtime_support/README.md
  oak_enclave_runtime_support/src/llvm_libc.rs
  oak_enclave_runtime_support/tests/libcxx/BUILD
  oak_enclave_runtime_support/tests/libcxx/app/BUILD
  oak_enclave_runtime_support/tests/libcxx/app/README.md
  oak_enclave_runtime_support/tests/libcxx/app/cc/cxx_demo.cc
  oak_enclave_runtime_support/tests/libcxx/app/cc/cxx_demo.h
  oak_enclave_runtime_support/tests/libcxx/app/src/main.rs
  oak_enclave_runtime_support/tests/libcxx/integration_test.rs
  third_party/llvm_libc/BUILD
  third_party/llvm_libc/README.md
  third_party/llvm_libc/overlay/libc/config/oak/x86_64/entrypoints.txt
  third_party/llvm_libc/overlay/libc/include/bits/types/mbstate_t.h
  third_party/llvm_libc/overlay/libc/src/stdio/oak/CMakeLists.txt
  third_party/llvm_libc/overlay/libc/src/stdio/oak/feof.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/ferror.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/fprintf.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/fputc.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/fputs.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/fread.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/fwrite.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/vfprintf.cpp
  third_party/llvm_libc/overlay/libc/src/time/oak/CMakeLists.txt
  third_party/llvm_libc/overlay/libc/src/time/oak/timespec_get.cpp
Due: bazellic, clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Add Android manifest to Oak Session TLS android library target
  java/src/main/java/com/google/oak/session/tls/AndroidManifest.xml
  java/src/main/java/com/google/oak/session/tls/BUILD
Due: bazellic

Do not fail verification if no packages are measured.
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: rustfmt, sourcelic

private_memory: move session setup to KeySync
  oak_private_memory/app/BUILD
  oak_private_memory/app/handler.rs
Due: bazellic, rustfmt, sourcelic

private_memory: make deletion O(1) in corpus size
  oak_private_memory/analysis/BUILD
  oak_private_memory/analysis/delete_benchmark.rs
  oak_private_memory/analysis/delete_benchmark_report.md
  oak_private_memory/database/icing.rs
  oak_private_memory/src/icing/ffi_bridge.rs
  oak_private_memory/src/icing/ffi_wrapper.h
Due: bazellic, clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Remove the vendored monolithic `boringssl.patch`.
  third_party/boringssl/boringssl.patch
Due: none

reject non-text kernel command line in extract_kernel_values
  oak_attestation_verification/src/extract.rs
Due: rustfmt, sourcelic

Verify entire HashedRekord for c2sp.
  tr/c2sp/lib.rs
  tr/rekor/log_entry.rs
  tr/verify_endorsement/lib.rs
Due: rustfmt, sourcelic

Remove unused import from certificate.proto
  proto/crypto/certificate.proto
Due: clang-format, sourcelic

test: add expected_server_name tests for custom SAN verification in C++
  oak_session/tls/oak_session_tls_test.cc
Due: clang-format, sourcelic

Add features to the Restricted Kernel `libc` port that BoringSSL needs
  third_party/llvm_libc/BUILD
  third_party/llvm_libc/README.md
  third_party/llvm_libc/overlay/libc/config/oak/x86_64/entrypoints.txt
  third_party/llvm_libc/overlay/libc/config/oak/x86_64/headers.txt
  third_party/llvm_libc/overlay/libc/src/stdio/oak/CMakeLists.txt
  third_party/llvm_libc/overlay/libc/src/stdio/oak/fclose.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/fflush.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/fgets.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/fseek.cpp
  third_party/llvm_libc/overlay/libc/src/stdio/oak/ftell.cpp
  third_party/llvm_libc/overlay/libc/src/stdlib/oak/CMakeLists.txt
  third_party/llvm_libc/overlay/libc/src/stdlib/oak/getenv.cpp
  third_party/llvm_libc/overlay/libc/src/time/oak/CMakeLists.txt
  third_party/llvm_libc/overlay/libc/src/time/oak/time.cpp
  third_party/llvm_libc/patches/oak_cmake.patch
Due: none

Use BioReadAll in GetTLSFrame to prevent partial TLS reads
  oak_session/tls/oak_session_tls.cc
Due: clang-format, sourcelic

Fix SSL_do_handshake response handling
  oak_session/tls/oak_session_tls.cc
Due: clang-format, sourcelic

Remove unused build dep oak_containers_orchestrator --> oak_attestation_verification.
  oak_containers/orchestrator/BUILD
Due: bazellic

Include .snp_hash_table section into layout
  stage0_bin/layout.ld
Due: none

Populate list of endorsements with empty messages
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: rustfmt, sourcelic

Remove unused cc/containers:oak_session target and code
  cc/containers/sdk/BUILD
  cc/containers/sdk/oak_session.cc
  cc/containers/sdk/oak_session.h
Due: bazellic, clang-format, sourcelic

Fix infinite loop on clean SSL shutdown in SslReadAll
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/oak_session_tls_test.cc
Due: clang-format, sourcelic

Support multiple Oak Session TLS trust anchors.
  java/src/main/java/com/google/oak/session/tls/OakSessionTlsContext.kt
  java/src/test/java/com/google/oak/session/tls/OakSessionTlsTest.kt
  oak_session/tls/BUILD
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/util.cc
  oak_session/tls/util.h
Due: bazellic, clang-format, ktfmt, sourcelic

Defend against a page aliasing attack in Stage0
  stage0_sev/src/platform/accept_memory.rs
Due: rustfmt, sourcelic

Invalidate RMP pages on SEV-SNP when sharing
  oak_hal/src/lib.rs
  oak_restricted_kernel/src/memory.rs
  oak_restricted_kernel_sev/src/sev.rs
  oak_restricted_kernel_tdx/src/tdx.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0/src/paging.rs
  stage0_sev/src/platform/accept_memory.rs
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

chore: Add detailed logging for SSL failure
  oak_session/tls/BUILD
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls_test.cc
Due: bazellic, clang-format, sourcelic

Tag Oak Containers integrations tests an manual
  oak_containers/examples/hello_world/host_app/BUILD
  oak_functions_containers_launcher/BUILD
Due: bazellic

Revert "Invalidate RMP pages on SEV-SNP when sharing"
  oak_hal/src/lib.rs
  oak_restricted_kernel/src/memory.rs
  oak_restricted_kernel_sev/src/sev.rs
  oak_restricted_kernel_tdx/src/tdx.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0/src/paging.rs
  stage0_sev/src/platform/accept_memory.rs
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Path conditions:
  bazellic: any of: BUILD, but not: third_party/
  bzllock: any of: MODULE.bazel$, but not: third_party/
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, but not: third_party/
  ktfmt: any of: \.(kt|kts)$, but not: third_party/
  markdownlint (Markdown files): any of: \.(md|markdown|mdown)$, but not: third_party/
  nix: any of: \.nix$, but not: third_party/
  prettier: any of: \.(yaml|yml)$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, but not: third_party/
  rustfmt: any of: \.rs$, but not: third_party/
  sourcelic: any of: \.rs$, \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, \.(kt|kts)$ and not (oak_proto_rust/generated|cc/crypto/hpke/jni) and not (third_party/)
  terraform fmt: any of: \.(tf|tfvars)$, but not: third_party/
  id: any of: MODULE.bazel$, but not: third_party/
