Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clang-format, prettier, ktfmt, markdownlint (Markdown files), nix, terraform fmt, bazellic, sourcelic

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix.
repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]
      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]
      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]
      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]
      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]
      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]
      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system
      - id: shellcheck (Shell Script Files)
        name: apply shellcheck for shell scripts
        entry: shellcheck --external-sources --exclude=SC2155
        language: system
        types: [shell]
      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]
      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]
      - id: badtodo
        name: Bad TODOs
        language: system
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/validate_todos
        types_or:
          [
            rust,
            c,
            c++,
            proto,
            java,
            yaml,
            html,
            javascript,
            ts,
            css,
            scss,
            dockerfile,
            kotlin,
            markdown,
            shell,
          ]
      - id: bazellic
        name: Add notice license to all bazel packages
        language: system
        entry: ./scripts/add_bazel_license
        files: BUILD
      - id: sourcelic
        name: Add Apache License to source files
        language: system
        entry: ./scripts/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo

Fix icing search tests
  oak_private_memory/BUILD
Due: bazellic

Add MODULE.bazel.lock update to pre-commit
  .pre-commit-config.yaml
  scripts/bazel_mod_deps
Due: prettier

Don't sort by timestamp when embedding search is involved
  oak_private_memory/database/icing.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/test/search_test.rs
Due: rustfmt, clang-format, sourcelic

Parse and verify certificate for AmdSevSnpTransparentDiceAttestationVerifier
  oak_attestation_verification/src/results.rs
  oak_attestation_verification/src/verifier.rs
  oak_attestation_verification/src/verifiers.rs
Due: rustfmt, sourcelic

Add hashing benchmarks
  oak_benchmarks/benchmark/BUILD
  oak_benchmarks/benchmark/cpu/hashing.rs
  oak_benchmarks/benchmark/cpu/mod.rs
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/benchmark/tests.rs
  oak_benchmarks/benchmark/timer.rs
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/linux_enclave_app/main.rs
  oak_benchmarks/oak_enclave_app/main.rs
  oak_benchmarks/proto/benchmark.proto
Due: rustfmt, clang-format, bazellic, sourcelic

Add memory benchmarks
  FORCE_CI
  oak_benchmarks/benchmark/BUILD
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/memory/alloc_churn.rs
  oak_benchmarks/benchmark/memory/array_update.rs
  oak_benchmarks/benchmark/memory/hashmap.rs
  oak_benchmarks/benchmark/memory/mod.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/benchmark/tests.rs
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/linux_enclave_app/main.rs
  oak_benchmarks/proto/benchmark.proto
Due: rustfmt, clang-format, bazellic, sourcelic

Introduce new Wasm logic that handles JSON.
  oak_functions/examples/key_value_lookup_with_json/BUILD
  oak_functions/examples/key_value_lookup_with_json/README.md
  oak_functions/examples/key_value_lookup_with_json/module/lib.rs
Due: rustfmt, markdownlint (Markdown files), bazellic, sourcelic

Add a `<` mark on lower-than-expected crate versions
  scripts/analyze_crate_versions.py
Due: none

Attempt to fix GitHub build failure.
  scripts/docker_run
Due: none

Remove use of crate_name on copybara-imported code.
  oak_attestation_gcp/BUILD
  trex/doremint/BUILD
  util/digest/BUILD
Due: bazellic

Extend endorscope_cli to list by claim.
  tr/endorscope/BUILD
  tr/endorscope/storage.rs
  tr/endorscope_cli/list.rs
  util/digest/lib.rs
Due: rustfmt, bazellic, sourcelic

Add a top-level README file for Benchmarks
  oak_benchmarks/README.md
  oak_benchmarks/linux_vm/README.md
Due: markdownlint (Markdown files)

Implement a Python library for label operations in IFC
  mcp/ifc/labels/README.md
  mcp/ifc/labels/__init__.py
  mcp/ifc/labels/error.py
  mcp/ifc/labels/label.py
  mcp/ifc/labels/privilege.py
  mcp/ifc/labels/tests/__init__.py
  mcp/ifc/labels/tests/test_labels.py
Due: markdownlint (Markdown files)

More pre-commit improvements
  .pre-commit-config.yaml
  scripts/add_bazel_license
  scripts/lint/add_bazel_license
  scripts/lint/add_source_license
  scripts/lint/bazel_mod_deps
  scripts/lint/validate_todos
Due: prettier

Provide getter for the `user_data_payload`.
  oak_attestation_verification/src/results.rs
Due: rustfmt, sourcelic

Switch to using associated types for session ProtocolEngine
  oak_benchmarks/oak_paper/crypto_channel/message_stream.rs
  oak_proxy/client/src/main.rs
  oak_proxy/lib/src/proxy.rs
  oak_proxy/server/src/main.rs
  oak_session/src/attestation.rs
  oak_session/src/channel.rs
  oak_session/src/handshake.rs
  oak_session/src/lib.rs
  oak_session/src/session.rs
Due: rustfmt, sourcelic

Allow repeated list mode flags to endorscope_cli.
  tr/endorscope_cli/list.rs
Due: rustfmt, sourcelic

Improve shell checking/linting
  .pre-commit-config.yaml
  .shellcheckrc
  ctf_sha2/confidential_space/deploy_workload.sh
  experiments/tls-over-grpc/client_server_test.sh
  experiments/tls-over-grpc/generate_keys.sh
  flake.nix
  kokoro/helpers/common.sh
  kokoro/runners/helpers.sh
  oak_attestation_integration_tests/update_testdata_assert_no_breaking_changes
  oak_benchmarks/linux_vm/download_base_image.sh
  oak_benchmarks/linux_vm/prepare_image.sh
  oak_benchmarks/linux_vm/run_vm.sh
  oak_containers/launcher/nswrap.sh
  oak_containers/system_image/base/build-base.sh
  oak_functions_containers_launcher/tests/run_integration_test.sh
  oak_functions_standalone/push_and_run_debug_instance.sh
  oak_session/examples/e10_confidential_space_client_server/main_test.sh
  oak_session/examples/e1_unattested_pair/main_test.sh
  oak_session/examples/e2_unattested_pair_client_server/main_test.sh
  oak_session/tls/example/grpc/client_server_test.sh
  scripts/build_reproducibility_index
  scripts/docker_pull
  scripts/docker_push
  scripts/docker_run
  scripts/docker_sh
  scripts/export_container_bundle
  scripts/fix_docker_user_and_run
  scripts/format_doc
  scripts/fuzz
  scripts/git_check_diff
  scripts/git_clean
  scripts/git_init
  scripts/lint/add_bazel_license
  scripts/lint/add_source_license
  scripts/lint/bazel_mod_deps
  scripts/lint/validate_todos
  scripts/publish
  scripts/test_buildconfigs
  trex/doremint/cli_tests.sh
Due: prettier, nix

Switch to streaming database method
  oak_private_memory/app/handler.rs
  oak_private_memory/app/persistence_worker.rs
  oak_private_memory/src/external_db_client.rs
Due: rustfmt, sourcelic

Add parser and verifier for C2SP t-log proofs.
  Cargo.bazel.lock
  Cargo_no_std.bazel.lock
  Cargo_no_std_no_avx.bazel.lock
  bazel/crates/oak_crates.bzl
  cargo-bazel-lock.json
  cargo-no-std-bazel-lock.json
  cargo-no-std-no-avx-bazel-lock.json
  codelab/Cargo.bazel.lock
  codelab/Cargo_no_std.bazel.lock
  codelab/Cargo_no_std_no_avx.bazel.lock
  codelab/cargo-bazel-lock.json
  codelab/cargo-no-std-bazel-lock.json
  codelab/cargo-no-std-no-avx-bazel-lock.json
  oak_private_memory/Cargo.bazel.lock
  oak_private_memory/Cargo_no_std.bazel.lock
  oak_private_memory/Cargo_no_std_no_avx.bazel.lock
  oak_private_memory/cargo-bazel-lock.json
  oak_private_memory/cargo-no-std-bazel-lock.json
  oak_private_memory/cargo-no-std-no-avx-bazel-lock.json
  tr/tessera/BUILD
  tr/tessera/lib.rs
  tr/tessera/testdata/test.tlog-proof
Due: rustfmt, bazellic, sourcelic

Enable dummy attestation
  oak_private_memory/BUILD
  oak_private_memory/app/service.rs
  oak_private_memory/src/attestation.rs
  oak_private_memory/src/attestation_testing.rs
  oak_private_memory/src/client.rs
  oak_private_memory/src/main.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/test_utils.rs
Due: rustfmt, bazellic, sourcelic

Improve `just format` helpers.
  justfile
  scripts/format_changed_files
Due: none

Fix some hash inconsistencies
  bazel/rust/defs.bzl
  bazel/rust/get_sha256s.sh
Due: none

Rust implementation of oak_session/tls
  oak_session/tls/oak_session_tls_test.cc
  oak_session/tls/rust/BUILD
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
  oak_session/tls/testing/BUILD
  oak_session/tls/testing/ca.key
  oak_session/tls/testing/ca.pem
  oak_session/tls/testing/client.key
  oak_session/tls/testing/client.pem
  oak_session/tls/testing/server.key
  oak_session/tls/testing/server.pem
Due: rustfmt, clang-format, bazellic, sourcelic

Align SEV metadata to 16 bytes
  stage0_bin/layout.ld
Due: none

Provide real evidence
  oak_private_memory/BUILD
  oak_private_memory/src/attestation.rs
  oak_private_memory/src/main.rs
Due: rustfmt, bazellic, sourcelic

Use directory based instead of file based endorsement index
  AGENTS.md
  mcp_proxy/BUILD
  mcp_proxy/README.md
  mcp_proxy/config.rs
  mcp_proxy/config.toml
  mcp_proxy/main.rs
  trex/client/BUILD
  trex/client/src/cosign.rs
  trex/client/src/fs.rs
  trex/client/src/http.rs
  trex/client/src/lib.rs
  trex/doremint/README.md
  trex/doremint/cli_tests.sh
  trex/doremint/src/blob/endorse.rs
  trex/doremint/src/blob/verify.rs
  trex/doremint/src/main.rs
  trex/doremint/src/repository.rs
Due: rustfmt, markdownlint (Markdown files), bazellic, sourcelic

Change Oak Containers network interfaces to match on MAC addresses
  oak_containers/launcher/src/qemu.rs
  oak_containers/system_image/base/files/etc/systemd/network/enx42000a00020f.network
  oak_containers/system_image/base/files/etc/systemd/network/enx62010a00020f.network
  oak_containers/system_image/base/files/etc/systemd/network/oak.link
Due: rustfmt, sourcelic

Make the created_timestamp server managed
  oak_private_memory/BUILD
  oak_private_memory/app/handler.rs
  oak_private_memory/app/service.rs
  oak_private_memory/database/clock.rs
  oak_private_memory/database/database_with_cache.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/database/lib.rs
  oak_private_memory/src/main.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/server_e2e_test.rs
  oak_private_memory/test/test_utils.rs
Due: rustfmt, bazellic, sourcelic

Update Oak Functions MCP example.
  mcp/oak_functions_mcp/BUILD
  mcp/oak_functions_mcp/src/main.rs
  mcp/oak_functions_mcp/src/service.rs
  oak_functions/examples/key_value_lookup_with_json/module/lib.rs
Due: rustfmt, bazellic, sourcelic

Change stage1 to be tolerant of no eth0 device on the system
  oak_containers/stage1/src/lib.rs
Due: rustfmt, sourcelic

Fix some of the issues with making Oak Containers IPv6-capable.
  MODULE.bazel
  oak_containers/orchestrator/src/lib.rs
  oak_containers/syslogd/src/main.rs
  oak_containers/system_image/base/files/etc/systemd/network/10-oak.link
  oak_containers/system_image/base/files/etc/systemd/network/enx620000020015.network
  oak_containers/system_image/base/files/etc/systemd/system/oak-agent.service
  oak_containers/system_image/base/files/etc/systemd/system/oak-syslogd.service
Due: rustfmt, sourcelic

Make Oak Containers stage1 retry launcher connection a couple of times
  oak_containers/stage1/src/lib.rs
Due: rustfmt, sourcelic

Ensure we're talking to the launcher over IPv4 or IPv6 in the test
  oak_containers/launcher/src/lib.rs
  oak_containers/launcher/src/qemu.rs
  oak_functions_containers_launcher/tests/integration_test.rs
Due: rustfmt, sourcelic

Listen for logs on the virtio-vsock socket as well
  oak_containers/launcher/src/server.rs
Due: rustfmt, sourcelic

Fix oak_launcher visibility
  oak_containers/launcher/BUILD
Due: bazellic

Get the virtio-vsock test to work again
  oak_containers/launcher/src/lib.rs
  oak_containers/launcher/src/qemu.rs
  oak_functions_containers_launcher/tests/integration_test.rs
Due: rustfmt, sourcelic

Set schema during import to make sure schema changes are handled
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Add claims for file in MPM, MPM version, configuration.
  docs/tr/claim/31544.md
  docs/tr/claim/31545.md
  docs/tr/claim/42362.md
  docs/tr/claim/README.md
Due: markdownlint (Markdown files)

Fix Merkle chain verification.
  tr/tessera/lib.rs
Due: rustfmt, sourcelic
