Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

bazellic:
  name: Add notice license to all bazel packages
  language: script
  entry: ./scripts/lint/add_bazel_license

bzllock:
  name: Make sure MODULE.bazel.lock files are fully up to date
  entry: ./scripts/lint/bazel_mod_deps
  language: script

clang-format:
  name: clang-format (C/C++, Java, Proto)
  entry: clang-format -i
  language: system

ktfmt:
  name: ktfmt (Kotlin)
  entry: ktfmt -F --google-style
  language: system

markdownlint (Markdown files):
  name: apply markdownlint for markdown files
  entry: markdownlint --fix
  language: system

nix:
  name: nixfmt (Nix)
  entry: nix fmt
  language: system

prettier:
  name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
  entry: prettier --write
  language: system

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt
  language: system

sourcelic:
  name: Add Apache License to source files
  language: script
  entry: ./scripts/lint/add_source_license

terraform fmt:
  name: terraform fmt
  entry: terraform fmt --write=true
  language: system

id:
  name: id
  language: system
  entry: echo

feat(oak_proxy): verify saved attestations offline
  oak_attestation_verification_cli/BUILD
  oak_attestation_verification_cli/src/main.rs
  oak_proxy/BUILD
  oak_proxy/client/BUILD
  oak_proxy/client/src/main.rs
  oak_proxy/tests/integration_test.rs
  oak_trusted_agent/demo/mcp/README.md
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

feat(oak_trusted_agent): add agent CLI
  oak_trusted_agent/cli/BUILD
  oak_trusted_agent/cli/README.md
  oak_trusted_agent/cli/proxy_client.toml
  oak_trusted_agent/cli/src/main.rs
  oak_trusted_agent/cli/tests/cli_test.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

feat(oak_trusted_agent): keep conversation history in the guest agent
  oak_trusted_agent/sandbox/guest/agent_ts/src/agent.ts
  oak_trusted_agent/sandbox/guest/agent_ts/src/agent_test.ts
Due: prettier, sourcelic

own hpke and aead contexts with bssl::UniquePtr in cc/crypto/hpke
  cc/crypto/hpke/recipient_context.cc
  cc/crypto/hpke/recipient_context.h
  cc/crypto/hpke/recipient_context_test.cc
  cc/crypto/hpke/sender_context.cc
  cc/crypto/hpke/sender_context.h
  cc/crypto/hpke/sender_context_test.cc
  cc/crypto/hpke/utils.cc
  cc/crypto/hpke/utils.h
Due: clang-format, sourcelic

fix(oak_trusted_agent): use a Debian 13 base for the MCP server image
  oak_trusted_agent/mcp/server/BUILD
Due: bazellic

feat(oak_trusted_agent): label CLI turns with user$ and trusted-agent$
  oak_trusted_agent/cli/README.md
  oak_trusted_agent/cli/src/main.rs
  oak_trusted_agent/cli/tests/cli_test.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

fix(oak_trusted_agent): apply the system prompt from SYSTEM_PROMPT_URL
  oak_trusted_agent/agent/BUILD
  oak_trusted_agent/agent/src/lib.rs
  oak_trusted_agent/agent/src/main.rs
Due: bazellic, rustfmt, sourcelic

Add gemma4:31b-it-qat targets and eval demo
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
  oak_trusted_agent/agent/README.md
  oak_trusted_agent/demo/model/README.md
  oak_trusted_agent/demo/model/get.sh
  oak_trusted_agent/demo/model/run.sh
  oak_trusted_agent/demo/model/terraform.tfvars
  oak_trusted_agent/demo/model/verify.sh
  oak_trusted_agent/eval/BUILD
  oak_trusted_agent/eval/README.md
  oak_trusted_agent/eval/terraform/variables.tf
  oak_trusted_agent/model/BUILD
  oak_trusted_agent/model/README.md
  oak_trusted_agent/model/terraform/variables.tf
  oak_trusted_agent/provenance/README.md
  oak_trusted_agent/provenance/verifier/BUILD
  oak_trusted_agent/provenance/verifier/main.rs
  oak_trusted_agent/provenance/verifier/report.rs
  oak_trusted_agent/provenance/verifier/tests.rs
Due: bazellic, bzllock, markdownlint (Markdown files), rustfmt, sourcelic, terraform fmt, id

pair mpm reference values with packages by index
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: rustfmt, sourcelic

Default oak_trusted_agent/model Terraform to H100
  oak_trusted_agent/model/README.md
  oak_trusted_agent/model/terraform/variables.tf
Due: markdownlint (Markdown files), terraform fmt

feat(oak_trusted_agent): color CLI turn labels and italicize replies
  oak_trusted_agent/cli/BUILD
  oak_trusted_agent/cli/README.md
  oak_trusted_agent/cli/src/main.rs
  oak_trusted_agent/cli/tests/cli_test.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Fix formatting
  oak_trusted_agent/demo/model/README.md
  oak_trusted_agent/provenance/verifier/tests.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

feat(oak_trusted_agent): show CLI replies in light green
  oak_trusted_agent/cli/README.md
  oak_trusted_agent/cli/src/main.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Run full AgentDojo travel suite with important_instructions attack
  oak_trusted_agent/demo/model/README.md
  oak_trusted_agent/demo/model/read.sh
  oak_trusted_agent/demo/model/run.sh
  oak_trusted_agent/demo/model/verify.sh
  oak_trusted_agent/eval/benchmarks/agentdojo/__init__.py
  oak_trusted_agent/provenance/README.md
  oak_trusted_agent/provenance/verifier/BUILD
  oak_trusted_agent/provenance/verifier/main.rs
  oak_trusted_agent/provenance/verifier/reader.rs
  oak_trusted_agent/provenance/verifier/report.rs
  oak_trusted_agent/provenance/verifier/tests.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Revert BUILD mechanism per review: include the library from the test file
  oak_session/tls/rust/BUILD
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
Due: bazellic, rustfmt, sourcelic

bound elf segment source range and reject non-canonical p_vaddr
  oak_restricted_kernel/src/processes.rs
Due: rustfmt, sourcelic

feat(oak_trusted_agent): use high-contrast CLI colors
  oak_trusted_agent/cli/README.md
  oak_trusted_agent/cli/src/main.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Add top-level README.md for oak_trusted_agent
  oak_trusted_agent/README.md
Due: markdownlint (Markdown files)

Update README.md files in oak_trusted_agent
  oak_trusted_agent/agent/README.md
  oak_trusted_agent/demo/agent/data/README.md
  oak_trusted_agent/demo/model/README.md
  oak_trusted_agent/mcp/README.md
  oak_trusted_agent/mcp/proxy/README.md
  oak_trusted_agent/model/README.md
  oak_trusted_agent/provenance/README.md
  oak_trusted_agent/sandbox/README.md
  oak_trusted_agent/sandbox/guest/agent_ts/README.md
Due: markdownlint (Markdown files)

feat: support multiple PES signatures in PublicEndorsement
  tr/pes/lib.rs
  tr/pes/tests.rs
Due: rustfmt, sourcelic

fix(sealed_memory): handle registration race
  oak_private_memory/app/handler.rs
  oak_private_memory/src/external_db_client.rs
  oak_private_memory/test/database/service.rs
Due: rustfmt, sourcelic

fix(oak_session/tls): include oak_session_tls.rs in test srcs
  oak_session/tls/rust/BUILD
Due: bazellic

fix(c2sp): enforce policy-wide group membership
  tr/c2sp/policy.rs
Due: rustfmt, sourcelic

Update wasmtime to fix vulnerabilities
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
Due: bzllock, id

Path conditions:
  bazellic: any of: BUILD, but not: third_party/
  bzllock: any of: MODULE.bazel$, but not: third_party/
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, but not: third_party/
  ktfmt: any of: \.(kt|kts)$, but not: third_party/
  markdownlint (Markdown files): any of: \.(md|markdown|mdown)$, but not: third_party/
  nix: any of: \.nix$, but not: third_party/
  prettier: any of: \.(yaml|yml)$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, but not: third_party/
  rustfmt: any of: \.rs$, but not: third_party/
  sourcelic: any of: \.rs$, \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, \.(kt|kts)$ and not (oak_proto_rust/generated|cc/crypto/hpke/jni) and not (third_party/)
  terraform fmt: any of: \.(tf|tfvars)$, but not: third_party/
  id: any of: MODULE.bazel$, but not: third_party/
