Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix, or
# they are scripts in our scripts/ directory.
repos:
  - repo: local
    hooks:
      # Keep these sorted by id alphabetically, except for `id` which should stay at the end.
      - id: badtodo
        name: Bad TODOs
        language: script
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/lint/validate_todos
        # prettier-ignore
        types_or:
          [rust, c, c++, proto, java, yaml, html, javascript, ts, css, scss, dockerfile, kotlin, markdown, shell]

      - id: bazellic
        name: Add notice license to all bazel packages
        language: script
        entry: ./scripts/lint/add_bazel_license
        files: BUILD

      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]

      - id: bzllock
        name: Make sure MODULE.bazel.lock files are fully up to date
        entry: ./scripts/lint/bazel_mod_deps
        language: script
        files: MODULE.bazel$

      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]

      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]

      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system

      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]

      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]

      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]

      - id: shellcheck
        name: shellcheck (shell script files)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (shell script files)
        language: system
        entry: shfmt --indent 2 --case-indent --binary-next-line --simplify -w
        types: [shell]

      - id: sourcelic
        name: Add Apache License to source files
        language: script
        entry: ./scripts/lint/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo
        files: MODULE.bazel$

Add a pointer chase latency benchmark
  oak_benchmarks/benchmark/BUILD
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/memory/mod.rs
  oak_benchmarks/benchmark/memory/pointer_chase.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/proto/benchmark.proto
Due: bazellic, clang-format, rustfmt, sourcelic

Correct the README on SHA-NI
  oak_benchmarks/README.md
Due: markdownlint (Markdown files)

Ignore the gitignored tmp directory in Bazel
  .bazelignore
Due: none

Report ns/op and ticks/byte, and name the timebase
  oak_benchmarks/README.md
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/cli_common/lib.rs
  oak_benchmarks/cli_common/results.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_enclave_app/main.rs
  oak_benchmarks/oak_cli/main.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Insert a distinct key per hash-map iteration
  oak_benchmarks/README.md
  oak_benchmarks/benchmark/memory/hashmap.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/scripts/run_matrix.sh
Due: markdownlint (Markdown files), rustfmt, sourcelic

Count the Vec header in the hash-map footprint
  oak_benchmarks/benchmark/memory/hashmap.rs
Due: rustfmt, sourcelic

Report repetitions as a median with quartiles
  oak_benchmarks/README.md
  oak_benchmarks/cli_common/BUILD
  oak_benchmarks/cli_common/dispersion.rs
  oak_benchmarks/cli_common/lib.rs
  oak_benchmarks/cli_common/results.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_enclave_app/main.rs
  oak_benchmarks/oak_cli/main.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Check that a matrix run's platforms are comparable
  oak_benchmarks/README.md
  oak_benchmarks/benchmark/cpu/mod.rs
  oak_benchmarks/scripts/BUILD
  oak_benchmarks/scripts/check_matrix.py
  oak_benchmarks/scripts/check_matrix_test.py
  oak_benchmarks/scripts/run_matrix.sh
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Fold the ciphertext in the AEAD open benchmark
  oak_benchmarks/README.md
  oak_benchmarks/benchmark/cpu/aead.rs
  oak_benchmarks/benchmark/cpu/hashing.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Pin the benchmark matrix to a fixed core set
  oak_benchmarks/README.md
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_cli/vm.rs
  oak_benchmarks/scripts/run_matrix.sh
Due: markdownlint (Markdown files), rustfmt, sourcelic

Make the checksums witness the timed loop
  oak_benchmarks/README.md
  oak_benchmarks/benchmark/cpu/aead.rs
  oak_benchmarks/benchmark/cpu/eddsa.rs
  oak_benchmarks/benchmark/cpu/hashing.rs
  oak_benchmarks/benchmark/cpu/signing.rs
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/memory/alloc_churn.rs
  oak_benchmarks/benchmark/memory/array_update.rs
  oak_benchmarks/benchmark/tests.rs
  oak_benchmarks/cli_common/results.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Add a cold boot latency benchmark
  oak_benchmarks/README.md
  oak_benchmarks/scripts/BUILD
  oak_benchmarks/scripts/boot_latency.py
  oak_benchmarks/scripts/boot_latency.sh
  oak_benchmarks/scripts/boot_latency_test.py
  oak_benchmarks/scripts/boot_phases.py
  oak_benchmarks/scripts/tune_vm_image.sh
Due: bazellic, markdownlint (Markdown files)

Measure time to first response in both runners
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_cli/vm.rs
  oak_benchmarks/oak_cli/main.rs
Due: rustfmt, sourcelic

Give the benchmark binaries SHA-NI
  oak_benchmarks/BUILD
  oak_benchmarks/README.md
  oak_benchmarks/defs.bzl
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_enclave_app/BUILD
  oak_benchmarks/linux_enclave_app/defs.bzl
  oak_benchmarks/oak_enclave_app/BUILD
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Mark the SHA1 hashes as deprecated.
  oak_attestation_explain/src/json_serialization.rs
  oak_proto_rust/generated/oak.rs
  proto/digest.proto
  util/digest/digest.rs
  util/digest/json.rs
  util/digest/proto.rs
Due: clang-format, rustfmt, sourcelic

Raise the matrix repetition count, add the SNP legs, and build first
  oak_benchmarks/scripts/run_matrix.sh
Due: none

Record which TSC frequency scaled each result
  oak_benchmarks/README.md
  oak_benchmarks/cli_common/results.rs
  oak_benchmarks/cli_common/tsc.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_enclave_app/main.rs
  oak_benchmarks/oak_cli/main.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Update benchmarks and add 100MB size
  oak_benchmarks/linux_vm/run_vm.sh
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/crypto_channel_benchmark_report.md
  oak_benchmarks/oak_paper/crypto_channel/process_benchmarks.py
  oak_benchmarks/oak_paper/crypto_channel/rk_launcher.rs
  oak_benchmarks/oak_paper/crypto_channel/throughput_graph.png
Due: markdownlint (Markdown files), rustfmt, sourcelic

Add claims with annotations validation to transparent release
  oak_attestation_explain/src/json_serialization.rs
  oak_attestation_verification/test_util/endorsement_data.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/reference_value.proto
  tr/intoto/statement.rs
  tr/intoto/tests.rs
  tr/verify_endorsement/lib.rs
  trex/client/BUILD
  trex/client/src/lib.rs
  trex/doremint/BUILD
  trex/doremint/src/image/verify.rs
Due: bazellic, clang-format, rustfmt, sourcelic

fix(oak_session): SAN check bypass in attestation-only CustomOnlyServerCertVerifier
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
Due: rustfmt, sourcelic

Stop calling the crypto_channel TLS leg BoringSSL
  oak_benchmarks/oak_paper/crypto_channel/BUILD
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/crypto_channel_benchmark_report.md
  oak_benchmarks/oak_paper/crypto_channel/linux_main.rs
  oak_benchmarks/oak_paper/crypto_channel/linux_server.rs
  oak_benchmarks/oak_paper/crypto_channel/process_benchmarks.py
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Stop charging connection teardown to the Setup measurement
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Disable Nagle on the crypto_channel sockets
  oak_benchmarks/oak_paper/crypto_channel/BUILD
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/linux_server.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Serve many messages per channel, and add the persistent-channel arm
  oak_benchmarks/oak_paper/crypto_channel/BUILD
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/linux_server.rs
  oak_benchmarks/oak_paper/crypto_channel/message_stream.rs
  oak_benchmarks/oak_paper/crypto_channel/rk_app.rs
  oak_benchmarks/oak_paper/crypto_channel/rk_launcher.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Measure crypto_channel handshake latency, and stop charging it to TLS
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Stop the rustls leg resuming its TLS sessions
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Say what the crypto_channel Setup comparison actually measures
  oak_benchmarks/oak_paper/crypto_channel/BUILD
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/p256_cost.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Sweep the message-exchange payload instead of measuring one byte
  oak_benchmarks/oak_paper/crypto_channel/BUILD
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/attestation.rs
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/crypto_channel_benchmark_report.md
  oak_benchmarks/oak_paper/crypto_channel/message_stream.rs
  oak_benchmarks/oak_paper/crypto_channel/p256_cost.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Frame the length prefix and body into a single write
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/linux_server.rs
  oak_benchmarks/oak_paper/crypto_channel/message_stream.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Give every leg a read buffer, so a message costs one read where it can
  oak_benchmarks/oak_paper/crypto_channel/BUILD
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/linux_main.rs
  oak_benchmarks/oak_paper/crypto_channel/linux_server.rs
  oak_benchmarks/oak_paper/crypto_channel/message_stream.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Drop the `sha1` fields altogether.
  oak_attestation_explain/src/json_serialization.rs
  oak_proto_rust/generated/oak.rs
  proto/digest.proto
  util/digest/digest.rs
  util/digest/json.rs
  util/digest/proto.rs
Due: clang-format, rustfmt, sourcelic

Add PesEndorsementReferenceValue message and PES endorsement verification in tr/pes
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/reference_value.proto
  tr/pes/BUILD
  tr/pes/lib.rs
  tr/pes/tests.rs
  tr/verify_endorsement/lib.rs
Due: bazellic, clang-format, rustfmt, sourcelic

fix(oak_session): TLS SAN, expiry, and signature validation bypass in C++ SDK
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls_test.cc
Due: clang-format, sourcelic

Integrate PES endorsement verification into oak_attestation_verification
  oak_attestation_explain/src/json_serialization.rs
  oak_attestation_gcp/BUILD
  oak_attestation_gcp/src/policy.rs
  oak_attestation_verification/BUILD
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/lib.rs
  oak_attestation_verification/test_util/endorsement_data.rs
  oak_attestation_verification/testdata/pes/endorsement.json
  oak_attestation_verification/testdata/pes/endorser_signature.sig
  oak_attestation_verification/testdata/pes/pes_root_cert.der
  oak_attestation_verification/testdata/pes/pes_signature.hex
  oak_attestation_verification/testdata/pes/tlog_receipt.binarypb
  oak_attestation_verification/testdata/pes/tlog_receipt.textproto
  oak_attestation_verification/tests/pes_endorsement_tests.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/reference_value.proto
Due: bazellic, clang-format, rustfmt, sourcelic

Keep generating keys with `LEGACY_ADDITIONAL_DATA`
  ctf_sha2/lib.rs
  oak_attestation/src/dice.rs
  oak_dice/src/cert.rs
  oak_restricted_kernel_dice/src/lib.rs
Due: rustfmt, sourcelic

fix: accept multiply-signed checkpoints
  tr/c2sp/lib.rs
  tr/c2sp/policy.rs
Due: rustfmt, sourcelic

Revert "Drop the `sha1` fields altogether."
  oak_attestation_explain/src/json_serialization.rs
  oak_proto_rust/generated/oak.rs
  proto/digest.proto
  util/digest/digest.rs
  util/digest/json.rs
  util/digest/proto.rs
Due: clang-format, rustfmt, sourcelic

Configure the `PCIEXBAR` register for q35 machines in stage0
  stage0/src/pci/machine.rs
Due: rustfmt, sourcelic

fix(oak_session): disable TLS resumption with client auth
  oak_session/tls/README.md
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls_test.cc
Due: clang-format, markdownlint (Markdown files), sourcelic

Stop building tools like `make` hermetically in bazel
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel
  oak_private_memory/MODULE.bazel.lock
Due: bzllock, id
