Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

bazellic:
  name: Add notice license to all bazel packages
  language: script
  entry: ./scripts/lint/add_bazel_license

bzllock:
  name: Make sure MODULE.bazel.lock files are fully up to date
  entry: ./scripts/lint/bazel_mod_deps
  language: script

clang-format:
  name: clang-format (C/C++, Java, Proto)
  entry: clang-format -i
  language: system

ktfmt:
  name: ktfmt (Kotlin)
  entry: ktfmt -F --google-style
  language: system

markdownlint (Markdown files):
  name: apply markdownlint for markdown files
  entry: markdownlint --fix
  language: system

nix:
  name: nixfmt (Nix)
  entry: nix fmt
  language: system

prettier:
  name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
  entry: prettier --write
  language: system

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt
  language: system

sourcelic:
  name: Add Apache License to source files
  language: script
  entry: ./scripts/lint/add_source_license

terraform fmt:
  name: terraform fmt
  entry: terraform fmt --write=true
  language: system

id:
  name: id
  language: system
  entry: echo

Checksum the hash benchmarks
  oak_benchmarks/benchmark/cpu/hashing.rs
  oak_benchmarks/benchmark/tests.rs
Due: rustfmt, sourcelic

Report cycles per operation and a CSV header
  oak_benchmarks/README.md
  oak_benchmarks/cli_common/lib.rs
  oak_benchmarks/cli_common/results.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_enclave_app/main.rs
  oak_benchmarks/oak_cli/main.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Set up the reproducibility framework
  oak_benchmarks/README.md
  oak_benchmarks/benchmark/cpu/hashing.rs
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/memory/alloc_churn.rs
  oak_benchmarks/benchmark/memory/array_update.rs
  oak_benchmarks/benchmark/memory/hashmap.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/benchmark/tests.rs
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/cli_common/lib.rs
  oak_benchmarks/cli_common/results.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_enclave_app/main.rs
  oak_benchmarks/oak_cli/main.rs
  oak_benchmarks/proto/benchmark.proto
Due: clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Mix the PCI window values into the ACPI digest
  stage0/src/acpi/mod.rs
Due: rustfmt, sourcelic

feat(oak_proxy): L7 HTTP attestation headers (re-apply)
  ctf_sha2/lib.rs
  oak_attestation_gcp/src/jwt/mod.rs
  oak_attestation_verification_cli/examples/confidential_space/generator.rs
  oak_proxy/BUILD
  oak_proxy/README.md
  oak_proxy/client/BUILD
  oak_proxy/client/src/main.rs
  oak_proxy/client/src/noise.rs
  oak_proxy/client/src/tls.rs
  oak_proxy/docs/http-mode.md
  oak_proxy/lib/BUILD
  oak_proxy/lib/src/config/mod.rs
  oak_proxy/lib/src/http.rs
  oak_proxy/lib/src/lib.rs
  oak_proxy/lib/src/proxy.rs
  oak_proxy/server/src/main.rs
  oak_proxy/server/src/noise.rs
  oak_proxy/server/src/tls.rs
  oak_proxy/tests/integration_test.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Validate the key response in stage0 `get_derived_key()`
  stage0_sev/src/platform/dice_attestation.rs
Due: rustfmt, sourcelic

Mark `get_derived_key()` as `Optional` in stage0 HAL
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0/src/lib.rs
  stage0_sev/src/platform/dice_attestation.rs
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Don't populate the `GuestMessageHeader` directly in `destination`.
  oak_sev_guest/src/crypto.rs
Due: rustfmt, sourcelic

Size the array update from the request
  oak_benchmarks/README.md
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/memory/array_update.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/benchmark/tests.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Add min_available_memory_ratio threshold to reject new session handshakes under memory pressure
  oak_private_memory/BUILD
  oak_private_memory/MODULE.bazel
  oak_private_memory/MODULE.bazel.lock
  oak_private_memory/app/BUILD
  oak_private_memory/app/lib.rs
  oak_private_memory/app/meminfo.rs
  oak_private_memory/app/service.rs
  oak_private_memory/src/metrics.rs
  oak_private_memory/test/test_utils.rs
Due: bazellic, bzllock, rustfmt, sourcelic, id

Check that the `RSP` points to user space in RK syscall handler
  oak_restricted_kernel/src/syscall/mod.rs
Due: rustfmt, sourcelic

stage0: Invalidate RMP pages before sharing under SEV-SNP
  oak_hal/src/lib.rs
  oak_restricted_kernel_sev/src/sev.rs
  oak_restricted_kernel_tdx/src/tdx.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0/src/paging.rs
  stage0_sev/src/platform/accept_memory.rs
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

docs: fix sha256 checksum format in nix installation guide
  docs/development.md
Due: markdownlint (Markdown files)

Update the `h2` crate which has a security advisory.
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
Due: bzllock, id

Improve hash collision resistance in Oak Functions hash function
  oak_functions_service/src/lookup_htbl.rs
Due: rustfmt, sourcelic

Use a hash secret in Oak Functions top-level data shards properly
  oak_functions_service/src/lookup.rs
Due: rustfmt, sourcelic

Expose some more attestation report fields for verification
  oak_attestation_explain/src/json_serialization.rs
  oak_attestation_explain/tests/explain_test.rs
  oak_attestation_verification/src/platform.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/verification.proto
Due: clang-format, rustfmt, sourcelic

Support checking alias check complete / MIT vector in verification code
  oak_attestation_explain/src/json_serialization.rs
  oak_attestation_explain/tests/explain_test.rs
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/platform.rs
  oak_attestation_verification/src/policy/platform.rs
  oak_attestation_verification/src/verifier/tests.rs
  oak_attestation_verification/test_util/factory.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  oak_sev_snp_attestation_report/src/lib.rs
  proto/attestation/expected_value.proto
  proto/attestation/reference_value.proto
Due: clang-format, rustfmt, sourcelic

Tighten validation of Intel TDX certificates
  oak_attestation_verification/src/intel.rs
  oak_attestation_verification/src/intel/tests.rs
Due: rustfmt, sourcelic

check quoting enclave identity in verify_intel_tdx_quote_validity
  oak_attestation_verification/src/intel.rs
  oak_attestation_verification/src/intel/tests.rs
Due: rustfmt, sourcelic

Include the purpose of the key in AAD
  ctf_sha2/lib.rs
  oak_attestation/src/dice.rs
  oak_attestation_verification/src/verifier.rs
  oak_attestation_verification/src/verifier/tests.rs
  oak_dice/src/cert.rs
  oak_restricted_kernel_dice/src/lib.rs
Due: rustfmt, sourcelic

Add ahash as a declared dependency
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
Due: bzllock, id

Add Icing initialization stats to SMOS
  .oak-lint-config.toml
  justfile
  oak_containers/agent/src/metrics.rs
  oak_private_memory/BUILD
  oak_private_memory/database/BUILD
  oak_private_memory/database/icing.rs
  oak_private_memory/justfile
  oak_private_memory/src/metrics.rs
Due: bazellic, rustfmt, sourcelic

fix(oak_crypto): only advance OrderedCrypter's receive nonce after decryption succeeds
  oak_crypto/src/noise_handshake/mod.rs
  oak_crypto/src/noise_handshake/tests.rs
Due: rustfmt, sourcelic

Correct the crate dependency path in AGENTS.md
  AGENTS.md
Due: markdownlint (Markdown files)

Size the hash map from the request
  oak_benchmarks/benchmark/BUILD
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/memory/hashmap.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/benchmark/tests.rs
Due: bazellic, rustfmt, sourcelic

Take the allocation size from the request
  oak_benchmarks/README.md
  oak_benchmarks/benchmark/memory/alloc_churn.rs
  oak_benchmarks/benchmark/memory/mod.rs
  oak_benchmarks/benchmark/service.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Build the Linux baseline with the enclave's ISA
  MODULE.bazel.lock
  bazel/rust/defs.bzl
  bazel/rust/extensions.bzl
  codelab/MODULE.bazel.lock
  oak_benchmarks/linux_enclave_app/BUILD
  oak_benchmarks/linux_enclave_app/defs.bzl
  oak_private_memory/MODULE.bazel.lock
Due: bazellic

Add AES-GCM and P-256 benchmarks
  oak_benchmarks/benchmark/BUILD
  oak_benchmarks/benchmark/cpu/aead.rs
  oak_benchmarks/benchmark/cpu/mod.rs
  oak_benchmarks/benchmark/cpu/signing.rs
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/benchmark/tests.rs
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/proto/benchmark.proto
Due: bazellic, clang-format, rustfmt, sourcelic

Reformat noise handshake test imports
  oak_crypto/src/noise_handshake/tests.rs
Due: rustfmt, sourcelic

Create a memory wipe test for Oak Containers stage1
  oak_containers/stage1/BUILD
  oak_containers/stage1/src/attester.rs
  oak_containers/stage1_bin/BUILD
  oak_containers/testing/BUILD
  oak_containers/testing/key_handling_test.rs
Due: bazellic, rustfmt, sourcelic

Fix formatting
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: rustfmt, sourcelic

Add a hash map churn benchmark
  oak_benchmarks/benchmark/memory/hashmap.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/proto/benchmark.proto
Due: clang-format, rustfmt, sourcelic

Extend the suite's tests to the new benchmarks
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/tests.rs
Due: rustfmt, sourcelic

Add Ed25519 signing and verification benchmarks
  oak_benchmarks/benchmark/BUILD
  oak_benchmarks/benchmark/cpu/eddsa.rs
  oak_benchmarks/benchmark/cpu/mod.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/proto/benchmark.proto
Due: bazellic, clang-format, rustfmt, sourcelic

Add a null syscall benchmark and its control
  oak_benchmarks/benchmark/BUILD
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/benchmark/syscall.rs
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/cli_common/lib.rs
  oak_benchmarks/cli_common/results.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_enclave_app/main.rs
  oak_benchmarks/oak_cli/main.rs
  oak_benchmarks/oak_enclave_app/BUILD
  oak_benchmarks/oak_enclave_app/main.rs
  oak_benchmarks/proto/benchmark.proto
Due: bazellic, clang-format, rustfmt, sourcelic

Document the new benchmarks in the README
  oak_benchmarks/README.md
Due: markdownlint (Markdown files)

Report enclave boot latency from the Oak CLI
  oak_benchmarks/oak_cli/main.rs
Due: rustfmt, sourcelic

Add a page touch benchmark
  oak_benchmarks/benchmark/BUILD
  oak_benchmarks/benchmark/memory/mod.rs
  oak_benchmarks/benchmark/memory/page_touch.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/proto/benchmark.proto
Due: bazellic, clang-format, rustfmt, sourcelic

Path conditions:
  bazellic: any of: BUILD, but not: third_party/
  bzllock: any of: MODULE.bazel$, but not: third_party/
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, but not: third_party/
  ktfmt: any of: \.(kt|kts)$, but not: third_party/
  markdownlint (Markdown files): any of: \.(md|markdown|mdown)$, but not: third_party/
  nix: any of: \.nix$, but not: third_party/
  prettier: any of: \.(yaml|yml)$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, but not: third_party/
  rustfmt: any of: \.rs$, but not: third_party/
  sourcelic: any of: \.rs$, \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, \.(kt|kts)$ and not (oak_proto_rust/generated|cc/crypto/hpke/jni) and not (third_party/)
  terraform fmt: any of: \.(tf|tfvars)$, but not: third_party/
  id: any of: MODULE.bazel$, but not: third_party/
