Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix, or
# they are scripts in our scripts/ directory.
repos:
  - repo: local
    hooks:
      # Keep these sorted by id alphabetically, except for `id` which should stay at the end.
      - id: badtodo
        name: Bad TODOs
        language: script
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/lint/validate_todos
        # prettier-ignore
        types_or:
          [rust, c, c++, proto, java, yaml, html, javascript, ts, css, scss, dockerfile, kotlin, markdown, shell]

      - id: bazellic
        name: Add notice license to all bazel packages
        language: script
        entry: ./scripts/lint/add_bazel_license
        files: BUILD

      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]

      - id: bzllock
        name: Make sure MODULE.bazel.lock files are fully up to date
        entry: ./scripts/lint/bazel_mod_deps
        language: script
        files: MODULE.bazel$

      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]

      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]

      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system

      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]

      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]

      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]

      - id: shellcheck
        name: shellcheck (shell script files)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (shell script files)
        language: system
        entry: shfmt --indent 2 --case-indent --binary-next-line --simplify -w
        types: [shell]

      - id: sourcelic
        name: Add Apache License to source files
        language: script
        entry: ./scripts/lint/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo
        files: MODULE.bazel$

feat(oak_trusted_agent): define WIT agent interface and WASI 0.2 archive
  .gitignore
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
  oak_trusted_agent/sandbox/BUILD
  oak_trusted_agent/sandbox/wit/agent.wit
Due: bazellic, bzllock, id

feat(attestation): record t-log verification results
  oak_attestation_gcp/src/policy.rs
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/expect/tests.rs
  oak_attestation_verification/src/lib.rs
  oak_attestation_verification/src/policy/cb_transparent.rs
  oak_attestation_verification/src/policy/firmware.rs
  oak_attestation_verification/src/policy/kernel.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/verification.proto
  tr/endorscope/package.rs
  tr/endorscope_cli/list.rs
  tr/verify_endorsement/lib.rs
Due: clang-format, rustfmt, sourcelic

Add GPU/spot support to CS instance module
  mcp/agent/terraform/main.tf
  mcp/agent/terraform/outputs.tf
  mcp/model/terraform/main.tf
  mcp/model/terraform/outputs.tf
  terraform/modules/confidential_space_instance/main.tf
  terraform/modules/confidential_space_instance/outputs.tf
  terraform/modules/confidential_space_instance/variables.tf
Due: terraform fmt

Add Terraform deployment for attested model
  oak_trusted_agent/model/README.md
  oak_trusted_agent/model/terraform/main.tf
  oak_trusted_agent/model/terraform/outputs.tf
  oak_trusted_agent/model/terraform/provider.tf
  oak_trusted_agent/model/terraform/variables.tf
Due: markdownlint (Markdown files), terraform fmt

Add the model evaluation example
  oak_trusted_agent/examples/model_eval/README.md
  oak_trusted_agent/examples/model_eval/benchmarks/__init__.py
  oak_trusted_agent/examples/model_eval/benchmarks/benchmark.py
  oak_trusted_agent/examples/model_eval/benchmarks/hello_world/__init__.py
  oak_trusted_agent/examples/model_eval/harness/__init__.py
  oak_trusted_agent/examples/model_eval/harness/model.py
  oak_trusted_agent/examples/model_eval/harness/predicate.py
  oak_trusted_agent/examples/model_eval/harness/run.py
  oak_trusted_agent/examples/model_eval/harness/signer.py
  oak_trusted_agent/examples/model_eval/harness/storage.py
  oak_trusted_agent/examples/model_eval/predicate_schema.md
  oak_trusted_agent/examples/model_eval/requirements.in
  oak_trusted_agent/examples/model_eval/requirements.txt
Due: markdownlint (Markdown files)

Add Terraform deployment for model evaluation
  oak_trusted_agent/examples/model_eval/README.md
  oak_trusted_agent/examples/model_eval/harness/run.py
  oak_trusted_agent/examples/model_eval/terraform/main.tf
  oak_trusted_agent/examples/model_eval/terraform/outputs.tf
  oak_trusted_agent/examples/model_eval/terraform/provider.tf
  oak_trusted_agent/examples/model_eval/terraform/variables.tf
Due: markdownlint (Markdown files), terraform fmt

Add the attested model container image
  oak_trusted_agent/model/.dockerignore
  oak_trusted_agent/model/README.md
  oak_trusted_agent/model/image/Dockerfile
  oak_trusted_agent/model/image/oak_proxy_server.toml
  oak_trusted_agent/model/image/publish_docker.sh
Due: markdownlint (Markdown files)

Move eval to provenance and model_eval to eval
  oak_trusted_agent/eval/.dockerignore
  oak_trusted_agent/eval/README.md
  oak_trusted_agent/eval/benchmarks/__init__.py
  oak_trusted_agent/eval/benchmarks/agentdojo/__init__.py
  oak_trusted_agent/eval/benchmarks/benchmark.py
  oak_trusted_agent/eval/benchmarks/hello_world/__init__.py
  oak_trusted_agent/eval/harness/__init__.py
  oak_trusted_agent/eval/harness/model.py
  oak_trusted_agent/eval/harness/predicate.py
  oak_trusted_agent/eval/harness/run.py
  oak_trusted_agent/eval/harness/signer.py
  oak_trusted_agent/eval/harness/storage.py
  oak_trusted_agent/eval/image/Dockerfile
  oak_trusted_agent/eval/image/entrypoint.sh
  oak_trusted_agent/eval/image/publish_docker.sh
  oak_trusted_agent/eval/predicate_schema.md
  oak_trusted_agent/eval/requirements.in
  oak_trusted_agent/eval/requirements.txt
  oak_trusted_agent/eval/terraform/main.tf
  oak_trusted_agent/eval/terraform/outputs.tf
  oak_trusted_agent/eval/terraform/provider.tf
  oak_trusted_agent/eval/terraform/variables.tf
  oak_trusted_agent/examples/model_eval/README.md
  oak_trusted_agent/model/README.md
  oak_trusted_agent/provenance/README.md
  oak_trusted_agent/provenance/common/BUILD
  oak_trusted_agent/provenance/common/envelope.rs
  oak_trusted_agent/provenance/common/flags.rs
  oak_trusted_agent/provenance/common/lib.rs
  oak_trusted_agent/provenance/common/statement.rs
  oak_trusted_agent/provenance/common/tests.rs
  oak_trusted_agent/provenance/signer/BUILD
  oak_trusted_agent/provenance/signer/main.rs
  oak_trusted_agent/provenance/signer/tests.rs
  oak_trusted_agent/provenance/verifier/BUILD
  oak_trusted_agent/provenance/verifier/main.rs
  oak_trusted_agent/provenance/verifier/report.rs
  oak_trusted_agent/provenance/verifier/tests.rs
  oak_trusted_agent/provenance/verifier/workload.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic, terraform fmt

Add the model evaluation container image
  oak_trusted_agent/examples/model_eval/.dockerignore
  oak_trusted_agent/examples/model_eval/README.md
  oak_trusted_agent/examples/model_eval/image/Dockerfile
  oak_trusted_agent/examples/model_eval/image/entrypoint.sh
  oak_trusted_agent/examples/model_eval/image/publish_docker.sh
Due: markdownlint (Markdown files)

Add AgentDojo prompt-injection benchmark
  oak_trusted_agent/examples/model_eval/README.md
  oak_trusted_agent/examples/model_eval/benchmarks/agentdojo/__init__.py
  oak_trusted_agent/examples/model_eval/requirements.in
  oak_trusted_agent/examples/model_eval/requirements.txt
Due: markdownlint (Markdown files)

feat(oak_trusted_agent): configure hermetic npm toolchain for esbuild and componentize-js
  .bazelignore
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  flake.nix
  oak_private_memory/MODULE.bazel.lock
  oak_trusted_agent/sandbox/BUILD
  oak_trusted_agent/sandbox/README.md
  oak_trusted_agent/sandbox/package.json
  oak_trusted_agent/sandbox/pnpm-lock.yaml
Due: bazellic, bzllock, markdownlint (Markdown files), nix, prettier, id

fix(oak_session): disable TLS resumption with client auth
  oak_session/tls/README.md
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls_test.cc
Due: clang-format, markdownlint (Markdown files), sourcelic

feat(oak_trusted_agent): add TypeScript ADK agent Wasm component
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
  oak_trusted_agent/sandbox/BUILD
  oak_trusted_agent/sandbox/agent_ts/esbuild.config.mjs
  oak_trusted_agent/sandbox/agent_ts/src/agent.ts
  oak_trusted_agent/sandbox/agent_ts/src/agent_test.ts
  oak_trusted_agent/sandbox/agent_ts/src/index.ts
  oak_trusted_agent/sandbox/agent_ts/src/models.ts
  oak_trusted_agent/sandbox/agent_ts/src/models_test.ts
  oak_trusted_agent/sandbox/agent_ts/src/tools.ts
  oak_trusted_agent/sandbox/agent_ts/src/tools_test.ts
  oak_trusted_agent/sandbox/agent_ts/src/types.d.ts
  oak_trusted_agent/sandbox/agent_ts/tsconfig.json
  oak_trusted_agent/sandbox/generate_wit_types.rs
  oak_trusted_agent/sandbox/package.json
  oak_trusted_agent/sandbox/pnpm-lock.yaml
Due: bazellic, bzllock, prettier, rustfmt, sourcelic, id

fix(oak_session): reject critical cert failures before custom verifier
  oak_session/tls/rust/oak_session_tls.rs
Due: rustfmt, sourcelic

feat(oak_trusted_agent): replace wasi:http with oak:agent/model WIT interface
  oak_trusted_agent/sandbox/BUILD
  oak_trusted_agent/sandbox/agent_ts/src/agent.ts
  oak_trusted_agent/sandbox/agent_ts/src/agent_test.ts
  oak_trusted_agent/sandbox/agent_ts/src/index.ts
  oak_trusted_agent/sandbox/agent_ts/src/models.ts
  oak_trusted_agent/sandbox/agent_ts/src/models_test.ts
  oak_trusted_agent/sandbox/agent_ts/src/tools.ts
  oak_trusted_agent/sandbox/agent_ts/src/tools_test.ts
  oak_trusted_agent/sandbox/agent_ts/src/types.d.ts
  oak_trusted_agent/sandbox/generate_wit_types.rs
  oak_trusted_agent/sandbox/wit/agent.wit
Due: bazellic, prettier, rustfmt, sourcelic

fix(sealed_memory): avoid failure on size limit and optimize on sync
  oak_private_memory/app/persistence_worker.rs
Due: rustfmt, sourcelic

feat(oak_trusted_agent): implement host Wasmtime sandbox for agent component
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
  oak_trusted_agent/sandbox/BUILD
  oak_trusted_agent/sandbox/src/agent_host.rs
  oak_trusted_agent/sandbox/src/lib.rs
  oak_trusted_agent/sandbox/tests/sandbox_integration_test.rs
  third_party/pprof/pprof-prost13.patch
Due: bazellic, bzllock, rustfmt, sourcelic, id

feat(oak_trusted_agent): add insecure debug agent component and structured logging
  oak_trusted_agent/sandbox/BUILD
  oak_trusted_agent/sandbox/agent_ts/src/agent.ts
  oak_trusted_agent/sandbox/agent_ts/src/agent_test.ts
  oak_trusted_agent/sandbox/agent_ts/src/logger.ts
  oak_trusted_agent/sandbox/package.json
  oak_trusted_agent/sandbox/pnpm-lock.yaml
  oak_trusted_agent/sandbox/tests/sandbox_integration_test.rs
Due: bazellic, prettier, rustfmt, sourcelic

[private memory] Implement text search over TextViews
  oak_private_memory/app/handler.rs
  oak_private_memory/database/database.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/search_test.rs
Due: clang-format, rustfmt, sourcelic

Move oak_functions_mcp to oak_trusted_agent/mcp/server
  oak_trusted_agent/mcp/BUILD
  oak_trusted_agent/mcp/README.md
  oak_trusted_agent/mcp/create_lookup_data.py
  oak_trusted_agent/mcp/generate_reference_values.rs
  oak_trusted_agent/mcp/server/BUILD
  oak_trusted_agent/mcp/server/README.md
  oak_trusted_agent/mcp/server/proxy.toml
  oak_trusted_agent/mcp/server/publish_docker.sh
  oak_trusted_agent/mcp/server/src/lib.rs
  oak_trusted_agent/mcp/server/src/main.rs
  oak_trusted_agent/mcp/server/src/service.rs
  oak_trusted_agent/mcp/server/terraform/main.tf
  oak_trusted_agent/mcp/server/terraform/outputs.tf
  oak_trusted_agent/mcp/server/terraform/provider.tf
  oak_trusted_agent/mcp/server/terraform/variables.tf
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic, terraform fmt

Move OC3 travel demo to oak_trusted_agent/demo/mcp
  mcp/demo/terraform/main.tf
  mcp/demo/terraform/outputs.tf
  mcp/demo/terraform/variables.tf
  mcp/oc3_2026_demo/README.md
  mcp/oc3_2026_demo/terraform/main.tf
  mcp/oc3_2026_demo/terraform/outputs.tf
  mcp/oc3_2026_demo/terraform/provider.tf
  mcp/oc3_2026_demo/terraform/variables.tf
  oak_trusted_agent/demo/mcp/README.md
  oak_trusted_agent/demo/mcp/activities/activities.tfvars
  oak_trusted_agent/demo/mcp/activities/activities_client_config.toml
  oak_trusted_agent/demo/mcp/client_config.toml
  oak_trusted_agent/demo/mcp/data/README.md
  oak_trusted_agent/demo/mcp/data/activities.json
  oak_trusted_agent/demo/mcp/data/activities.textproto
  oak_trusted_agent/demo/mcp/data/example_flights.textproto
  oak_trusted_agent/demo/mcp/data/flights.json
  oak_trusted_agent/demo/mcp/data/flights.textproto
  oak_trusted_agent/demo/mcp/data/hotels.json
  oak_trusted_agent/demo/mcp/data/hotels.textproto
  oak_trusted_agent/demo/mcp/data/hotels_availability.json
  oak_trusted_agent/demo/mcp/flights/flights.tfvars
  oak_trusted_agent/demo/mcp/flights/flights_client_config.toml
  oak_trusted_agent/demo/mcp/hotels/hotels.tfvars
  oak_trusted_agent/demo/mcp/hotels/hotels_client_config.toml
  oak_trusted_agent/demo/mcp/prompts.md
  oak_trusted_agent/demo/mcp/publish_docker.sh
  oak_trusted_agent/demo/mcp/reference_values.pb
Due: markdownlint (Markdown files), terraform fmt

Fetch Ollama model weights with Bazel
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
  oak_trusted_agent/model/BUILD
  oak_trusted_agent/model/extensions.bzl
Due: bazellic, bzllock, id

Rename model-eval to eval in oak_trusted_agent
  docs/trusted_agent/eval_v1.md
  oak_trusted_agent/eval/README.md
  oak_trusted_agent/eval/harness/predicate.py
  oak_trusted_agent/eval/harness/run.py
  oak_trusted_agent/eval/image/entrypoint.sh
  oak_trusted_agent/eval/image/publish_docker.sh
  oak_trusted_agent/eval/terraform/main.tf
  oak_trusted_agent/eval/terraform/outputs.tf
  oak_trusted_agent/eval/terraform/variables.tf
  oak_trusted_agent/model/README.md
  oak_trusted_agent/model/image/Dockerfile
  oak_trusted_agent/provenance/README.md
  oak_trusted_agent/provenance/common/tests.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic, terraform fmt

Move mcp_proxy to oak_trusted_agent/mcp/proxy
  oak_trusted_agent/mcp/proxy/BUILD
  oak_trusted_agent/mcp/proxy/README.md
  oak_trusted_agent/mcp/proxy/config.rs
  oak_trusted_agent/mcp/proxy/config.toml
  oak_trusted_agent/mcp/proxy/main.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Add medical demo data and prompts in oak_trusted_agent/demo/agent
  oak_trusted_agent/demo/agent/data/README.md
  oak_trusted_agent/demo/agent/data/gp_clinic_data.textproto
  oak_trusted_agent/demo/agent/data/gp_clinic_mcp.json
  oak_trusted_agent/demo/agent/data/walk_in_clinic_data.textproto
  oak_trusted_agent/demo/agent/data/walk_in_clinic_mcp.json
  oak_trusted_agent/demo/agent/prompts/system.md
  oak_trusted_agent/demo/agent/prompts/user_prompts.md
Due: markdownlint (Markdown files)

Build oak_trusted_agent/eval image with Bazel
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
  oak_trusted_agent/eval/.dockerignore
  oak_trusted_agent/eval/BUILD
  oak_trusted_agent/eval/README.md
  oak_trusted_agent/eval/entrypoint.sh
  oak_trusted_agent/eval/image/Dockerfile
  oak_trusted_agent/eval/image/publish_docker.sh
Due: bazellic, bzllock, markdownlint (Markdown files), id

Build oak_trusted_agent/model image with Bazel
  oak_trusted_agent/model/.dockerignore
  oak_trusted_agent/model/BUILD
  oak_trusted_agent/model/README.md
  oak_trusted_agent/model/image/Dockerfile
  oak_trusted_agent/model/image/publish_docker.sh
  oak_trusted_agent/model/oak_proxy_server.toml
Due: bazellic, markdownlint (Markdown files)

handle unterminated file names in fw_cfg and acpi commands
  stage0/src/acpi/commands/add_checksum.rs
  stage0/src/acpi/commands/add_pci_holes.rs
  stage0/src/acpi/commands/add_pci_root_stage1.rs
  stage0/src/acpi/commands/add_pci_root_stage2.rs
  stage0/src/acpi/commands/add_pointer.rs
  stage0/src/acpi/commands/allocate.rs
  stage0/src/acpi/commands/write_pointer.rs
  stage0/src/acpi/mod.rs
  stage0/src/fw_cfg.rs
Due: rustfmt, sourcelic

Bump `wasmtime` version to address advisory
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
  third_party/cranelift-codegen/patch_build_rs.patch
Due: bzllock, id

own hpke and aead contexts with bssl::UniquePtr in cc/crypto/hpke
  cc/crypto/hpke/recipient_context.cc
  cc/crypto/hpke/recipient_context.h
  cc/crypto/hpke/recipient_context_test.cc
  cc/crypto/hpke/sender_context.cc
  cc/crypto/hpke/sender_context.h
  cc/crypto/hpke/sender_context_test.cc
  cc/crypto/hpke/utils.cc
  cc/crypto/hpke/utils.h
Due: clang-format, sourcelic

Add reusable agent container and Terraform in oak_trusted_agent/agent
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_attestation_gcp/BUILD
  oak_private_memory/MODULE.bazel.lock
  oak_trusted_agent/agent/BUILD
  oak_trusted_agent/agent/README.md
  oak_trusted_agent/agent/config/mcp_proxy_client.toml
  oak_trusted_agent/agent/config/model_proxy_client.toml
  oak_trusted_agent/agent/config/proxy_server.toml
  oak_trusted_agent/agent/src/lib.rs
  oak_trusted_agent/agent/src/main.rs
  oak_trusted_agent/agent/terraform/main.tf
  oak_trusted_agent/agent/terraform/outputs.tf
  oak_trusted_agent/agent/terraform/provider.tf
  oak_trusted_agent/agent/terraform/variables.tf
  oak_trusted_agent/eval/BUILD
  oak_trusted_agent/eval/terraform/main.tf
  oak_trusted_agent/model/BUILD
  oak_trusted_agent/model/terraform/main.tf
  terraform/modules/confidential_space_instance/main.tf
  terraform/modules/confidential_space_instance/outputs.tf
  terraform/modules/confidential_space_instance/variables.tf
Due: bazellic, bzllock, markdownlint (Markdown files), rustfmt, sourcelic, terraform fmt, id

return an error for unterminated fw_cfg and acpi command file names
  stage0/src/acpi/commands/add_checksum.rs
  stage0/src/acpi/commands/add_pci_holes.rs
  stage0/src/acpi/commands/add_pci_root_stage1.rs
  stage0/src/acpi/commands/add_pci_root_stage2.rs
  stage0/src/acpi/commands/add_pointer.rs
  stage0/src/acpi/commands/allocate.rs
  stage0/src/acpi/commands/write_pointer.rs
  stage0/src/fw_cfg.rs
Due: rustfmt, sourcelic

fix(oak_trusted_agent): link WASI stdio and verify log emission/suppression
  oak_trusted_agent/sandbox/BUILD
  oak_trusted_agent/sandbox/agent_ts/src/agent.ts
  oak_trusted_agent/sandbox/src/agent_host.rs
  oak_trusted_agent/sandbox/src/lib.rs
  oak_trusted_agent/sandbox/tests/sandbox_integration_test.rs
Due: bazellic, prettier, rustfmt, sourcelic

Address review: move tests to oak_session_tls_test.rs, reuse MockVerifier
  oak_session/tls/rust/BUILD
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
Due: bazellic, rustfmt, sourcelic

feat(oak_trusted_agent): implement gRPC streaming server and session lifecycle
  oak_proto_rust/BUILD
  oak_proto_rust/build.rs
  oak_proto_rust/generated/oak.trusted_agent.v1.rs
  oak_proto_rust/grpc/BUILD
  oak_proto_rust/grpc/build.rs
  oak_proto_rust/grpc/lib.rs
  oak_proto_rust/src/lib.rs
  oak_trusted_agent/server/BUILD
  oak_trusted_agent/server/src/lib.rs
  oak_trusted_agent/server/src/service.rs
  oak_trusted_agent/server/tests/server_test.rs
  proto/oak_trusted_agent/service/BUILD
  proto/oak_trusted_agent/service/trusted_agent.proto
Due: bazellic, clang-format, rustfmt, sourcelic

Bind filter in endorscope_cli.
  tr/endorscope/package.rs
  tr/endorscope_cli/BUILD
  tr/endorscope_cli/list.rs
Due: bazellic, rustfmt, sourcelic

feat(oak_trusted_agent): serve agent sandbox in trusted agent host
  oak_trusted_agent/agent/BUILD
  oak_trusted_agent/agent/README.md
  oak_trusted_agent/agent/src/lib.rs
  oak_trusted_agent/agent/src/main.rs
  oak_trusted_agent/agent/terraform/main.tf
  oak_trusted_agent/agent/terraform/variables.tf
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic, terraform fmt

refactor(oak_trusted_agent): split sandbox into guest and host packages
  .bazelignore
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
  oak_trusted_agent/agent/BUILD
  oak_trusted_agent/agent/README.md
  oak_trusted_agent/sandbox/BUILD
  oak_trusted_agent/sandbox/README.md
  oak_trusted_agent/sandbox/guest/README.md
  oak_trusted_agent/sandbox/guest/agent_ts/BUILD
  oak_trusted_agent/sandbox/guest/agent_ts/README.md
  oak_trusted_agent/sandbox/guest/agent_ts/esbuild.config.mjs
  oak_trusted_agent/sandbox/guest/agent_ts/generate_wit_types.rs
  oak_trusted_agent/sandbox/guest/agent_ts/package.json
  oak_trusted_agent/sandbox/guest/agent_ts/pnpm-lock.yaml
  oak_trusted_agent/sandbox/guest/agent_ts/src/agent.ts
  oak_trusted_agent/sandbox/guest/agent_ts/src/agent_test.ts
  oak_trusted_agent/sandbox/guest/agent_ts/src/index.ts
  oak_trusted_agent/sandbox/guest/agent_ts/src/logger.ts
  oak_trusted_agent/sandbox/guest/agent_ts/src/models.ts
  oak_trusted_agent/sandbox/guest/agent_ts/src/models_test.ts
  oak_trusted_agent/sandbox/guest/agent_ts/src/tools.ts
  oak_trusted_agent/sandbox/guest/agent_ts/src/tools_test.ts
  oak_trusted_agent/sandbox/guest/agent_ts/src/types.d.ts
  oak_trusted_agent/sandbox/guest/agent_ts/tsconfig.json
  oak_trusted_agent/sandbox/host/BUILD
  oak_trusted_agent/sandbox/host/src/agent_host.rs
  oak_trusted_agent/sandbox/host/src/lib.rs
  oak_trusted_agent/sandbox/host/tests/sandbox_integration_test.rs
Due: bazellic, bzllock, markdownlint (Markdown files), prettier, rustfmt, sourcelic, id

feat(oak_trusted_agent): wire model and MCP tools
  oak_trusted_agent/agent/README.md
  oak_trusted_agent/agent/src/main.rs
  oak_trusted_agent/sandbox/host/BUILD
  oak_trusted_agent/sandbox/host/src/agent_host.rs
  oak_trusted_agent/sandbox/host/src/lib.rs
  oak_trusted_agent/sandbox/host/src/model_backend.rs
  oak_trusted_agent/sandbox/host/src/tool_backend.rs
  oak_trusted_agent/sandbox/host/tests/sandbox_integration_test.rs
  oak_trusted_agent/sandbox/wit/agent.wit
  oak_trusted_agent/server/BUILD
  oak_trusted_agent/server/src/service.rs
  oak_trusted_agent/server/tests/server_test.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic
