Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

bazellic:
  name: Add notice license to all bazel packages
  language: script
  entry: ./scripts/lint/add_bazel_license

bzllock:
  name: Make sure MODULE.bazel.lock files are fully up to date
  entry: ./scripts/lint/bazel_mod_deps
  language: script

clang-format:
  name: clang-format (C/C++, Java, Proto)
  entry: clang-format -i
  language: system

ktfmt:
  name: ktfmt (Kotlin)
  entry: ktfmt -F --google-style
  language: system

markdownlint (Markdown files):
  name: apply markdownlint for markdown files
  entry: markdownlint --fix
  language: system

nix:
  name: nixfmt (Nix)
  entry: nix fmt
  language: system

prettier:
  name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
  entry: prettier --write
  language: system

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt
  language: system

sourcelic:
  name: Add Apache License to source files
  language: script
  entry: ./scripts/lint/add_source_license

terraform fmt:
  name: terraform fmt
  entry: terraform fmt --write=true
  language: system

id:
  name: id
  language: system
  entry: echo

In the Oak Functions Containers tests, use UDS instead of a TCP socket
  oak_functions_client/src/lib.rs
  oak_functions_containers_launcher/BUILD
  oak_functions_containers_launcher/src/server.rs
  oak_functions_containers_launcher/tests/integration_test.rs
  oak_functions_test_utils/src/lib.rs
Due: bazellic, rustfmt, sourcelic

Add extra port forwarding support to QEMU launcher
  ctf_sha2/containers/host_app.rs
  oak_containers/examples/hello_world/host_app/src/launcher_args.rs
  oak_containers/launcher/src/lib.rs
  oak_containers/launcher/src/qemu.rs
Due: rustfmt, sourcelic

Introduce a qemu-based containers test for Oak Private Memory
  oak_private_memory/BUILD
  oak_private_memory/MODULE.bazel
  oak_private_memory/test/e2e_test.rs
  oak_private_memory/test/test_utils.rs
Due: bazellic, bzllock, rustfmt, sourcelic, id

Add optional authentication by cloud access token to endorscope_cli.
  tr/endorscope/storage.rs
  tr/endorscope_cli/list.rs
  tr/endorscope_cli/main.rs
  tr/endorscope_cli/verify.rs
Due: rustfmt, sourcelic

Implement getMemoryByName.
  oak_private_memory/app/handler.rs
  oak_private_memory/app/packing.rs
  oak_private_memory/database/database_with_cache.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/proto/build.rs
  oak_private_memory/proto/prelude.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/src/metrics.rs
  oak_private_memory/test/e2e_test.rs
Due: clang-format, rustfmt, sourcelic

Allow `ToolConfig` file to be provided to server at startup.
  mcp/oak_functions_mcp/BUILD
  mcp/oak_functions_mcp/src/main.rs
  mcp/oak_functions_mcp/src/service.rs
Due: bazellic, rustfmt, sourcelic

Remove oak_attestation_explain
  Cargo.bazel.lock
  Cargo.lock
  bazel/crates/oak_crates.bzl
  cargo-bazel-lock.json
  codelab/Cargo.bazel.lock
  codelab/cargo-bazel-lock.json
  justfile
  oak_attestation_explain/BUILD
  oak_attestation_explain/README.md
  oak_attestation_explain/src/json_serialization.rs
  oak_attestation_explain/src/lib.rs
  oak_attestation_explain/tests/explain_test.rs
  oak_private_memory/Cargo.bazel.lock
  oak_private_memory/cargo-bazel-lock.json
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Remove some unused crates
  Cargo.bazel.lock
  Cargo_no_std.bazel.lock
  Cargo_no_std_no_avx.bazel.lock
  bazel/crates/oak_crates.bzl
  cargo-bazel-lock.json
  cargo-no-std-bazel-lock.json
  cargo-no-std-no-avx-bazel-lock.json
  codelab/Cargo.bazel.lock
  codelab/Cargo_no_std.bazel.lock
  codelab/Cargo_no_std_no_avx.bazel.lock
  codelab/cargo-bazel-lock.json
  codelab/cargo-no-std-bazel-lock.json
  codelab/cargo-no-std-no-avx-bazel-lock.json
  oak_private_memory/Cargo.bazel.lock
  oak_private_memory/Cargo_no_std.bazel.lock
  oak_private_memory/Cargo_no_std_no_avx.bazel.lock
  oak_private_memory/cargo-bazel-lock.json
  oak_private_memory/cargo-no-std-bazel-lock.json
  oak_private_memory/cargo-no-std-no-avx-bazel-lock.json
  oak_private_memory/database/BUILD
Due: bazellic

Update the Containers Linux Kernel version
  MODULE.bazel.lock
  oak_containers/kernel/configs/6.12.74/BUILD
  oak_containers/kernel/configs/6.12.74/minimal.config
  oak_containers/kernel/generated/bzImage.sha256
  oak_containers/kernel/generated/vanilla_bzImage.sha256
  oak_containers/kernel/kernel-common.nix
  oak_containers/kernel/kernel_version.txt
  oak_containers/kernel/patches/rtmr-enable.patch
  oak_containers/kernel/patches/tdx-probe-roms.patch
  oak_containers/kernel/patches/virtio-dma.patch
  oak_containers/kernel/pkgs.bzl
  oak_containers/system_image/base/build-base.sh
Due: bazellic, nix

Save attestations to a file in Oak Proxy client.
  oak_proxy/client/src/main.rs
  oak_proxy/lib/src/config/mod.rs
  oak_proxy/server/src/main.rs
  oak_proxy/tests/integration_test.rs
Due: rustfmt, sourcelic

Deploy Oak Functions MCP on Confidential Space.
  mcp/oak_functions_mcp/BUILD
  mcp/oak_functions_mcp/proxy.toml
  mcp/oak_functions_mcp/publish_docker.sh
  mcp/oak_functions_mcp/src/main.rs
  mcp/oak_functions_mcp/terraform/main.tf
  mcp/oak_functions_mcp/terraform/outputs.tf
  mcp/oak_functions_mcp/terraform/provider.tf
  mcp/oak_functions_mcp/terraform/variables.tf
Due: bazellic, rustfmt, sourcelic, terraform fmt

Fix base metrics reporting in Oak Containers agent
  oak_containers/agent/src/main.rs
  oak_containers/agent/src/metrics.rs
  oak_containers/orchestrator/src/lib.rs
  oak_functions_containers_app/BUILD
  oak_functions_containers_app/src/main.rs
Due: bazellic, rustfmt, sourcelic

Remove serde-aux from oak-private-memory
  oak_private_memory/Cargo.bazel.lock
  oak_private_memory/MODULE.bazel.lock
  oak_private_memory/WORKSPACE
  oak_private_memory/cargo-bazel-lock.json
  oak_private_memory/proto/BUILD
  oak_private_memory/proto/build.rs
  oak_private_memory/proto/lib.rs
  oak_private_memory/src/icing/proto/BUILD
Due: bazellic, rustfmt, sourcelic

Add readme in various folders
  AGENTS.md
  FORCE_CI
  oak_attestation_types/README.md
  oak_crypto/README.md
  oak_dice/README.md
  proto/README.md
  stage0/README.md
Due: markdownlint (Markdown files)

Update Oak Proxy to check container image reference
  mcp/oak_functions_mcp/proxy.toml
  mcp/oak_functions_mcp/terraform/variables.tf
  oak_proxy/lib/src/config/confidential_space.rs
Due: rustfmt, sourcelic, terraform fmt

Ensure markdown files are formatted
  .pre-commit-config.yaml
  FORCE_CI
  docs/tr/claim/31544.md
  docs/tr/claim/31545.md
  docs/tr/claim/42362.md
  oak_attestation_types/README.md
  oak_benchmarks/README.md
  oak_crypto/README.md
  oak_dice/README.md
  proto/README.md
  stage0/README.md
Due: markdownlint (Markdown files), prettier

Define `falsify::Claim` trait.
  ctf_sha2/arbiter.rs
  falsify/README.md
  falsify/src/lib.rs
  oak_session/falsify/unattested_nn_encryption_and_decryption.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

More crate analysis script tweaks
  scripts/analyze_crate_versions.py
Due: none

Update to rand 0.9
  Cargo.bazel.lock
  Cargo_no_std_no_avx.bazel.lock
  bazel/crates/oak_crates.bzl
  cargo-bazel-lock.json
  cargo-no-std-no-avx-bazel-lock.json
  codelab/Cargo.bazel.lock
  codelab/cargo-bazel-lock.json
  ctf_sha2/confidential_space/workload.rs
  ctf_sha2/containers/enclave_app.rs
  jj-prompt
  oak_functions/lookup_data_generator/src/main.rs
  oak_private_memory/WORKSPACE
  oak_private_memory/cargo-bazel-lock.json
  oak_proxy/lib/src/proxy.rs
Due: rustfmt, sourcelic

Add request time information for CS attestations.
  oak_proxy/client/BUILD
  oak_proxy/client/src/main.rs
Due: bazellic, rustfmt, sourcelic

Fix formatting
  falsify/README.md
Due: markdownlint (Markdown files)

Resolve `strum` / `strum_macros` version mismatch
  Cargo.bazel.lock
  Cargo_no_std.bazel.lock
  Cargo_no_std_no_avx.bazel.lock
  bazel/crates/oak_crates.bzl
  cargo-bazel-lock.json
  cargo-no-std-bazel-lock.json
  cargo-no-std-no-avx-bazel-lock.json
  codelab/Cargo.bazel.lock
  codelab/Cargo_no_std.bazel.lock
  codelab/Cargo_no_std_no_avx.bazel.lock
  codelab/cargo-bazel-lock.json
  codelab/cargo-no-std-bazel-lock.json
  codelab/cargo-no-std-no-avx-bazel-lock.json
  oak_private_memory/Cargo.bazel.lock
  oak_private_memory/Cargo_no_std.bazel.lock
  oak_private_memory/Cargo_no_std_no_avx.bazel.lock
  oak_private_memory/cargo-bazel-lock.json
  oak_private_memory/cargo-no-std-bazel-lock.json
  oak_private_memory/cargo-no-std-no-avx-bazel-lock.json
  oak_tdx_quote/BUILD
  oak_tdx_quote/src/lib.rs
Due: bazellic, rustfmt, sourcelic

Use `rs_merkle` to verify Merkle inclusion proofs
  Cargo.bazel.lock
  bazel/crates/oak_crates.bzl
  cargo-bazel-lock.json
  codelab/Cargo.bazel.lock
  codelab/cargo-bazel-lock.json
  oak_private_memory/Cargo.bazel.lock
  oak_private_memory/cargo-bazel-lock.json
  tr/tessera/BUILD
  tr/tessera/lib.rs
  util/digest/lib.rs
Due: bazellic, rustfmt, sourcelic

Remove unused key provisioning logic
  cc/containers/sdk/encryption_key_handle.cc
  cc/containers/sdk/encryption_key_handle.h
  cc/containers/sdk/orchestrator_crypto_client.cc
  cc/containers/sdk/orchestrator_crypto_client.h
  cc/containers/sdk/signing_key_handle.cc
  oak_containers/attestation/src/lib.rs
  oak_containers/launcher/src/lib.rs
  oak_containers/launcher/src/qemu.rs
  oak_containers/launcher/src/server.rs
  oak_containers/orchestrator/BUILD
  oak_containers/orchestrator/src/ipc_server.rs
  oak_containers/orchestrator/src/key_provisioning.rs
  oak_containers/orchestrator/src/launcher_client.rs
  oak_containers/orchestrator/src/lib.rs
  oak_private_memory/MODULE.bazel
  oak_sdk/containers/orchestrator_crypto_client.rs
Due: bazellic, bzllock, clang-format, rustfmt, sourcelic, id

Revert https://oak-review.git.corp.google.com/c/oak/+/36320
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Take advantage of justfile module structure
  AGENTS.md
  justfile
  justfiles/crates.just
  oak_proxy/README.md
Due: markdownlint (Markdown files)

Speed up just format
  codelab/MODULE.bazel
  justfile
  scripts/lint/bazel_mod_deps
Due: bzllock, id

Fix a potential data imcompatiblity
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Make get_by_tag use search instead, to unify impl
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Move benchmark services to modules
  justfile
  oak_benchmarks/oak_paper/crypto_channel/BUILD
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/linux_main.rs
  oak_benchmarks/oak_paper/crypto_channel/linux_server.rs
  oak_benchmarks/oak_paper/crypto_channel/message_stream.rs
  oak_benchmarks/oak_paper/crypto_channel/rk_app.rs
  oak_benchmarks/oak_paper/crypto_channel/rk_launcher.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Refactor: Consolidate error handling from `snafu` to `thiserror`
  Cargo.bazel.lock
  Cargo_no_std.bazel.lock
  Cargo_no_std_no_avx.bazel.lock
  bazel/crates/oak_crates.bzl
  cargo-bazel-lock.json
  cargo-no-std-bazel-lock.json
  cargo-no-std-no-avx-bazel-lock.json
  codelab/Cargo.bazel.lock
  codelab/Cargo_no_std.bazel.lock
  codelab/Cargo_no_std_no_avx.bazel.lock
  codelab/cargo-bazel-lock.json
  codelab/cargo-no-std-bazel-lock.json
  codelab/cargo-no-std-no-avx-bazel-lock.json
  oak_private_memory/Cargo.bazel.lock
  oak_private_memory/Cargo_no_std.bazel.lock
  oak_private_memory/Cargo_no_std_no_avx.bazel.lock
  oak_private_memory/cargo-bazel-lock.json
  oak_private_memory/cargo-no-std-bazel-lock.json
  oak_private_memory/cargo-no-std-no-avx-bazel-lock.json
  oak_sev_guest/BUILD
  oak_sev_guest/src/msr.rs
Due: bazellic, rustfmt, sourcelic

Create Wasm SDK and runner for falsify claims
  ctf_sha2/BUILD
  ctf_sha2/bin/main.rs
  ctf_sha2/lib.rs
  ctf_sha2/wasm/BUILD
  ctf_sha2/wasm/lib.rs
  falsify/BUILD
  falsify/examples/always_panics/BUILD
  falsify/examples/always_panics/wasm.rs
  falsify/examples/no_repeated_bytes/BUILD
  falsify/examples/no_repeated_bytes/lib.rs
  falsify/examples/no_repeated_bytes/wasm.rs
  falsify/lib.rs
  falsify/native/BUILD
  falsify/native/lib.rs
  falsify/wasm/BUILD
  falsify/wasm/main.rs
  falsify/wasm/tests/integration_test.rs
  falsify/wasm_sdk/BUILD
  falsify/wasm_sdk/lib.rs
  oak_session/falsify/unattested_nn_encryption_and_decryption.rs
Due: bazellic, rustfmt, sourcelic

Include jemalloc library in build outputs
  justfile
Due: none

Initial commit for OC3 2026 demo
  mcp/oc3_2026_demo/README.md
Due: markdownlint (Markdown files)

chore: Migrate gsutil usage to gcloud storage
  oak_containers/system_image/base/push-base.sh
  scripts/publish
Due: none

Add more specific agents files
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: markdownlint (Markdown files)

Add instructions to prefer jj over git
  AGENTS.md
Due: markdownlint (Markdown files)

Use native jj gerrit upload in docs and aliases
  docs/jj.md
Due: markdownlint (Markdown files)

Remove duplicate Digest type from mcp_proxy, use oak_digest instead
  mcp_proxy/BUILD
  mcp_proxy/digest.rs
  mcp_proxy/main.rs
Due: bazellic, rustfmt, sourcelic

Enable macOS builds for oak_containers
  MODULE.bazel
  MODULE.bazel.lock
  bazel/rust/defs.bzl
  bazel/rust/rebuilt_toolchain/BUILD
  bazel/rust/stdlibs.bzl
  bazel/tools/umoci/BUILD.tpl
  bazel/tools/umoci/umoci_toolchain.bzl
  cc/containers/hello_world_enclave_app/BUILD
  codelab/MODULE.bazel.lock
  ctf_sha2/confidential_space/BUILD
  ctf_sha2/containers/BUILD
  mcp/oak_functions_mcp/BUILD
  mcp/server/BUILD
  oak_containers/agent/BUILD
  oak_containers/examples/hello_world/enclave_app/BUILD
  oak_containers/examples/hello_world/host_app/BUILD
  oak_containers/kernel/BUILD
  oak_containers/launcher/BUILD
  oak_containers/orchestrator/BUILD
  oak_containers/orchestrator_bin/BUILD
  oak_containers/stage1/BUILD
  oak_containers/syslogd/BUILD
  oak_containers/system_image/BUILD
  oak_functions_containers_app/BUILD
  oak_functions_standalone/BUILD
  oak_gcp/examples/echo/enclave_app/BUILD
  oak_private_memory/BUILD
  oak_private_memory/MODULE.bazel.lock
  oak_proxy/BUILD
  oak_verity/gcp/BUILD
Due: bazellic, bzllock, id

Path conditions:
  bazellic: any of: BUILD, but not: third_party/
  bzllock: any of: MODULE.bazel$, but not: third_party/
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, but not: third_party/
  ktfmt: any of: \.(kt|kts)$, but not: third_party/
  markdownlint (Markdown files): any of: \.(md|markdown|mdown)$, but not: third_party/
  nix: any of: \.nix$, but not: third_party/
  prettier: any of: \.(yaml|yml)$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, but not: third_party/
  rustfmt: any of: \.rs$, but not: third_party/
  sourcelic: any of: \.rs$, \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, \.(kt|kts)$ and not (oak_proto_rust/generated|cc/crypto/hpke/jni) and not (third_party/)
  terraform fmt: any of: \.(tf|tfvars)$, but not: third_party/
  id: any of: MODULE.bazel$, but not: third_party/
