Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix, or
# they are scripts in our scripts/ directory.
repos:
  - repo: local
    hooks:
      # Keep these sorted by id alphabetically, except for `id` which should stay at the end.
      - id: badtodo
        name: Bad TODOs
        language: script
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/lint/validate_todos
        # prettier-ignore
        types_or:
          [rust, c, c++, proto, java, yaml, html, javascript, ts, css, scss, dockerfile, kotlin, markdown, shell]

      - id: bazellic
        name: Add notice license to all bazel packages
        language: script
        entry: ./scripts/lint/add_bazel_license
        files: BUILD

      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]

      - id: bzllock
        name: Make sure MODULE.bazel.lock files are fully up to date
        entry: ./scripts/lint/bazel_mod_deps
        language: script
        files: MODULE.bazel$

      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]

      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]

      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system

      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]

      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]

      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]

      - id: shellcheck
        name: shellcheck (shell script files)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (shell script files)
        language: system
        entry: shfmt --indent 2 --case-indent --binary-next-line --simplify -w
        types: [shell]

      - id: sourcelic
        name: Add Apache License to source files
        language: script
        entry: ./scripts/lint/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo
        files: MODULE.bazel$

Implement TEE-side TTL coarsening
  oak_private_memory/BUILD
  oak_private_memory/app/handler.rs
  oak_private_memory/app/lib.rs
  oak_private_memory/app/persistence_worker.rs
  oak_private_memory/app/service.rs
  oak_private_memory/database/clock.rs
  oak_private_memory/database/database.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/database/memory_blob_store.rs
  oak_private_memory/src/external_db_client.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/e2e_test.rs
  oak_private_memory/test/external_db_client_test.rs
  oak_private_memory/test/test_utils.rs
  oak_private_memory/test/tls_client_test.rs
Due: bazellic, rustfmt, sourcelic

feat: update icing dependency to 7dc0bb1d
  oak_private_memory/BUILD
  oak_private_memory/MODULE.bazel
  oak_private_memory/src/icing/BUILD
  oak_private_memory/src/icing/lib.rs
  oak_private_memory/third_party/icing/BUILD.bazel
Due: bazellic, bzllock, rustfmt, sourcelic, id

feat(oak_private_memory): make IcingMetaDatabase Sync-safe
  oak_private_memory/database/icing.rs
  oak_private_memory/database/lib.rs
Due: rustfmt, sourcelic

fix(noise_handshake): replace sha256(pub_a||pub_b) with DH for ss token in KK
  oak_crypto/src/noise_handshake/client.rs
Due: rustfmt, sourcelic

fix(noise_handshake): replace sha256(pub_a||pub_b) with DH for ss in respond_kk
  oak_crypto/src/noise_handshake/mod.rs
Due: rustfmt, sourcelic

Fix GitHub artifact upload for more than one file.
  .github/workflows/build.yaml
Due: prettier

Update the Debian version
  .devcontainer.json
  Dockerfile
  oak_containers/app_base/app_base.lock.json
  oak_containers/app_base/app_base.yaml
  oak_containers/sysroot/sysroot.lock.json
  oak_containers/sysroot/sysroot.yaml
  oak_containers/system_image/base/base_image.Dockerfile
  scripts/common
Due: prettier

Make `init_pic8259` use the HAL
  oak_restricted_kernel/src/interrupts.rs
  oak_restricted_kernel/src/lib.rs
Due: rustfmt, sourcelic

fix(noise_handshake): replace sha256(pub_a||pub_b) with DH for ss token in KK
  oak_crypto/src/noise_handshake/client.rs
  oak_crypto/src/noise_handshake/mod.rs
Due: rustfmt, sourcelic

Refactor `start_kernel` in the restricted kernel
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/memory.rs
Due: rustfmt, sourcelic

fix(noise_kk): replace public-key hash with real ECDH for ss step
  oak_crypto/src/noise_handshake/client.rs
  oak_crypto/src/noise_handshake/mod.rs
  oak_crypto/src/noise_handshake/tests.rs
Due: rustfmt, sourcelic

Move initialize_platform to the Stage0-only HAL
  oak_hal/src/lib.rs
  oak_restricted_kernel/src/hal/sev.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Read SNP page addresses with new page tables
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/snp.rs
Due: rustfmt, sourcelic

Clean up namespaces
  oak_restricted_kernel/src/hal/sev.rs
Due: rustfmt, sourcelic

Update TlsIdentityProvider to support cert chains
  oak_private_memory/test/tls_client_test.rs
  oak_session/tls/example/grpc/client_main.cc
  oak_session/tls/example/grpc/server_main.cc
  oak_session/tls/example/grpc/service_impl.cc
  oak_session/tls/example/grpc/service_impl.h
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/oak_session_tls_test.cc
  oak_session/tls/rust/example/grpc/client.rs
  oak_session/tls/rust/example/grpc/server.rs
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
  oak_session/tls/util.cc
  oak_session/tls/util.h
Due: clang-format, rustfmt, sourcelic

feat(oak_private_memory): support int8 quantized embeddings
  oak_private_memory/analysis/BUILD
  oak_private_memory/analysis/eigen_benchmark.rs
  oak_private_memory/analysis/embedding_scoring_limit_test.rs
  oak_private_memory/analysis/icing_benchmark.rs
  oak_private_memory/analysis/index_preservation_benchmark.rs
  oak_private_memory/analysis/int8_benchmark.rs
  oak_private_memory/analysis/large_db_persistence_test.rs
  oak_private_memory/analysis/main.rs
  oak_private_memory/app/handler.rs
  oak_private_memory/app/lib.rs
  oak_private_memory/app/service.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/database/tools/generate_golden_export.rs
  oak_private_memory/src/icing/ffi_bridge.rs
  oak_private_memory/src/icing/ffi_wrapper.h
  oak_private_memory/src/icing/lib.rs
  oak_private_memory/test/search_test.rs
  oak_private_memory/test/test_utils.rs
Due: bazellic, clang-format, rustfmt, sourcelic

Implement kernel-specific trait in the HAL
  oak_restricted_kernel/src/hal.rs
  oak_restricted_kernel/src/hal/sev.rs
  oak_restricted_kernel/src/lib.rs
Due: rustfmt, sourcelic

Move kernel page state change into the HAL
  oak_hal/src/lib.rs
  oak_restricted_kernel/src/hal/sev.rs
  oak_restricted_kernel/src/lib.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0/src/paging.rs
  stage0_sev/src/platform/accept_memory.rs
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Refactor: Extract guest-host-heap initialization
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/memory.rs
Due: rustfmt, sourcelic

Refactor: extract application loading logic
  oak_restricted_kernel/src/lib.rs
Due: rustfmt, sourcelic

Use the HAL in restricted kernel serial channel
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/serial.rs
Due: rustfmt, sourcelic

Use the HAL in the Simple IO channel
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/simpleio.rs
  oak_simple_io/BUILD
  oak_simple_io/src/lib.rs
Due: bazellic, rustfmt, sourcelic

Regression Test for Noise Protocol KK pattern
  oak_crypto/src/noise_handshake/tests.rs
Due: rustfmt, sourcelic

Fix a range check in `apic.rs`
  stage0/src/apic.rs
Due: rustfmt, sourcelic

Move #VC interrupt handler to SEV-specific HAL
  oak_restricted_kernel/src/hal.rs
  oak_restricted_kernel/src/hal/sev.rs
  oak_restricted_kernel/src/interrupts.rs
  oak_restricted_kernel/src/lib.rs
Due: rustfmt, sourcelic

Extract platform-specific shutdown logic
  oak_restricted_kernel/src/ghcb.rs
  oak_restricted_kernel/src/hal.rs
  oak_restricted_kernel/src/hal/sev.rs
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/shutdown.rs
Due: rustfmt, sourcelic

Remove unused IO module from oak_sev_guest
  oak_sev_guest/src/io.rs
  oak_sev_guest/src/lib.rs
Due: rustfmt, sourcelic

Add MemorySource field to Memory proto
  oak_private_memory/database/database.rs
  oak_private_memory/proto/sealed_memory.proto
Due: clang-format, rustfmt, sourcelic

refactor(oak_private_memory): use RwLock for concurrent read access
  oak_private_memory/app/handler.rs
  oak_private_memory/database/database.rs
  oak_private_memory/database/memory_blob_store.rs
Due: rustfmt, sourcelic

Add memory source allowlist enforcement
  oak_private_memory/app/handler.rs
  oak_private_memory/app/lib.rs
  oak_private_memory/app/service.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/test_utils.rs
Due: rustfmt, sourcelic

fix u32 overflow in add_checksum bounds check
  stage0/src/acpi/commands/add_checksum.rs
  stage0/src/acpi/mod.rs
Due: rustfmt, sourcelic

Use the x86_64 crate's memory_encryption feature
  oak_restricted_kernel/src/ghcb.rs
  oak_restricted_kernel/src/hal/sev.rs
  oak_restricted_kernel/src/memory.rs
  oak_restricted_kernel/src/mm/encrypted_mapper.rs
  oak_restricted_kernel/src/mm/mod.rs
  oak_restricted_kernel/src/mm/page_tables.rs
  oak_restricted_kernel/src/processes.rs
  oak_restricted_kernel/src/syscall/mmap.rs
Due: rustfmt, sourcelic

Move init_memory_encryption into the HAL
  oak_hal/src/lib.rs
  oak_restricted_kernel/src/hal/sev.rs
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/mm/mod.rs
Due: rustfmt, sourcelic

Remove the custom PageTableFlags implementation
  oak_restricted_kernel/src/ghcb.rs
  oak_restricted_kernel/src/memory.rs
  oak_restricted_kernel/src/mm/mod.rs
  oak_restricted_kernel/src/mm/page_tables.rs
  oak_restricted_kernel/src/syscall/mmap.rs
Due: rustfmt, sourcelic

Move SEV-specific logic to a new crate
  oak_restricted_kernel/BUILD
  oak_restricted_kernel/src/hal.rs
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel_bin/BUILD
  oak_restricted_kernel_sev/BUILD
  oak_restricted_kernel_sev/src/ghcb.rs
  oak_restricted_kernel_sev/src/lib.rs
  oak_restricted_kernel_sev/src/sev.rs
  oak_restricted_kernel_sev/src/sev/mmio.rs
  oak_restricted_kernel_sev/src/snp.rs
Due: bazellic, rustfmt, sourcelic

Add SessionConfig with disable_persistence_on_close flag
  oak_private_memory/app/context.rs
  oak_private_memory/app/handler.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/src/client.rs
  oak_private_memory/test/e2e_test.rs
Due: clang-format, rustfmt, sourcelic

Clear mutation log after successful persist
  oak_private_memory/app/persistence_worker.rs
  oak_private_memory/database/database.rs
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic
