Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix, or
# they are scripts in our scripts/ directory.
repos:
  - repo: local
    hooks:
      # Keep these sorted by id alphabetically, except for `id` which should stay at the end.
      - id: badtodo
        name: Bad TODOs
        language: script
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/lint/validate_todos
        # prettier-ignore
        types_or:
          [rust, c, c++, proto, java, yaml, html, javascript, ts, css, scss, dockerfile, kotlin, markdown, shell]

      - id: bazellic
        name: Add notice license to all bazel packages
        language: script
        entry: ./scripts/lint/add_bazel_license
        files: BUILD

      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]

      - id: bzllock
        name: Make sure MODULE.bazel.lock files are fully up to date
        entry: ./scripts/lint/bazel_mod_deps
        language: script
        files: MODULE.bazel$

      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]

      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]

      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system

      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]

      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]

      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]

      - id: shellcheck
        name: shellcheck (shell script files)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (shell script files)
        language: system
        entry: shfmt --indent 2 --case-indent --binary-next-line --simplify -w
        types: [shell]

      - id: sourcelic
        name: Add Apache License to source files
        language: script
        entry: ./scripts/lint/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo
        files: MODULE.bazel$

Create a generic `ControllerStructure` to hold arbitrary bytes
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/madt.rs
  stage0_sev/src/platform/smp.rs
Due: rustfmt, sourcelic

Refactor all other MADT structs except `MultiprocessorWakeup` to use zerocopy
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/madt.rs
Due: rustfmt, sourcelic

Refactor `MultiprocessorWakeup` to use zerocopy
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/madt.rs
Due: rustfmt, sourcelic

Implement proper `Madt::iter()` and `Madt::iter_mut()` methods
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/madt.rs
  stage0_sev/src/platform/smp.rs
Due: rustfmt, sourcelic

Update layer2 event policy.
  oak_attestation_verification/src/compare.rs
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/policy/cb_transparent.rs
  tr/verify_endorsement/lib.rs
Due: rustfmt, sourcelic

Refactor the MADT replacement logic to rely on zerocopy.
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdt.rs
  stage0/src/acpi/tables/xsdt.rs
  stage0/src/lib.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Remove code that is no longer required.
  stage0/src/acpi/tables/madt.rs
  stage0/src/acpi/tables/mod.rs
Due: rustfmt, sourcelic

Minor clean-ups in the ACPI table code
  stage0/src/acpi/tables/fadt.rs
  stage0/src/acpi/tables/madt.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdt.rs
  stage0/src/acpi/tables/xsdt.rs
Due: rustfmt, sourcelic

Update the ACPI file loader also to use zerocopy
  stage0/src/acpi/commands/add_checksum.rs
  stage0/src/acpi/commands/add_pci_holes.rs
  stage0/src/acpi/commands/add_pci_root_stage1.rs
  stage0/src/acpi/commands/add_pci_root_stage2.rs
  stage0/src/acpi/commands/add_pointer.rs
  stage0/src/acpi/commands/allocate.rs
  stage0/src/acpi/commands/mod.rs
  stage0/src/acpi/commands/write_pointer.rs
  stage0/src/acpi/mod.rs
Due: rustfmt, sourcelic

Export the transparent verifiers.
  oak_attestation_verification/src/lib.rs
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: rustfmt, sourcelic

Return a reference from `set_or_append_mp_wakeup` only if we have a new MADT
  stage0/src/acpi/tables/madt.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Corretly use `Box::from_raw_in` in `Madt::new_with_size`.
  stage0/src/acpi/tables/madt.rs
Due: rustfmt, sourcelic

Add a couple of `From` implementations to `XsdtEntryPtr`
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/xsdt.rs
Due: rustfmt, sourcelic

Add a couple of tests for `MadtIterator` to `madt.rs`.
  stage0/src/acpi/tables/madt.rs
Due: rustfmt, sourcelic

Refactor the generic part out of `Madt::set_or_append_mp_wakeup_in`
  stage0/src/acpi/tables/madt.rs
Due: rustfmt, sourcelic

Add SNP kernel hash support
  snp_measurement/src/stage0.rs
  stage0/BUILD
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0/src/kernel.rs
  stage0/src/lib.rs
  stage0/src/zero_page.rs
  stage0_bin/layout.ld
  stage0_sev/BUILD
  stage0_sev/src/platform/kernel_hash_tables.rs
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: bazellic, rustfmt, sourcelic

Move `set_or_append_mp_wakeup` to the TDX crate.
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/madt.rs
  stage0/src/lib.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Attempt to fix GitHub build.
  .github/workflows/build.yaml
Due: prettier

Another attempt to fix the GH build after go/oak-cr/42140.
  .github/workflows/build.yaml
Due: prettier

Add signed endorsements tests for transparent verifiers.
  oak_attestation_verification/src/policy/cb_transparent.rs
  oak_attestation_verification/src/test_util.rs
Due: rustfmt, sourcelic

fix: update qemu stage0 prediction for new kernel_hashes pages
  snp_measurement/src/main.rs
  snp_measurement/src/stage0.rs
Due: rustfmt, sourcelic

Remove deprecated SearchMemoryRequest (v1 search API)
  oak_private_memory/analysis/eigen_benchmark.rs
  oak_private_memory/analysis/embedding_scoring_limit_test.rs
  oak_private_memory/analysis/large_db_persistence_test.rs
  oak_private_memory/app/handler.rs
  oak_private_memory/app/packing.rs
  oak_private_memory/database/database.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/proto/prelude.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/src/client.rs
  oak_private_memory/src/metrics.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/e2e_test.rs
  oak_private_memory/test/search_test.rs
Due: clang-format, rustfmt, sourcelic

Implement limit on searches.
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Fix a few build issues when including the sev_kernel_hashes feature
  stage0/src/lib.rs
  stage0_sev/src/platform/mod.rs
Due: rustfmt, sourcelic

Add README note for kernel hash feature
  stage0_bin/README.md
Due: markdownlint (Markdown files)

format README
  stage0_bin/README.md
Due: markdownlint (Markdown files)

Add VIEWS field back to MemoryField enum
  oak_private_memory/database/database.rs
  oak_private_memory/proto/sealed_memory.proto
Due: clang-format, rustfmt, sourcelic

Fix kernel hashes build failure
  stage0/src/lib.rs
  stage0_bin/README.md
  stage0_sev/src/platform/mod.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Add default_error_propagation_in_response config flag
  oak_private_memory/app/lib.rs
  oak_private_memory/app/service.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/test_utils.rs
Due: rustfmt, sourcelic

Defend against SEV-SNP page aliasing attack
  stage0_sev/src/platform/accept_memory.rs
Due: rustfmt, sourcelic

Add coarsened_expiration_timestamp to TEE proto for TEE -> untrusted protos during memory blob write, a icing metadata write, and an icing metadata read, which is where we want to set/update a TTL.
  oak_private_memory/proto/database.proto
  oak_private_memory/src/external_db_client.rs
  oak_private_memory/test/database/service.rs
Due: clang-format, rustfmt, sourcelic

Start using the HAL in the restricted kernel
  oak_hal/src/lib.rs
  oak_restricted_kernel/src/hal/mod.rs
  oak_restricted_kernel/src/hal/sev/mmio.rs
  oak_restricted_kernel/src/hal/sev/mod.rs
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/virtio_console.rs
  oak_restricted_kernel_bin/src/main.rs
  stage0/src/apic.rs
  stage0/src/hal/base/mmio.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0_sev/src/platform/mmio.rs
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

kokoro: add per-step timing and summary to build_test_and_copy_to_placer
  kokoro/build_test_and_copy_to_placer.sh
  kokoro/helpers/common.sh
  kokoro/runners/build_test_and_copy.sh
Due: none

Update logging initialization to use the HAL
  oak_restricted_kernel/src/hal/sev/mod.rs
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/logging.rs
Due: rustfmt, sourcelic

Move GHCB initialization into the HAL
  oak_restricted_kernel/src/hal/sev/mod.rs
  oak_restricted_kernel/src/lib.rs
Due: rustfmt, sourcelic

cleanup: rename mod.rs files
  oak_restricted_kernel/src/hal.rs
  oak_restricted_kernel/src/hal/sev.rs
Due: rustfmt, sourcelic

fix: prevent c2sp tests running on arm
  tr/c2sp/BUILD
Due: bazellic
