Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

bazellic:
  name: Add notice license to all bazel packages
  language: script
  entry: ./scripts/lint/add_bazel_license

bzllock:
  name: Make sure MODULE.bazel.lock files are fully up to date
  entry: ./scripts/lint/bazel_mod_deps
  language: script

clang-format:
  name: clang-format (C/C++, Java, Proto)
  entry: clang-format -i
  language: system

ktfmt:
  name: ktfmt (Kotlin)
  entry: ktfmt -F --google-style
  language: system

markdownlint (Markdown files):
  name: apply markdownlint for markdown files
  entry: markdownlint --fix
  language: system

nix:
  name: nixfmt (Nix)
  entry: nix fmt
  language: system

prettier:
  name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
  entry: prettier --write
  language: system

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt
  language: system

sourcelic:
  name: Add Apache License to source files
  language: script
  entry: ./scripts/lint/add_source_license

terraform fmt:
  name: terraform fmt
  entry: terraform fmt --write=true
  language: system

id:
  name: id
  language: system
  entry: echo

Fix the SEV-SNP C-bit position
  stage0_bin/src/asm/boot.s
Due: none

Fix page revalidation logic in Stage0
  stage0_sev/src/platform/accept_memory.rs
Due: rustfmt, sourcelic

update nix installation guide
  docs/development.md
Due: markdownlint (Markdown files)

private_memory: set explicit histogram bucket boundaries
  oak_private_memory/BUILD
  oak_private_memory/src/metrics.rs
Due: bazellic, rustfmt, sourcelic

private_memory: extend latency/count/speed histogram buckets
  oak_private_memory/src/metrics.rs
Due: rustfmt, sourcelic

Zero out the AP mailbox in TDX
  stage0_bin_tdx/src/asm/tdx.s
Due: none

only update UnorderedCrypter replay state after decryption succeeds
  oak_crypto/src/noise_handshake/mod.rs
  oak_crypto/src/noise_handshake/tests.rs
Due: rustfmt, sourcelic

Add ML-KEM tests to the Restricted Kernel crypto test.
  oak_restricted_kernel_crypto_test/BUILD
  oak_restricted_kernel_crypto_test/enclave_app/src/main.rs
  oak_restricted_kernel_crypto_test/enclave_app_boringssl/src/main.rs
  oak_restricted_kernel_crypto_test/proto/BUILD
  oak_restricted_kernel_crypto_test/proto/aead.proto
  oak_restricted_kernel_crypto_test/proto/crypto.proto
  oak_restricted_kernel_crypto_test/src/mlkem_wycheproof.rs
  oak_restricted_kernel_crypto_test/src/tests.rs
  oak_restricted_kernel_crypto_test/src/wycheproof.rs
  third_party/boringssl/patches/08_rust_build.patch
  third_party/wycheproof/BUILD
  third_party/wycheproof/testvectors_v1/mlkem_1024_keygen_seed_test.json
  third_party/wycheproof/testvectors_v1/mlkem_1024_test.json
  third_party/wycheproof/testvectors_v1/mlkem_768_keygen_seed_test.json
  third_party/wycheproof/testvectors_v1/mlkem_768_test.json
Due: bazellic, clang-format, rustfmt, sourcelic

Introduce validity to verification results.
  oak_attestation_verification/src/results.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/verification.proto
Due: clang-format, rustfmt, sourcelic

feat(oak_proxy): container digest verification
  docs/tr/claim/13420.md
  docs/tr/claim/README.md
  docs/workload-authorization-endorsement.md
  oak_attestation_gcp/src/assertions.rs
  oak_attestation_gcp/src/policy.rs
  oak_proxy/README.md
  oak_proxy/lib/BUILD
  oak_proxy/lib/src/config/authorized_endorsement.rs
  oak_proxy/lib/src/config/authorized_endorsement_tests.rs
  oak_proxy/lib/src/config/confidential_space.rs
  oak_proxy/lib/src/config/confidential_space_tests.rs
  oak_proxy/lib/src/config/mod.rs
  oak_proxy/lib/src/lib.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

stage0: use checked_add/checked_sub in setup_high_allocator
  oak_linux_boot_params/src/lib.rs
  stage0/src/acpi/mod.rs
Due: rustfmt, sourcelic

Remove experiments/tls-over-grpc
  experiments/tls-over-grpc/BUILD
  experiments/tls-over-grpc/README.md
  experiments/tls-over-grpc/client_main.cc
  experiments/tls-over-grpc/client_server_test.sh
  experiments/tls-over-grpc/generate_keys.sh
  experiments/tls-over-grpc/server_main.cc
  experiments/tls-over-grpc/service.proto
  experiments/tls-over-grpc/service_impl.cc
  experiments/tls-over-grpc/service_impl.h
Due: bazellic, clang-format, markdownlint (Markdown files), sourcelic

Expose validity period when evaluating endorsements.
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: rustfmt, sourcelic

Enable `std` on `goblin` if we're on a full-fat platform
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
Due: bzllock, id

Create a version of the stage0 test kernel that doesn't terminate
  oak_restricted_kernel_wrapper/BUILD
  stage0/testing/BUILD
  stage0/testing/test_kernel.rs
Due: bazellic, rustfmt, sourcelic

Create a flavour of stage0 for testing that uses a predictable root key.
  oak_dice/src/cert.rs
  stage0/BUILD
  stage0_bin/BUILD
  stage0_dice/BUILD
  stage0_dice/src/lib.rs
  stage0_sev/BUILD
Due: bazellic, rustfmt, sourcelic

Create a test that searches for the stage0 root key in guest memory.
  stage0/testing/BUILD
  stage0/testing/key_handling_test.rs
Due: bazellic, rustfmt, sourcelic

verify application key certificates in verify_dice_chain
  oak_attestation_verification/BUILD
  oak_attestation_verification/src/verifier.rs
  oak_attestation_verification/tests/verifier_tests.rs
Due: bazellic, rustfmt, sourcelic

Enlarge the stage0 stack and set up a unmapped stack guard page
  stage0/src/paging.rs
  stage0_bin/layout.ld
  stage0_bin_tdx/layout.ld
Due: rustfmt, sourcelic

Wipe out stage0 stack and heap before passing control to the kernel
  stage0/src/allocator.rs
  stage0/src/kernel.rs
  stage0_bin/layout.ld
  stage0_bin_tdx/layout.ld
Due: rustfmt, sourcelic

Look for stage1 signing keys in unexpected places in guest memory
  stage0/testing/key_handling_test.rs
Due: rustfmt, sourcelic

private_memory: apply zeroize to KEK and DEK
  oak_private_memory/BUILD
  oak_private_memory/app/BUILD
  oak_private_memory/app/context.rs
  oak_private_memory/app/handler.rs
  oak_private_memory/database/BUILD
  oak_private_memory/database/database.rs
  oak_private_memory/database/memory_blob_store.rs
  oak_private_memory/src/client.rs
Due: bazellic, rustfmt, sourcelic

Use a BumpAllocator for the Guest-Host heap
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/memory.rs
  oak_restricted_kernel/src/mm/bump_allocator.rs
  oak_restricted_kernel/src/mm/mod.rs
Due: rustfmt, sourcelic

Update linux kernel version to 6.12.101
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  docs/update_linux_kernel_version.md
  oak_containers/kernel/configs/6.12.101/BUILD
  oak_containers/kernel/configs/6.12.101/minimal.config
  oak_containers/kernel/generated/bzImage.sha256
  oak_containers/kernel/generated/vanilla_bzImage.sha256
  oak_containers/kernel/internal/extensions.bzl
  oak_containers/kernel/kernel-common.nix
  oak_containers/kernel/kernel_version.txt
  oak_private_memory/MODULE.bazel.lock
Due: bazellic, bzllock, markdownlint (Markdown files), nix, id

Fix formatting and restore verify_dice_chain's doc comment
  oak_attestation_verification/src/verifier.rs
  oak_attestation_verification/tests/verifier_tests.rs
Due: rustfmt, sourcelic

Remove alignment requirements from RSDT fields
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdt.rs
Due: rustfmt, sourcelic

Restrict guest physical addresses to 46 bits to avoid LA57 issues.
  oak_containers/examples/hello_world/host_app/BUILD
  oak_containers/launcher/src/qemu.rs
  oak_functions_containers_launcher/BUILD
Due: bazellic, rustfmt, sourcelic

Extract the QEMU and core dump handling into a separate library
  oak_test_utils/BUILD
  oak_test_utils/src/core.rs
  oak_test_utils/src/lib.rs
  oak_test_utils/src/qemu.rs
  stage0/testing/BUILD
  stage0/testing/key_handling_test.rs
Due: bazellic, rustfmt, sourcelic

private_memory: fix Icing lookup tokenization bugs
  oak_private_memory/database/SCHEMA_MIGRATION.md
  oak_private_memory/database/icing.rs
  oak_private_memory/src/icing/lib.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

private_memory: remove the v1 Icing searches
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

feat: add validity functions to provide bounds on endorsements.
  oak_attestation_verification/src/lib.rs
  oak_attestation_verification/src/validity.rs
Due: rustfmt, sourcelic

Calibrate TSC frequency instead of reading sysfs
  oak_benchmarks/cli_common/BUILD
  oak_benchmarks/cli_common/tsc.rs
Due: bazellic, rustfmt, sourcelic

Enable SHA/AES/PCLMULQDQ in bare-metal toolchains
  MODULE.bazel.lock
  bazel/rust/extensions.bzl
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
Due: none

Pass the DICE data structure around in a `Box` in the RK orchestrator.
  enclave_apps/oak_orchestrator/src/main.rs
  oak_restricted_kernel_dice/src/lib.rs
  oak_restricted_kernel_orchestrator/src/lib.rs
  oak_restricted_kernel_sdk/src/testing.rs
Due: rustfmt, sourcelic

Move DICE data into a `Box` without going through the stack
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/memory.rs
Due: rustfmt, sourcelic

Drop some seemingly unused code.
  oak_attestation/src/dice.rs
Due: rustfmt, sourcelic

require a peer verifier for peer-attested session types
  java/src/test/java/com/google/oak/session/BUILD
  java/src/test/java/com/google/oak/session/attestation_publisher_test_jni.rs
  oak_session/src/aggregators.rs
  oak_session/src/config.rs
  oak_session/src/session.rs
  oak_session/src/tests/session_tests.rs
Due: bazellic, rustfmt, sourcelic

Temporarily disable SHA-NI in bare-metal builds
  MODULE.bazel.lock
  bazel/rust/extensions.bzl
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
Due: none

Path conditions:
  bazellic: any of: BUILD, but not: third_party/
  bzllock: any of: MODULE.bazel$, but not: third_party/
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, but not: third_party/
  ktfmt: any of: \.(kt|kts)$, but not: third_party/
  markdownlint (Markdown files): any of: \.(md|markdown|mdown)$, but not: third_party/
  nix: any of: \.nix$, but not: third_party/
  prettier: any of: \.(yaml|yml)$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, but not: third_party/
  rustfmt: any of: \.rs$, but not: third_party/
  sourcelic: any of: \.rs$, \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, \.(kt|kts)$ and not (oak_proto_rust/generated|cc/crypto/hpke/jni) and not (third_party/)
  terraform fmt: any of: \.(tf|tfvars)$, but not: third_party/
  id: any of: MODULE.bazel$, but not: third_party/
