Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix, or
# they are scripts in our scripts/ directory.
repos:
  - repo: local
    hooks:
      # Keep these sorted by id alphabetically, except for `id` which should stay at the end.
      - id: badtodo
        name: Bad TODOs
        language: script
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/lint/validate_todos
        # prettier-ignore
        types_or:
          [rust, c, c++, proto, java, yaml, html, javascript, ts, css, scss, dockerfile, kotlin, markdown, shell]

      - id: bazellic
        name: Add notice license to all bazel packages
        language: script
        entry: ./scripts/lint/add_bazel_license
        files: BUILD

      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]

      - id: bzllock
        name: Make sure MODULE.bazel.lock files are fully up to date
        entry: ./scripts/lint/bazel_mod_deps
        language: script
        files: MODULE.bazel$

      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]

      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]

      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system

      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]

      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]

      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]

      - id: shellcheck
        name: shellcheck (shell script files)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (shell script files)
        language: system
        entry: shfmt --indent 2 --case-indent --binary-next-line --simplify -w
        types: [shell]

      - id: sourcelic
        name: Add Apache License to source files
        language: script
        entry: ./scripts/lint/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo
        files: MODULE.bazel$

Suppress cargo-audit errors
  .cargo/audit.toml
Due: none

Add index preservation benchmark and analysis report
  oak_private_memory/analysis/BUILD
  oak_private_memory/analysis/index_preservation_benchmark.rs
  oak_private_memory/analysis/index_preservation_report.md
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Move more types to oak_hal
  oak_hal/src/lib.rs
  stage0/BUILD
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0_sev/BUILD
  stage0_sev/src/platform/mod.rs
  stage0_tdx/BUILD
  stage0_tdx/src/platform.rs
Due: bazellic, rustfmt, sourcelic

Ignore another rustls-webpki advisory
  .cargo/audit.toml
Due: none

Provide a script to install the required libxml2.
  flake.nix
  scripts/install-libxml2-legacy
Due: nix

Remove LogCabin from Oak repo: it is now in its own repo.
  .github/workflows/build.yaml
  buildconfigs/oak_logcabin_endorser_enclave_app.sh
  docs/tr/reproducible.md
  enclave_apps/oak_logcabin_endorser_enclave_app/BUILD
  enclave_apps/oak_logcabin_endorser_enclave_app/README.md
  enclave_apps/oak_logcabin_endorser_enclave_app/src/main.rs
  justfile
  justfiles/github.just
Due: bazellic, markdownlint (Markdown files), prettier, rustfmt, sourcelic

Move the reusable Platform trait to oak_hal
  oak_hal/BUILD
  oak_hal/src/lib.rs
  stage0/src/hal/mod.rs
  stage0/src/paging.rs
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: bazellic, rustfmt, sourcelic

Split the stage0 HAL Platform into 2 traits
  stage0/src/acpi/mod.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0/src/lib.rs
  stage0/src/zero_page.rs
  stage0_sev/src/platform/dice_attestation.rs
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Remove `quash`
  quash
Due: none

Remove google-cloud-sdk from nix
  flake.nix
Due: nix

Remove proto/session/tls
  proto/session/tls/BUILD
  proto/session/tls/tls_session.proto
Due: bazellic, clang-format, sourcelic

Rename boot_strap_handler to user_registration_handler
  oak_private_memory/app/handler.rs
Due: rustfmt, sourcelic

Enable Eigen for Icing embedding search
  oak_private_memory/MODULE.bazel
  oak_private_memory/analysis/BUILD
  oak_private_memory/analysis/eigen_benchmark.rs
  oak_private_memory/analysis/eigen_benchmark_report.md
  oak_private_memory/src/icing/lib.rs
  oak_private_memory/third_party/eigen/BUILD.bazel
  oak_private_memory/third_party/icing/BUILD.bazel
Due: bazellic, bzllock, markdownlint (Markdown files), rustfmt, sourcelic, id

Add SyncDatabase RPC for synchronous database persistence
  oak_private_memory/app/handler.rs
  oak_private_memory/app/packing.rs
  oak_private_memory/app/persistence_worker.rs
  oak_private_memory/proto/prelude.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/src/client.rs
  oak_private_memory/src/metrics.rs
  oak_private_memory/test/e2e_test.rs
Due: clang-format, rustfmt, sourcelic

Add extension parameter to CreateSelfSigned
  oak_session/tls/BUILD
  oak_session/tls/oak_session_tls_test.cc
  oak_session/tls/rust/BUILD
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
  oak_session/tls/util.cc
  oak_session/tls/util.h
Due: bazellic, clang-format, rustfmt, sourcelic

Support custom-only TLS verification without trust anchors
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/rust/oak_session_tls.rs
Due: clang-format, rustfmt, sourcelic

Remove 30k num_to_score cap and add embedding scoring limit test
  oak_private_memory/analysis/BUILD
  oak_private_memory/analysis/embedding_scoring_limit_test.rs
  oak_private_memory/database/icing.rs
Due: bazellic, rustfmt, sourcelic

Increase Icing database capacity to 250MB and add large DB persistence test
  oak_private_memory/analysis/BUILD
  oak_private_memory/analysis/large_db_persistence_test.rs
  oak_private_memory/app/db_client.rs
  oak_private_memory/app/persistence_worker.rs
  oak_private_memory/app/service.rs
  oak_private_memory/database/database_with_cache.rs
Due: bazellic, rustfmt, sourcelic

Remove Cargo files from oak_time
  oak_time/Cargo.lock
  oak_time/Cargo.toml
Due: none

Update the Oak Containers system image
  justfiles/containers.just
  oak_containers/app_base/app_base.lock.json
  oak_containers/app_base/app_base.yaml
  oak_containers/sysroot/sysroot.lock.json
  oak_containers/sysroot/sysroot.yaml
  oak_containers/system_image/base/README.md
  oak_containers/system_image/base/base_image.Dockerfile
  oak_containers/system_image/base/nvidia_base_image.Dockerfile
  oak_containers/system_image/base/push-base.sh
Due: markdownlint (Markdown files), prettier

Minor clean-ups; mainly of visibilities that are no longer needed.
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/mod.rs
Due: rustfmt, sourcelic

Move FADT into a separate file
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/fadt.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/lib.rs
Due: rustfmt, sourcelic

Move ACPI tables RSDP and RSDT into separate files
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdp.rs
  stage0/src/acpi/tables/rsdt.rs
  stage0/src/acpi_tables.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0/src/lib.rs
Due: rustfmt, sourcelic

Move XSDT into a separate file.
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdp.rs
  stage0/src/acpi/tables/xsdt.rs
  stage0/src/acpi_tables.rs
  stage0/src/lib.rs
Due: rustfmt, sourcelic

Move MADT into a separate file
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/madt.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi_tables.rs
  stage0/src/lib.rs
Due: rustfmt, sourcelic

Add oak_private_memory AGENTS.md with verification checklist
  oak_private_memory/AGENTS.md
  oak_private_memory/justfile
Due: markdownlint (Markdown files)

Make `find_file_suffix` return a mutable reference
  stage0/src/acpi/files.rs
  stage0/src/acpi/mod.rs
Due: rustfmt, sourcelic

Return a `VirtAddr` from `build_acpi_tables`
  stage0/src/acpi/mod.rs
  stage0/src/lib.rs
Due: rustfmt, sourcelic

Extend attestation CLI for OakRestrictedKernel
  oak_attestation_verification/src/lib.rs
  oak_attestation_verification/src/verifiers.rs
  oak_attestation_verification_cli/BUILD
  oak_attestation_verification_cli/examples/restricted_kernel/BUILD
  oak_attestation_verification_cli/examples/restricted_kernel/generator.rs
  oak_attestation_verification_cli/examples/restricted_kernel/milan_rk_release_endorsements.binarypb
  oak_attestation_verification_cli/examples/restricted_kernel/milan_rk_release_evidence.binarypb
  oak_attestation_verification_cli/src/main.rs
  oak_attestation_verification_cli/src/report.rs
  oak_proto_rust/src/attestation.rs
Due: bazellic, rustfmt, sourcelic

Refactor the `Rsdp` data structures to not rely on unsafe pointer cast
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/rsdp.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0_sev/src/platform/mod.rs
  stage0_sev/src/platform/smp.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic
