Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

bazellic:
  name: Add notice license to all bazel packages
  language: script
  entry: ./scripts/lint/add_bazel_license

bzllock:
  name: Make sure MODULE.bazel.lock files are fully up to date
  entry: ./scripts/lint/bazel_mod_deps
  language: script

clang-format:
  name: clang-format (C/C++, Java, Proto)
  entry: clang-format -i
  language: system

ktfmt:
  name: ktfmt (Kotlin)
  entry: ktfmt -F --google-style
  language: system

markdownlint (Markdown files):
  name: apply markdownlint for markdown files
  entry: markdownlint --fix
  language: system

nix:
  name: nixfmt (Nix)
  entry: nix fmt
  language: system

prettier:
  name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
  entry: prettier --write
  language: system

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt
  language: system

sourcelic:
  name: Add Apache License to source files
  language: script
  entry: ./scripts/lint/add_source_license

terraform fmt:
  name: terraform fmt
  entry: terraform fmt --write=true
  language: system

id:
  name: id
  language: system
  entry: echo

Move the letters for `RSD PTR ` to a shared location.
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdp.rs
Due: rustfmt, sourcelic

Create a type parameter for the ACPI table signature field
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/fadt.rs
  stage0/src/acpi/tables/madt.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdt.rs
  stage0/src/acpi/tables/xsdt.rs
Due: rustfmt, sourcelic

Add dependency analysis tool with full dependency tree view
  justfiles/crates.just
  tools/analyze_crate_versions/crate_key.rs
  tools/analyze_crate_versions/deps.rs
  tools/analyze_crate_versions/main.rs
  tools/analyze_crate_versions/parse.rs
Due: rustfmt, sourcelic

Persist Icing index files via tar-based directory snapshot
  oak_private_memory/analysis/index_preservation_benchmark.rs
  oak_private_memory/proto/internal.proto
  oak_private_memory/src/icing/BUILD
  oak_private_memory/src/icing/lib.rs
  oak_private_memory/src/icing/test.rs
Due: bazellic, clang-format, rustfmt, sourcelic

Update build and dev Docker images
  .devcontainer.json
  Dockerfile
  scripts/common
Due: none

Change RSDT to a slice DST and use zerocopy for parsing it
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdp.rs
  stage0/src/acpi/tables/rsdt.rs
  stage0_sev/src/platform/smp.rs
Due: rustfmt, sourcelic

feat: Enable PES confirmation in attestation evidence packaging
  oak_attestation_gcp/src/policy.rs
  oak_attestation_verification_cli/examples/confidential_space/generator.rs
  tr/endorscope/BUILD
  tr/endorscope/package.rs
  tr/verify_endorsement/lib.rs
Due: bazellic, rustfmt, sourcelic

Look up the RSDP from the set of buffers loaded via `fw_cfg`
  stage0/src/acpi/files.rs
  stage0/src/acpi/mod.rs
Due: rustfmt, sourcelic

Derive from `Default` for the ACPI table signatures.
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdp.rs
  stage0/src/acpi/tables/rsdt.rs
Due: rustfmt, sourcelic

Implement a new Virtio over MMIO transport
  FORCE_CI
  oak_hal/src/lib.rs
  oak_launcher_utils/src/launcher.rs
  oak_restricted_kernel/src/virtio_console.rs
  stage0/src/apic.rs
  stage0/src/hal/base/mmio.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0_sev/src/platform/mmio.rs
  stage0_sev/src/platform/mod.rs
  stage0_sev/src/platform/smp.rs
  stage0_tdx/src/mmio.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Create a `Rsdt::new` to allocate a completely new RSDT.
  stage0/src/acpi/tables/rsdt.rs
Due: rustfmt, sourcelic

Change `Rsdp::rsdt()` and `Rsdp::xsdt()` to return a `VirtAddr`.
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/rsdp.rs
  stage0_sev/src/platform/smp.rs
Due: rustfmt, sourcelic

Add Github builconfig for the virtio-channel RK
  .github/workflows/build.yaml
  buildconfigs/oak_restricted_kernel_virtio_console_channel.sh
  justfile
  justfiles/github.just
Due: prettier

Add `Rsdp2::new()` to construct a new RSDP
  stage0/src/acpi/tables/rsdp.rs
Due: rustfmt, sourcelic

Add GHCB MMIO support to the virtio console driver
  oak_restricted_kernel/src/lib.rs
  oak_restricted_kernel/src/virtio_console.rs
Due: rustfmt, sourcelic

Create a `AcpiTables` struct to handle ACPI memory safely, first step
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdp.rs
  stage0/src/acpi/tables/rsdt.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0/src/lib.rs
  stage0_sev/src/platform/mod.rs
  stage0_sev/src/platform/smp.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Make database size and gRPC decode size configurable via ApplicationConfig
  oak_private_memory/app/db_client.rs
  oak_private_memory/app/handler.rs
  oak_private_memory/app/lib.rs
  oak_private_memory/app/persistence_worker.rs
  oak_private_memory/app/service.rs
  oak_private_memory/database/database_with_cache.rs
  oak_private_memory/test/test_utils.rs
Due: rustfmt, sourcelic

Change the XSDT to a slice DST and use zerocopy for interpreting it
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdp.rs
  stage0/src/acpi/tables/xsdt.rs
  stage0_sev/src/platform/smp.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

oak_session/tls: add configurable SAN verification
  oak_private_memory/test/tls_client_test.rs
  oak_session/tls/README.md
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/rust/example/grpc/client.rs
  oak_session/tls/rust/example/grpc/server.rs
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
  oak_session/tls/util.cc
  oak_session/tls/util.h
Due: clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Add documentation for endorscope_cli.
  tr/endorscope_cli/README.md
Due: markdownlint (Markdown files)

Add endorsement claim for the generic notion of a type.
  docs/tr/claim/07088.md
  docs/tr/claim/README.md
Due: markdownlint (Markdown files)

Remove in-memory cache from MemoryCache, rename to MemoryBlobStore
  oak_private_memory/app/context.rs
  oak_private_memory/app/handler.rs
  oak_private_memory/database/database.rs
  oak_private_memory/database/lib.rs
  oak_private_memory/database/memory_blob_store.rs
  oak_private_memory/database/memory_cache.rs
  oak_private_memory/test/test_utils.rs
Due: rustfmt, sourcelic

feat: Support pes_confirmation in JSON format
  oak_attestation_verification/BUILD
  oak_attestation_verification/test_util/endorsement_data.rs
  tr/pes/BUILD
  tr/pes/lib.rs
  tr/pes/testdata/pes_confirmation.json
  tr/pes/tests.rs
Due: bazellic, rustfmt, sourcelic

Change `print_system_data_table_entries` to take `AcpiTables`
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/xsdt.rs
Due: rustfmt, sourcelic

feat: Adjust pes_confirmation VM handling
  oak_attestation_verification/BUILD
  oak_attestation_verification/test_util/endorsement_data.rs
  oak_attestation_verification/testdata/BUILD
  oak_attestation_verification/testdata/pes/pes_public_key.pem
  oak_attestation_verification/testdata/pes/pes_root_cert.der
  tr/pes/BUILD
  tr/pes/lib.rs
  tr/pes/tests.rs
Due: bazellic, rustfmt, sourcelic

Introduce a generic `AcpiTable` trait for all the tables to implement.
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdt.rs
  stage0/src/acpi/tables/xsdt.rs
  stage0/src/lib.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Add verification logic around transparent reference values.
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/extract.rs
  oak_attestation_verification/src/policy.rs
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: rustfmt, sourcelic

Update FADT parsing logic to use `zerocopy`
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/fadt.rs
  stage0/src/acpi/tables/mod.rs
Due: rustfmt, sourcelic

Change the signature in MADT ControllerHeader fields to a parameter
  stage0/src/acpi/tables/madt.rs
Due: rustfmt, sourcelic

fix: Bounds check ACPI table pointers
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdt.rs
  stage0/src/acpi/tables/xsdt.rs
Due: rustfmt, sourcelic

refactor: Shorten SECURITY comments
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/mod.rs
  stage0/src/acpi/tables/rsdt.rs
  stage0/src/acpi/tables/xsdt.rs
Due: rustfmt, sourcelic

refactor: Use dedicated converter, instead manually creating PublicEndorsement
  tr/pes/BUILD
  tr/pes/json.rs
  tr/pes/lib.rs
Due: bazellic, rustfmt, sourcelic

Automated: Migrate oak/oak from gsutil to gcloud storage
  oak_containers/sysroot/push.sh
  oak_containers/system_image/base/push-base.sh
  scripts/publish
Due: none

Introduce new `MpmReferenceValue` proto for layer2.
  oak_attestation_explain/src/json_serialization.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/reference_value.proto
Due: clang-format, rustfmt, sourcelic

Fix TDX build of stage0
  stage0/src/acpi/tables/mod.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Refactor TLS trust anchors to use TrustAnchorProvider in Rust and C++
  oak_private_memory/test/tls_client_test.rs
  oak_session/tls/example/grpc/client_main.cc
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/oak_session_tls_test.cc
  oak_session/tls/rust/example/grpc/client.rs
  oak_session/tls/rust/example/grpc/server.rs
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
  oak_session/tls/util.cc
  oak_session/tls/util.h
Due: clang-format, rustfmt, sourcelic

Replace one use of `unsafe` in `MadtIterator` by relying on zerocopy.
  stage0/src/acpi/tables/madt.rs
Due: rustfmt, sourcelic

Change `Madt` to use zerocopy for parsing
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/fadt.rs
  stage0/src/acpi/tables/madt.rs
  stage0/src/acpi/tables/mod.rs
  stage0_sev/src/platform/smp.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Refactor `ProcessorLocalApic` and `ProcessorLocalX2Apic` to use zerocopy
  stage0/src/acpi/mod.rs
  stage0/src/acpi/tables/madt.rs
  stage0_sev/src/platform/smp.rs
Due: rustfmt, sourcelic

Path conditions:
  bazellic: any of: BUILD, but not: third_party/
  bzllock: any of: MODULE.bazel$, but not: third_party/
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, but not: third_party/
  ktfmt: any of: \.(kt|kts)$, but not: third_party/
  markdownlint (Markdown files): any of: \.(md|markdown|mdown)$, but not: third_party/
  nix: any of: \.nix$, but not: third_party/
  prettier: any of: \.(yaml|yml)$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, but not: third_party/
  rustfmt: any of: \.rs$, but not: third_party/
  sourcelic: any of: \.rs$, \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, \.(kt|kts)$ and not (oak_proto_rust/generated|cc/crypto/hpke/jni) and not (third_party/)
  terraform fmt: any of: \.(tf|tfvars)$, but not: third_party/
  id: any of: MODULE.bazel$, but not: third_party/
