Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix, or
# they are scripts in our scripts/ directory.
repos:
  - repo: local
    hooks:
      # Keep these sorted by id alphabetically, except for `id` which should stay at the end.
      - id: badtodo
        name: Bad TODOs
        language: script
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/lint/validate_todos
        # prettier-ignore
        types_or:
          [rust, c, c++, proto, java, yaml, html, javascript, ts, css, scss, dockerfile, kotlin, markdown, shell]

      - id: bazellic
        name: Add notice license to all bazel packages
        language: script
        entry: ./scripts/lint/add_bazel_license
        files: BUILD

      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]

      - id: bzllock
        name: Make sure MODULE.bazel.lock files are fully up to date
        entry: ./scripts/lint/bazel_mod_deps
        language: script
        files: MODULE.bazel$

      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]

      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]

      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system

      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]

      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]

      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]

      - id: shellcheck
        name: shellcheck (shell script files)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (shell script files)
        language: system
        entry: shfmt --indent 2 --case-indent --binary-next-line --simplify -w
        types: [shell]

      - id: sourcelic
        name: Add Apache License to source files
        language: script
        entry: ./scripts/lint/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo
        files: MODULE.bazel$

Make `xz` use all hardware threads when compressing files
  bazel/tools/xz/xz.bzl
Due: none

Don't pass `--platforms=` at all if platform is not specified
  justfiles/copy_helpers.just
Due: none

When we are already in a nix environment, don't re-enter it
  scripts/test_buildconfigs
Due: none

Group together different platforms in `presubmit`
  justfile
Due: none

Ensure crates is build with a consistent compilation mode
  justfile
  tools/lint-runner/scripts/format_all
  tools/lint-runner/scripts/format_changed
Due: none

Frame large messages with a vectored write
  oak_benchmarks/oak_paper/crypto_channel/message_stream.rs
Due: rustfmt, sourcelic

Build libc/libcxx with `nproc` cores in parallel
  third_party/llvm_libc/BUILD
Due: none

Tag some benchmark targets as `manual`
  oak_benchmarks/linux_enclave_app/BUILD
  oak_benchmarks/linux_vm/defs.bzl
  oak_benchmarks/oak_enclave_app/BUILD
Due: bazellic

Retract the BufferedStream regression
  oak_benchmarks/oak_paper/crypto_channel/README.md
Due: markdownlint (Markdown files)

Stop citing a leg that is not in this repository
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
Due: rustfmt, sourcelic

Size the guest from the working set
  oak_benchmarks/README.md
  oak_benchmarks/scripts/run_matrix.sh
Due: markdownlint (Markdown files)

Measure the handshake segments
  oak_benchmarks/oak_paper/crypto_channel/BUILD
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/handshake_segments.rs
  oak_benchmarks/oak_paper/crypto_channel/linux_server.rs
  oak_benchmarks/oak_paper/crypto_channel/message_stream.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Record the cost of the legacy AAD fallback
  oak_benchmarks/oak_paper/crypto_channel/README.md
Due: markdownlint (Markdown files)

Say why the two vsock tests fail locally
  AGENTS.md
Due: markdownlint (Markdown files)

Move `protoc` to `tools` when building Oak protobufs
  oak_proto_rust/grpc/BUILD
Due: bazellic

Test that Ring 3 gets no executable memory
  oak_restricted_kernel/testing/BUILD
  oak_restricted_kernel/testing/mmap_test.rs
  oak_restricted_kernel/testing/mmap_test_app.rs
Due: bazellic, rustfmt, sourcelic

Refuse PROT_EXEC from Ring 3
  oak_restricted_kernel/src/syscall/mmap.rs
  oak_restricted_kernel_interface/src/errno.rs
  oak_restricted_kernel_interface/src/syscalls.rs
Due: rustfmt, sourcelic

Decompose the cost of a hardware-rooted attestation verification
  oak_attestation_verification/tests/benchmarks.rs
Due: rustfmt, sourcelic

Fix formatting
  AGENTS.md
  oak_benchmarks/oak_paper/crypto_channel/README.md
Due: markdownlint (Markdown files)

style: format TLS README
  oak_session/tls/README.md
Due: markdownlint (Markdown files)

Add a vhost-net leg to the Linux VM benchmark baseline
  oak_benchmarks/linux_vm/README.md
  oak_benchmarks/linux_vm/defs.bzl
  oak_benchmarks/linux_vm/prepare_image.sh
  oak_benchmarks/linux_vm/run_vm.sh
  oak_benchmarks/oak_paper/crypto_channel/BUILD
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/process_benchmarks.py
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Name the cause when the frame stream desynchronises
  oak_channel/src/frame.rs
  oak_channel/src/tests.rs
Due: rustfmt, sourcelic

Update SPEC.md to the protocol that is actually implemented
  oak_channel/SPEC.md
Due: markdownlint (Markdown files)

Add `package_name_digest` to MpmAttachment proto.
  oak_attestation_verification/src/policy/cb_transparent.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/attachment.proto
Due: clang-format, rustfmt, sourcelic

Let the Linux VM benchmark legs run inside a TEE
  oak_benchmarks/README.md
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_cli/vm.rs
  oak_benchmarks/linux_vm/README.md
  oak_benchmarks/linux_vm/run_vm.sh
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/scripts/run_matrix.sh
Due: markdownlint (Markdown files), rustfmt, sourcelic

Use a length prefix when serializing assertions
  oak_session/src/attestation.rs
Due: rustfmt, sourcelic

feat(oak_gcp): add multi-party sovereign compliance example with progressive anonymization
  oak_gcp/examples/compliance/.gitignore
  oak_gcp/examples/compliance/README.md
  oak_gcp/examples/compliance/agent/.env.example
  oak_gcp/examples/compliance/agent/README.md
  oak_gcp/examples/compliance/agent/__init__.py
  oak_gcp/examples/compliance/agent/agent.py
  oak_gcp/examples/compliance/agent/main.py
  oak_gcp/examples/compliance/agent/requirements.txt
  oak_gcp/examples/compliance/agent/tools.py
  oak_gcp/examples/compliance/anonymizer/Dockerfile
  oak_gcp/examples/compliance/anonymizer/README.md
  oak_gcp/examples/compliance/anonymizer/proxy_client.toml
  oak_gcp/examples/compliance/anonymizer/proxy_server.toml
  oak_gcp/examples/compliance/anonymizer/publish_docker.sh
  oak_gcp/examples/compliance/anonymizer/requirements.txt
  oak_gcp/examples/compliance/anonymizer/server.py
  oak_gcp/examples/compliance/cli/README.md
  oak_gcp/examples/compliance/cli/client.py
  oak_gcp/examples/compliance/cli/main.py
  oak_gcp/examples/compliance/cli/requirements.txt
  oak_gcp/examples/compliance/evaluator/Dockerfile
  oak_gcp/examples/compliance/evaluator/Dockerfile.base
  oak_gcp/examples/compliance/evaluator/README.md
  oak_gcp/examples/compliance/evaluator/llm_manager.py
  oak_gcp/examples/compliance/evaluator/proxy_client.toml
  oak_gcp/examples/compliance/evaluator/proxy_server.toml
  oak_gcp/examples/compliance/evaluator/publish_docker.sh
  oak_gcp/examples/compliance/evaluator/requirements.txt
  oak_gcp/examples/compliance/evaluator/server.py
  oak_gcp/examples/compliance/sample_medical_records.csv
  oak_gcp/examples/compliance/terraform/README.md
  oak_gcp/examples/compliance/terraform/main.tf
  oak_gcp/examples/compliance/terraform/outputs.tf
  oak_gcp/examples/compliance/terraform/terraform.tfvars.example
  oak_gcp/examples/compliance/terraform/variables.tf
  oak_gcp/examples/compliance/tests/test_compliance_ladder.py
  oak_gcp/examples/compliance/tests/test_end_to_end_pipeline.py
Due: markdownlint (Markdown files), terraform fmt

Revert "Use a length prefix when serializing assertions"
  oak_session/src/attestation.rs
Due: rustfmt, sourcelic

Require the log entry in a C2SP tlog-proof
  tr/verify_endorsement/lib.rs
Due: rustfmt, sourcelic

Get `cmake`, `ninja` and `m4` from the nix shell
  flake.nix
Due: nix

Sweep data sizes and report an exchange rate
  oak_benchmarks/linux_vm/README.md
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/process_benchmarks.py
  oak_benchmarks/scripts/run_matrix.sh
Due: markdownlint (Markdown files), rustfmt, sourcelic

Make Linux halt when panicking, and not restart the machine
  oak_containers/testing/key_handling_test.rs
Due: rustfmt, sourcelic

Sign and verify artifacts in Confidential Space
  oak_trusted_agent/eval/README.md
  oak_trusted_agent/eval/common/BUILD
  oak_trusted_agent/eval/common/envelope.rs
  oak_trusted_agent/eval/common/flags.rs
  oak_trusted_agent/eval/common/lib.rs
  oak_trusted_agent/eval/common/statement.rs
  oak_trusted_agent/eval/common/tests.rs
  oak_trusted_agent/eval/signer/BUILD
  oak_trusted_agent/eval/signer/main.rs
  oak_trusted_agent/eval/signer/tests.rs
  oak_trusted_agent/eval/verifier/BUILD
  oak_trusted_agent/eval/verifier/main.rs
  oak_trusted_agent/eval/verifier/report.rs
  oak_trusted_agent/eval/verifier/tests.rs
  oak_trusted_agent/eval/verifier/workload.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

build: introduce Node.js, esbuild, and TypeScript rules_ts to Oak repo and Nix setup
  MODULE.bazel
  MODULE.bazel.lock
  flake.nix
Due: bzllock, nix, id

build: bump rustls to 0.23.45 to resolve RUSTSEC-2026-0285
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
  third_party/pprof/pprof-prost13.patch
Due: bzllock, id

Update the Containers Linux Kernel version
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_containers/kernel/configs/6.12.110/BUILD
  oak_containers/kernel/configs/6.12.110/minimal.config
  oak_containers/kernel/generated/bzImage.sha256
  oak_containers/kernel/generated/vanilla_bzImage.sha256
  oak_containers/kernel/internal/extensions.bzl
  oak_containers/kernel/kernel-common.nix
  oak_containers/kernel/kernel_version.txt
  oak_private_memory/MODULE.bazel.lock
Due: bazellic, nix

private_memory: raise database size limit to 512 MB
  oak_private_memory/AGENTS.md
  oak_private_memory/app/lib.rs
  oak_private_memory/database/database.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

feat: Prioritize PES in tlog Any strategy
  tr/verify_endorsement/lib.rs
Due: rustfmt, sourcelic

fix(oak_gcp): require hashes in compliance pip
  oak_gcp/examples/compliance/anonymizer/Dockerfile
  oak_gcp/examples/compliance/anonymizer/requirements.in
  oak_gcp/examples/compliance/anonymizer/requirements.txt
  oak_gcp/examples/compliance/cli/main.py
  oak_gcp/examples/compliance/cli/requirements.in
  oak_gcp/examples/compliance/cli/requirements.txt
  oak_gcp/examples/compliance/evaluator/Dockerfile
  oak_gcp/examples/compliance/evaluator/requirements.in
  oak_gcp/examples/compliance/evaluator/requirements.txt
Due: none
