Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix, or
# they are scripts in our scripts/ directory.
repos:
  - repo: local
    hooks:
      # Keep these sorted by id alphabetically, except for `id` which should stay at the end.
      - id: badtodo
        name: Bad TODOs
        language: script
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/lint/validate_todos
        # prettier-ignore
        types_or:
          [rust, c, c++, proto, java, yaml, html, javascript, ts, css, scss, dockerfile, kotlin, markdown, shell]

      - id: bazellic
        name: Add notice license to all bazel packages
        language: script
        entry: ./scripts/lint/add_bazel_license
        files: BUILD

      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]

      - id: bzllock
        name: Make sure MODULE.bazel.lock files are fully up to date
        entry: ./scripts/lint/bazel_mod_deps
        language: script
        files: MODULE.bazel$

      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]

      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]

      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system

      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]

      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]

      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]

      - id: shellcheck
        name: shellcheck (shell script files)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (shell script files)
        language: system
        entry: shfmt --indent 2 --case-indent --binary-next-line --simplify -w
        types: [shell]

      - id: sourcelic
        name: Add Apache License to source files
        language: script
        entry: ./scripts/lint/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo
        files: MODULE.bazel$

Record TSC on both platforms and report cycles/op
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/benchmark/timer.rs
  oak_benchmarks/proto/benchmark.proto
Due: clang-format, rustfmt, sourcelic

Update the Oak Container Linux Kernel to 6.12.103
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_containers/kernel/configs/6.12.103/BUILD
  oak_containers/kernel/configs/6.12.103/minimal.config
  oak_containers/kernel/generated/bzImage.sha256
  oak_containers/kernel/generated/vanilla_bzImage.sha256
  oak_containers/kernel/internal/extensions.bzl
  oak_containers/kernel/kernel-common.nix
  oak_containers/kernel/kernel_version.txt
  oak_private_memory/MODULE.bazel.lock
Due: bazellic, nix

private_memory: report duplicate name conflicts
  oak_private_memory/app/handler.rs
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

private_memory: index memory and view ids Verbatim
  oak_private_memory/database/SCHEMA_MIGRATION.md
  oak_private_memory/database/icing.rs
  oak_private_memory/src/icing/lib.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

private_memory: dedupe names in AddMemories batch
  oak_private_memory/app/handler.rs
  oak_private_memory/test/client_test.rs
Due: rustfmt, sourcelic

fix(oak_crypto): only advance OrderedCrypter's receive nonce after decryption succeeds
  oak_crypto/src/noise_handshake/mod.rs
  oak_crypto/src/noise_handshake/tests.rs
Due: rustfmt, sourcelic

Add the reproducibility fields to the wire format
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/benchmark/tests.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/linux_enclave_app/main.rs
  oak_benchmarks/oak_cli/main.rs
  oak_benchmarks/proto/benchmark.proto
Due: clang-format, rustfmt, sourcelic

Add getters and setters for validity period
  oak_attestation_verification/src/results.rs
Due: rustfmt, sourcelic

Update wasmtime to resolve vulnerabilities
  MODULE.bazel
  MODULE.bazel.lock
  codelab/MODULE.bazel.lock
  oak_private_memory/MODULE.bazel.lock
Due: bzllock, id

Create a seperate bss section for boot data, and wipe bss at the end
  stage0/src/kernel.rs
  stage0/src/lib.rs
  stage0/src/paging.rs
  stage0_bin/layout.ld
  stage0_bin/src/asm/boot.s
  stage0_bin_tdx/layout.ld
  stage0_bin_tdx/src/asm/tdx.s
Due: rustfmt, sourcelic

Report the instruction-set extensions in use
  oak_benchmarks/benchmark/BUILD
  oak_benchmarks/benchmark/cpu/mod.rs
Due: bazellic, rustfmt, sourcelic

use checked BootE820Entry::end() in three remaining unbounded-addition sites
  oak_restricted_kernel/src/memory.rs
  oak_restricted_kernel_wrapper/src/elf.rs
  stage0/src/allocator.rs
Due: rustfmt, sourcelic

require a peer verifier for peer-attested session types
  java/src/test/java/com/google/oak/session/BUILD
  java/src/test/java/com/google/oak/session/attestation_publisher_test_jni.rs
  oak_session/src/aggregators.rs
  oak_session/src/config.rs
  oak_session/src/session.rs
  oak_session/src/tests/session_tests.rs
Due: bazellic, rustfmt, sourcelic

Use checked BootE820Entry::end() in three remaining unbounded-addition sites
  oak_restricted_kernel/src/memory.rs
  oak_restricted_kernel_wrapper/src/elf.rs
  stage0/src/allocator.rs
Due: rustfmt, sourcelic

Return validity period in attestation verification results.
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/policy/cb_transparent.rs
  oak_attestation_verification/src/validity.rs
Due: rustfmt, sourcelic

Don't print the stack frame when we receive a `#BP` interrupt.
  oak_restricted_kernel/src/interrupts.rs
Due: rustfmt, sourcelic

Seed both platforms from the same constant
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/linux_enclave_app/main.rs
  oak_benchmarks/oak_enclave_app/README.md
  oak_benchmarks/oak_enclave_app/main.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Create a memory test for Restricted Kernel (orchestrator)
  enclave_apps/oak_orchestrator/src/main.rs
  oak_restricted_kernel/testing/BUILD
  oak_restricted_kernel/testing/key_handling_test.rs
  oak_restricted_kernel/testing/test_orchestrator.rs
  oak_restricted_kernel_dice/BUILD
  oak_restricted_kernel_dice/src/lib.rs
Due: bazellic, rustfmt, sourcelic

Do not allow setting memory id outside of SMOS.
  oak_private_memory/app/handler.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/e2e_test.rs
  oak_private_memory/test/tls_client_test.rs
Due: rustfmt, sourcelic

Add VM-based crypto channel benchmarks and address review comments
  build_output.log
  cc/attestation/.cm_project
  java/src/main/java/com/google/oak/session/tls/OakSessionTlsContext.kt
  oak_benchmarks/oak_paper/crypto_channel/BUILD
  oak_benchmarks/oak_paper/crypto_channel/README.md
  oak_benchmarks/oak_paper/crypto_channel/benchmark.rs
  oak_benchmarks/oak_paper/crypto_channel/cert_gen.rs
  oak_benchmarks/oak_paper/crypto_channel/linux_main.rs
  oak_benchmarks/oak_paper/crypto_channel/linux_server.rs
  test_output.log
Due: bazellic, ktfmt, markdownlint (Markdown files), rustfmt, sourcelic

fall back to v0 for initial data shorter than the header
  oak_restricted_kernel_orchestrator/src/lib.rs
Due: rustfmt, sourcelic

private_memory: always report errors in response
  oak_private_memory/app/handler.rs
  oak_private_memory/app/lib.rs
  oak_private_memory/app/service.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/src/client.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/e2e_test.rs
Due: clang-format, rustfmt, sourcelic

private_memory: bound Icing query size and nesting
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

private_memory: index viewType Verbatim
  oak_private_memory/database/SCHEMA_MIGRATION.md
  oak_private_memory/database/icing.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

Fix Private Memory client test
  oak_private_memory/test/client_test.rs
Due: rustfmt, sourcelic

Update Debian to the latest version
  .devcontainer.json
  oak_containers/app_base/app_base.lock.json
  oak_containers/app_base/app_base.yaml
  oak_containers/sysroot/sysroot.lock.json
  oak_containers/sysroot/sysroot.yaml
  oak_containers/system_image/base/base_image.Dockerfile
  scripts/common
Due: prettier

List the benchmark names in one table
  oak_benchmarks/cli_common/cli.rs
  oak_benchmarks/cli_common/lib.rs
Due: rustfmt, sourcelic

Ensure transparent policies return expected result validities.
  oak_attestation_verification/README.md
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: markdownlint (Markdown files), rustfmt, sourcelic

fix(oak_attestation_gcp): add clock skew leeway to GCP JWT verification
  oak_attestation_gcp/src/jwt/verification.rs
Due: rustfmt, sourcelic

Add a comment about why we're not including e820/acpi digests in salt.
  stage0_dice/src/lib.rs
Due: rustfmt, sourcelic

Final test: create a RK memory test for the orchestrator.
  enclave_apps/oak_orchestrator/BUILD
  oak_crypto/src/encryption_key.rs
  oak_crypto/src/hpke/mod.rs
  oak_restricted_kernel/src/syscall/key.rs
  oak_restricted_kernel/testing/BUILD
  oak_restricted_kernel/testing/enclave_app.rs
  oak_restricted_kernel/testing/orchestrator_key_handling_test.rs
  oak_restricted_kernel_dice/BUILD
  oak_restricted_kernel_dice/src/lib.rs
  oak_restricted_kernel_orchestrator/BUILD
  oak_test_utils/BUILD
  oak_test_utils/src/qemu.rs
Due: bazellic, rustfmt, sourcelic

feat(oak_proxy): L7 HTTP attestation headers
  oak_attestation_gcp/src/jwt/mod.rs
  oak_proxy/BUILD
  oak_proxy/README.md
  oak_proxy/client/BUILD
  oak_proxy/client/src/main.rs
  oak_proxy/client/src/noise.rs
  oak_proxy/client/src/tls.rs
  oak_proxy/docs/http-mode.md
  oak_proxy/lib/BUILD
  oak_proxy/lib/src/config/mod.rs
  oak_proxy/lib/src/http.rs
  oak_proxy/lib/src/lib.rs
  oak_proxy/lib/src/proxy.rs
  oak_proxy/server/src/main.rs
  oak_proxy/server/src/noise.rs
  oak_proxy/server/src/tls.rs
  oak_proxy/tests/integration_test.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Check that any memory we access in RK ACPI code is really ACPI memory
  oak_restricted_kernel/src/acpi.rs
Due: rustfmt, sourcelic

Revert "feat(oak_proxy): L7 HTTP attestation headers"
  oak_attestation_gcp/src/jwt/mod.rs
  oak_proxy/BUILD
  oak_proxy/README.md
  oak_proxy/client/BUILD
  oak_proxy/client/src/main.rs
  oak_proxy/client/src/noise.rs
  oak_proxy/client/src/tls.rs
  oak_proxy/docs/http-mode.md
  oak_proxy/lib/BUILD
  oak_proxy/lib/src/config/mod.rs
  oak_proxy/lib/src/http.rs
  oak_proxy/lib/src/lib.rs
  oak_proxy/lib/src/proxy.rs
  oak_proxy/server/src/main.rs
  oak_proxy/server/src/noise.rs
  oak_proxy/server/src/tls.rs
  oak_proxy/tests/integration_test.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic

Don't blindly fake unsupported `SEV_STATUS` MSR reads
  oak_restricted_kernel/src/interrupts.rs
  oak_restricted_kernel_sev/src/sev.rs
  oak_sev_guest/src/msr.rs
  stage0_bin/layout.ld
  stage0_bin/src/asm/boot.s
Due: rustfmt, sourcelic

Load the kernel _after_ setting up ACPI tables
  stage0/src/lib.rs
Due: rustfmt, sourcelic

Stop the CLIs formatting a failed run
  oak_benchmarks/benchmark/lib.rs
  oak_benchmarks/cli_common/BUILD
  oak_benchmarks/cli_common/lib.rs
  oak_benchmarks/cli_common/results.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/oak_cli/main.rs
Due: bazellic, rustfmt, sourcelic

Report the guest's CPU features to the host
  oak_benchmarks/benchmark/cpu/mod.rs
  oak_benchmarks/benchmark/service.rs
  oak_benchmarks/cli_common/lib.rs
  oak_benchmarks/cli_common/results.rs
  oak_benchmarks/linux_cli/main.rs
  oak_benchmarks/oak_cli/main.rs
Due: rustfmt, sourcelic

Remove the kernel arg truncation from `derive_sealing_cdi`
  stage0_dice/src/lib.rs
Due: rustfmt, sourcelic
