Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

bazellic:
  name: Add notice license to all bazel packages
  language: script
  entry: ./scripts/lint/add_bazel_license

bzllock:
  name: Make sure MODULE.bazel.lock files are fully up to date
  entry: ./scripts/lint/bazel_mod_deps
  language: script

clang-format:
  name: clang-format (C/C++, Java, Proto)
  entry: clang-format -i
  language: system

ktfmt:
  name: ktfmt (Kotlin)
  entry: ktfmt -F --google-style
  language: system

markdownlint (Markdown files):
  name: apply markdownlint for markdown files
  entry: markdownlint --fix
  language: system

nix:
  name: nixfmt (Nix)
  entry: nix fmt
  language: system

prettier:
  name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
  entry: prettier --write
  language: system

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt
  language: system

sourcelic:
  name: Add Apache License to source files
  language: script
  entry: ./scripts/lint/add_source_license

terraform fmt:
  name: terraform fmt
  entry: terraform fmt --write=true
  language: system

id:
  name: id
  language: system
  entry: echo

Use GetOptimizeInfo to gate Icing.Optimize calls
  oak_private_memory/analysis/BUILD
  oak_private_memory/analysis/optimize_benchmark.rs
  oak_private_memory/app/persistence_worker.rs
  oak_private_memory/database/database.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/src/icing/ffi_bridge.rs
  oak_private_memory/src/icing/ffi_wrapper.h
Due: bazellic, clang-format, rustfmt, sourcelic

Update Debian Docker image.
  .devcontainer.json
  oak_containers/app_base/app_base.yaml
  oak_containers/sysroot/sysroot.yaml
  oak_containers/system_image/base/base_image.Dockerfile
  scripts/common
Due: prettier

Import Wycheproof AEAD test vectors and create a RK test for them.
  oak_restricted_kernel_crypto_test/BUILD
  oak_restricted_kernel_crypto_test/README.md
  oak_restricted_kernel_crypto_test/enclave_app/BUILD
  oak_restricted_kernel_crypto_test/enclave_app/README.md
  oak_restricted_kernel_crypto_test/enclave_app/src/main.rs
  oak_restricted_kernel_crypto_test/proto/BUILD
  oak_restricted_kernel_crypto_test/proto/aead.proto
  oak_restricted_kernel_crypto_test/src/tests.rs
  oak_restricted_kernel_crypto_test/src/wycheproof.rs
  third_party/wycheproof/BUILD
  third_party/wycheproof/LICENSE
  third_party/wycheproof/schemas/aead_test_schema_v1.json
  third_party/wycheproof/schemas/common.json
  third_party/wycheproof/testvectors_v1/aes_gcm_test.json
Due: bazellic, clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Fix rust-analyzer data generation.
  .vscode/tasks.json
  justfile
Due: none

fix message length underflow in oak_channel read_message
  oak_channel/src/lib.rs
  oak_channel/src/tests.rs
Due: rustfmt, sourcelic

Fix: Verify ApplicationLayerData event against ApplicationKeys.
  oak_attestation/src/dice.rs
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/extract.rs
  oak_attestation_verification/src/verifier.rs
  oak_attestation_verification/tests/verifier_tests.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  oak_restricted_kernel_orchestrator/src/lib.rs
  proto/attestation/eventlog.proto
  proto/attestation/verification.proto
Due: clang-format, rustfmt, sourcelic

Add Oak Restricted kernel TDX to TR configs.
  .github/workflows/build.yaml
  buildconfigs/oak_restricted_kernel_tdx_simple_io_channel.sh
  buildconfigs/oak_restricted_kernel_tdx_virtio_console_channel.sh
  justfiles/github.just
Due: prettier

Fix TDX Restricted Kernel TR import config name mismatch.
  justfile
Due: none

require event log length to match dice layer count
  oak_attestation_verification/src/verifier.rs
  oak_attestation_verification/src/verifier/tests.rs
Due: rustfmt, sourcelic

Clearly log "ERROR" on git_check_diff.
  scripts/git_check_diff
Due: none

bound tdx hob walk to the reserved hob region
  stage0_tdx/src/hob.rs
Due: rustfmt, sourcelic

skip tdcall serial log in host hob tests
  stage0_tdx/src/hob.rs
Due: rustfmt, sourcelic

reject elf segments where p_filesz exceeds p_memsz
  oak_restricted_kernel/src/processes.rs
Due: rustfmt, sourcelic

fix(oak_crypto): correct Noise KK se DH term to restore forward secrecy
  oak_crypto/src/noise_handshake/client.rs
  oak_crypto/src/noise_handshake/mod.rs
  oak_crypto/src/noise_handshake/tests.rs
Due: rustfmt, sourcelic

clamp setup header length before copying into hdr
  stage0/src/zero_page.rs
Due: rustfmt, sourcelic

Add a TLS option to oak_proxy
  oak_proxy/BUILD
  oak_proxy/client/BUILD
  oak_proxy/client/src/main.rs
  oak_proxy/client/src/noise.rs
  oak_proxy/client/src/tls.rs
  oak_proxy/lib/BUILD
  oak_proxy/lib/src/config/mod.rs
  oak_proxy/lib/src/proxy.rs
  oak_proxy/lib/src/websocket.rs
  oak_proxy/server/BUILD
  oak_proxy/server/src/main.rs
  oak_proxy/server/src/noise.rs
  oak_proxy/server/src/tls.rs
  oak_proxy/tests/integration_test.rs
Due: bazellic, rustfmt, sourcelic

fix: resolve oak_proxy build errors due to oak_session_tls API changes
  oak_proxy/client/src/tls.rs
  oak_proxy/server/src/tls.rs
Due: rustfmt, sourcelic

reject single-frame channel messages shorter than the header
  oak_channel/src/lib.rs
  oak_channel/src/tests.rs
Due: rustfmt, sourcelic

Enforce user-space bound for MAP_FIXED mmap and reject non-canonical addresses
  oak_restricted_kernel/src/syscall/mmap.rs
Due: rustfmt, sourcelic

bound kernel image size in try_load_kernel_image
  stage0/src/kernel.rs
  stage0/src/lib.rs
Due: rustfmt, sourcelic

Ensure the 32-bit PCI MMIO doesn't accidentally overlap RAM.
  stage0/src/pci/machine.rs
Due: rustfmt, sourcelic

fix: ignore quick-xml failures in cargo-audit (b/531801238)
  .cargo/audit.toml
Due: none

Remove deprecated EndorsementReferenceValue proto fields and associated code.
  oak_attestation_explain/src/json_serialization.rs
  oak_attestation_verification/src/endorsement.rs
  oak_attestation_verification/src/endorsement/tests.rs
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/lib.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/reference_value.proto
Due: clang-format, rustfmt, sourcelic

feat(oak_proxy): return HTTP 502 on handshake fail
  oak_proxy/client/src/main.rs
  oak_proxy/client/src/noise.rs
  oak_proxy/client/src/tls.rs
  oak_proxy/tests/integration_test.rs
Due: rustfmt, sourcelic

gate event-log verification on policies not prover endorsements
  oak_attestation_verification/src/verifiers.rs
  oak_attestation_verification/tests/policy_tests.rs
Due: rustfmt, sourcelic

Remove all the runtime-agent verification logic.
  oak_attestation_verification/src/policy/cb_transparent.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/endorsement.proto
Due: clang-format, rustfmt, sourcelic

Add support for multiple MPM endorsements.
  oak_attestation_explain/src/json_serialization.rs
  oak_attestation_verification/src/policy/cb_transparent.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/endorsement.proto
  proto/attestation/reference_value.proto
Due: clang-format, rustfmt, sourcelic

Ignore the symlinks from the lint-builder.
  .bazelignore
Due: none

Path conditions:
  bazellic: any of: BUILD, but not: third_party/
  bzllock: any of: MODULE.bazel$, but not: third_party/
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, but not: third_party/
  ktfmt: any of: \.(kt|kts)$, but not: third_party/
  markdownlint (Markdown files): any of: \.(md|markdown|mdown)$, but not: third_party/
  nix: any of: \.nix$, but not: third_party/
  prettier: any of: \.(yaml|yml)$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, but not: third_party/
  rustfmt: any of: \.rs$, but not: third_party/
  sourcelic: any of: \.rs$, \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, \.(kt|kts)$ and not (oak_proto_rust/generated|cc/crypto/hpke/jni) and not (third_party/)
  terraform fmt: any of: \.(tf|tfvars)$, but not: third_party/
  id: any of: MODULE.bazel$, but not: third_party/
