Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

.pre-commit-config.yaml:

exclude: third_party/

# The hooks here are using tools that we have pre-installed using flake.nix, or
# they are scripts in our scripts/ directory.
repos:
  - repo: local
    hooks:
      # Keep these sorted by id alphabetically, except for `id` which should stay at the end.
      - id: badtodo
        name: Bad TODOs
        language: script
        exclude: '.pre-commit-config.yaml|validate_todos'
        entry: ./scripts/lint/validate_todos
        # prettier-ignore
        types_or:
          [rust, c, c++, proto, java, yaml, html, javascript, ts, css, scss, dockerfile, kotlin, markdown, shell]

      - id: bazellic
        name: Add notice license to all bazel packages
        language: script
        entry: ./scripts/lint/add_bazel_license
        files: BUILD

      - id: buildifier
        name: buildifier (Bazel BUILD and .bzl files)
        entry: buildifier
        language: system
        types: [bazel]

      - id: bzllock
        name: Make sure MODULE.bazel.lock files are fully up to date
        entry: ./scripts/lint/bazel_mod_deps
        language: script
        files: MODULE.bazel$

      - id: clang-format
        name: clang-format (C/C++, Java, Proto)
        entry: clang-format -i
        language: system
        types_or: [c, c++, proto, java]

      - id: hadolint
        name: hadolint (Dockerfiles)
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ktfmt
        name: ktfmt (Kotlin)
        entry: ktfmt -F --google-style
        language: system
        types: [kotlin]

      - id: markdownlint (Markdown files)
        name: apply markdownlint for markdown files
        entry: markdownlint --fix
        types: [markdown]
        language: system

      - id: nix
        name: nixfmt (Nix)
        entry: nix fmt
        language: system
        types: [nix]

      - id: prettier
        name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
        entry: prettier --write
        language: system
        types_or: [yaml, html, javascript, ts, css, scss]

      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt
        language: system
        types: [rust]

      - id: shellcheck
        name: shellcheck (shell script files)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (shell script files)
        language: system
        entry: shfmt --indent 2 --case-indent --binary-next-line --simplify -w
        types: [shell]

      - id: sourcelic
        name: Add Apache License to source files
        language: script
        entry: ./scripts/lint/add_source_license
        exclude: 'oak_proto_rust/generated|cc/crypto/hpke/jni'
        types_or:
          [rust, c, c++, proto, java, html, javascript, ts, css, scss, kotlin]

      - id: terraform fmt
        name: terraform fmt
        entry: terraform fmt --write=true
        language: system
        types: [terraform]

      # Use this for debugging to make sure that expected files are covered.
      - id: id
        name: id
        language: system
        entry: echo
        files: MODULE.bazel$

Restore oak_sdk_standalone
  oak_sdk/standalone/BUILD
  oak_sdk/standalone/standalone.rs
Due: bazellic, rustfmt, sourcelic

Hardcode virtual address size to 48 in jemalloc configuration
  bazel/jemalloc.BUILD
Due: bazellic

Defer blob soft-deletes until after index persistence
  oak_private_memory/app/persistence_worker.rs
  oak_private_memory/database/database.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/src/metrics.rs
  oak_private_memory/test/e2e_test.rs
Due: rustfmt, sourcelic

Use new memory encryption features in Stage0
  FORCE_CI
  oak_hal/src/lib.rs
  oak_restricted_kernel_sev/src/sev.rs
  stage0/src/hal/base/mod.rs
  stage0/src/hal/mod.rs
  stage0/src/lib.rs
  stage0/src/paging.rs
  stage0_bin/src/asm/boot.s
  stage0_sev/src/platform/mod.rs
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Remove the PageEncryption enum
  oak_hal/src/lib.rs
  oak_restricted_kernel/src/memory.rs
  oak_restricted_kernel/src/mm/mod.rs
  oak_restricted_kernel/src/mm/page_tables.rs
  oak_restricted_kernel/src/syscall/mmap.rs
  oak_restricted_kernel_sev/src/ghcb.rs
  stage0/src/hal/base/mmio.rs
  stage0/src/hal/base/mod.rs
  stage0/src/paging.rs
  stage0_sev/src/platform/accept_memory.rs
  stage0_sev/src/platform/mod.rs
Due: rustfmt, sourcelic

Add FileUtil runfiles helper for Java/Kotlin
  java/src/main/java/com/google/oak/util/BUILD
  java/src/main/java/com/google/oak/util/FileUtil.kt
  java/src/test/java/com/google/oak/util/BUILD
  java/src/test/java/com/google/oak/util/FileUtilTest.kt
  java/src/test/java/com/google/oak/verification/BUILD
  java/src/test/java/com/google/oak/verification/LogEntryVerifierTest.kt
  java/src/test/java/com/google/oak/verification/RekorLogEntryTest.kt
  java/src/test/java/com/google/oak/verification/SignatureVerifierTest.kt
Due: bazellic, ktfmt, sourcelic

Surface version conflicts via response field instead of RPC error
  oak_private_memory/proto/database.proto
  oak_private_memory/src/external_db_client.rs
  oak_private_memory/test/database/service.rs
Due: clang-format, rustfmt, sourcelic

docs: details for oak session TLS initial_data return value
  oak_session/tls/README.md
  oak_session/tls/oak_session_tls.h
  oak_session/tls/rust/oak_session_tls.rs
Due: clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Verify digest of SignedEndorsement.subject.
  oak_attestation_gcp/src/policy.rs
  oak_attestation_verification/src/expect.rs
  oak_attestation_verification/src/expect/tests.rs
  oak_attestation_verification/src/policy/cb_transparent.rs
  oak_attestation_verification/src/test_util.rs
  tr/intoto/statement.rs
  tr/verify_endorsement/lib.rs
Due: rustfmt, sourcelic

chore: exclude tracked files from ignore rules
  .gitignore
  artifacts/README.md
  artifacts/bazel-testlogs/README.md
Due: markdownlint (Markdown files)

Add deny_unknown_fields to ApplicationConfig
  oak_private_memory/app/BUILD
  oak_private_memory/app/lib.rs
Due: bazellic, rustfmt, sourcelic

fix u32 overflow in add_checksum bounds check
  stage0/src/acpi/commands/add_checksum.rs
  stage0/src/acpi/mod.rs
Due: rustfmt, sourcelic

Add py targets
  proto/attestation/BUILD
Due: bazellic

fix: Require client to verify server cert in TLS
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/oak_session_tls_test.cc
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
Due: clang-format, rustfmt, sourcelic

bound e820 entry writes in tdx prefill_e820_table
  stage0_tdx/src/platform.rs
Due: rustfmt, sourcelic

Add restricted kernel TDX HAL implementation
  oak_restricted_kernel_tdx/BUILD
  oak_restricted_kernel_tdx/src/lib.rs
  oak_restricted_kernel_tdx/src/tdx.rs
  oak_tdx_guest/BUILD
  oak_tdx_guest/src/vmcall.rs
Due: bazellic, rustfmt, sourcelic

Create TDX Oak Restricted Kernel binaries
  justfile
  oak_restricted_kernel_bin_tdx/BUILD
  oak_restricted_kernel_bin_tdx/src/main.rs
  oak_restricted_kernel_wrapper/BUILD
Due: bazellic, rustfmt, sourcelic

Add warning to software-rooted verifier
  oak_attestation_verification/src/verifier.rs
Due: rustfmt, sourcelic

Bind blob identifier as AAD in AES-256-GCM-SIV encryption
  oak_private_memory/BUILD
  oak_private_memory/app/handler.rs
  oak_private_memory/database/encryption.rs
  oak_private_memory/database/memory_blob_store.rs
  oak_private_memory/src/encryption.rs
Due: bazellic, rustfmt, sourcelic

Fix GHCB reset code
  oak_sev_guest/src/ghcb.rs
Due: rustfmt, sourcelic

Fix TDX binary artifact copying
  justfile
Due: none

bound add_pci_root acpi command offsets to file length
  stage0/src/acpi/commands/add_pci_root_stage1.rs
  stage0/src/acpi/commands/add_pci_root_stage2.rs
  stage0/src/acpi/mod.rs
Due: rustfmt, sourcelic

Add batch ReadDataBlobs/WriteDataBlobs proto and remove unused strong_read
  oak_private_memory/database/memory_blob_store.rs
  oak_private_memory/proto/database.proto
  oak_private_memory/src/external_db_client.rs
  oak_private_memory/test/database/service.rs
Due: clang-format, rustfmt, sourcelic

Use batch ReadDataBlobs RPC in get_blobs
  oak_private_memory/src/external_db_client.rs
Due: rustfmt, sourcelic

Distinguish "memory not found" from "missing blob_id" in delete_memories
  oak_private_memory/database/icing.rs
Due: rustfmt, sourcelic

Add InvokeAsync RPC with concurrent request dispatch
  oak_private_memory/AGENTS.md
  oak_private_memory/app/service.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/src/client.rs
  oak_private_memory/test/client_test.rs
  oak_private_memory/test/database/service.rs
Due: clang-format, markdownlint (Markdown files), rustfmt, sourcelic

fix overflow in PciBar::new for zero-size pci bars
  stage0/src/pci/device.rs
Due: rustfmt, sourcelic

Make delete_memories non-failing for missing memory IDs
  oak_private_memory/app/handler.rs
  oak_private_memory/database/database.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/test/e2e_test.rs
Due: clang-format, rustfmt, sourcelic

Add a field for TDX measurements in `FirmwareAttachment`
  docs/tr/claim/10271.md
  docs/tr/claim/README.md
  oak_attestation_verification/src/expect/tests.rs
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/attachment.proto
Due: clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Add batch AddMemories API
  oak_private_memory/app/handler.rs
  oak_private_memory/app/packing.rs
  oak_private_memory/database/database.rs
  oak_private_memory/database/memory_blob_store.rs
  oak_private_memory/proto/prelude.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/src/client.rs
  oak_private_memory/src/external_db_client.rs
  oak_private_memory/src/metrics.rs
  oak_private_memory/test/client_test.rs
Due: clang-format, rustfmt, sourcelic

Clean up Intel TDX attestation verification
  oak_attestation_verification/src/compare.rs
  oak_attestation_verification/src/platform.rs
  oak_attestation_verification/src/policy/firmware.rs
  oak_attestation_verification/src/verifiers.rs
Due: rustfmt, sourcelic

require event log length to match dice layer count
  oak_attestation_verification/src/verifier.rs
  oak_attestation_verification/src/verifier/tests.rs
Due: rustfmt, sourcelic

Ensure all MPMs in Layer 2 are endorsed.
  oak_attestation_verification/src/policy/cb_transparent.rs
Due: rustfmt, sourcelic

refactor: improve tlog-policy parsing to include validation for duplicates, reserved names, and thresholds
  oak_proto_rust/generated/oak.attestation.v1.rs
  proto/attestation/reference_value.proto
  tr/c2sp/policy.rs
Due: clang-format, rustfmt, sourcelic

If available, add the TDX digest to the raw digests for comparison
  oak_attestation_verification/src/expect.rs
Due: rustfmt, sourcelic
