Repository project-oak/oak: changes, and which pre-commit hooks are due for each by the changed paths.
All: bazellic, bzllock, clang-format, ktfmt, markdownlint (Markdown files), nix, prettier, rustfmt, sourcelic, terraform fmt, id

bazellic:
  name: Add notice license to all bazel packages
  language: script
  entry: ./scripts/lint/add_bazel_license

bzllock:
  name: Make sure MODULE.bazel.lock files are fully up to date
  entry: ./scripts/lint/bazel_mod_deps
  language: script

clang-format:
  name: clang-format (C/C++, Java, Proto)
  entry: clang-format -i
  language: system

ktfmt:
  name: ktfmt (Kotlin)
  entry: ktfmt -F --google-style
  language: system

markdownlint (Markdown files):
  name: apply markdownlint for markdown files
  entry: markdownlint --fix
  language: system

nix:
  name: nixfmt (Nix)
  entry: nix fmt
  language: system

prettier:
  name: prettier (YAML, HTML, JS, TS, CSS, SCSS)
  entry: prettier --write
  language: system

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt
  language: system

sourcelic:
  name: Add Apache License to source files
  language: script
  entry: ./scripts/lint/add_source_license

terraform fmt:
  name: terraform fmt
  entry: terraform fmt --write=true
  language: system

id:
  name: id
  language: system
  entry: echo

Add more metrics to break down the keysync latency
  oak_private_memory/app/handler.rs
  oak_private_memory/src/metrics.rs
Due: rustfmt, sourcelic

Fix search() ordering for text-only queries and add test
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Build the Oak Containers sysroot using rules_distroless
  .bazelignore
  MODULE.bazel
  MODULE.bazel.lock
  bazel/extensions.bzl
  codelab/MODULE.bazel
  codelab/MODULE.bazel.lock
  justfile
  justfiles/containers.just
  oak_containers/sysroot/.bazelversion
  oak_containers/sysroot/BUILD
  oak_containers/sysroot/BUILD.sysroot
  oak_containers/sysroot/MODULE.bazel
  oak_containers/sysroot/MODULE.bazel.lock
  oak_containers/sysroot/README.md
  oak_containers/sysroot/push.sh
  oak_containers/sysroot/sysroot.lock.json
  oak_containers/sysroot/sysroot.yaml
  oak_containers/system_image/README.md
  oak_containers/system_image/base/README.md
  oak_containers/system_image/base/base_image.Dockerfile
  oak_containers/system_image/base/build-base.sh
  oak_containers/system_image/base/push-base.sh
  oak_containers/system_image/base/sysroot.Dockerfile
  oak_private_memory/MODULE.bazel
  oak_private_memory/MODULE.bazel.lock
Due: bazellic, bzllock, markdownlint (Markdown files), prettier, id

Create the namespaces for each launcher invocation not one for everything
  oak_containers/launcher/BUILD
  oak_containers/launcher/nswrap.sh
  oak_functions_containers_launcher/BUILD
  oak_functions_containers_launcher/tests/integration_test.rs
  oak_functions_containers_launcher/tests/run_integration_test.sh
  oak_functions_test_utils/src/lib.rs
Due: bazellic, rustfmt, sourcelic

Ensure Oak Session records attestations on success or fail.
  oak_proxy/client/src/main.rs
  oak_session/src/attestation.rs
Due: rustfmt, sourcelic

README.md for the OC3 demo.
  mcp/oak_functions_mcp/src/service.rs
  mcp/oc3_2026_demo/BUILD
  mcp/oc3_2026_demo/README.md
  mcp/oc3_2026_demo/activities/activities.tfvars
  mcp/oc3_2026_demo/activities/activities_client_config.toml
  mcp/oc3_2026_demo/client_config.toml
  mcp/oc3_2026_demo/flights/flights.tfvars
  mcp/oc3_2026_demo/flights/flights_client_config.toml
  mcp/oc3_2026_demo/generate_reference_values.rs
  mcp/oc3_2026_demo/hotels/hotels.tfvars
  mcp/oc3_2026_demo/hotels/hotels_client_config.toml
  mcp/oc3_2026_demo/publish_docker.sh
  mcp/oc3_2026_demo/reference_values.pb
  mcp/oc3_2026_demo/terraform/main.tf
  mcp/oc3_2026_demo/terraform/outputs.tf
  mcp/oc3_2026_demo/terraform/provider.tf
  mcp/oc3_2026_demo/terraform/variables.tf
  oak_proxy/lib/src/config/mod.rs
Due: bazellic, markdownlint (Markdown files), rustfmt, sourcelic, terraform fmt

Ensure we listen on vsock only if the channel is vsock
  oak_containers/launcher/src/lib.rs
  oak_containers/launcher/src/server.rs
  oak_functions_containers_launcher/tests/integration_test.rs
Due: rustfmt, sourcelic

oak_session/tls: Add PQC support with X25519MLKEM768
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/oak_session_tls_test.cc
Due: clang-format, sourcelic

oak_session/tls: Enable TLS 1.3 minimum and server cert verification
  oak_session/tls/example/grpc/client_main.cc
  oak_session/tls/example/grpc/server_main.cc
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls_test.cc
  oak_session/tls/rust/oak_session_tls_test.rs
  oak_session/tls/testing/BUILD
  oak_session/tls/testing/README.md
  oak_session/tls/testing/test_ca.key
  oak_session/tls/testing/test_ca.pem
  oak_session/tls/testing/test_client.key
  oak_session/tls/testing/test_client.pem
  oak_session/tls/testing/test_server.key
  oak_session/tls/testing/test_server.pem
  oak_session/tls/testing/test_untrusted.key
  oak_session/tls/testing/test_untrusted.pem
Due: bazellic, clang-format, markdownlint (Markdown files), rustfmt, sourcelic

Add cc proto for assertion proto.
  proto/attestation/BUILD
Due: bazellic

Fix cargo-audit
  .cargo/audit.toml
  justfile
  scripts/generate_cargo_lock.py
Due: none

Sync the proto changes for search API
  oak_private_memory/app/handler.rs
  oak_private_memory/app/packing.rs
  oak_private_memory/proto/build.rs
  oak_private_memory/proto/prelude.rs
  oak_private_memory/proto/sealed_memory.proto
  oak_private_memory/src/client.rs
  oak_private_memory/src/metrics.rs
Due: clang-format, rustfmt, sourcelic

Add SearchMemories v2: string filter search
  oak_private_memory/app/handler.rs
  oak_private_memory/database/database_with_cache.rs
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Add SearchMemories v2: timestamp filters
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Add SearchMemories v2: composite filters (AND/OR/NOT)
  oak_private_memory/database/icing.rs
  oak_private_memory/test/search_test.rs
Due: rustfmt, sourcelic

Pass required claims through endorscope_cli.
  oak_attestation_gcp/src/assertions.rs
  oak_attestation_gcp/src/policy.rs
  oak_attestation_gcp/src/policy_generator.rs
  tr/endorscope/package.rs
  tr/endorscope_cli/list.rs
  tr/endorscope_cli/main.rs
  tr/endorscope_cli/verify.rs
  tr/verify_endorsement/lib.rs
  trex/doremint/src/image/verify.rs
Due: rustfmt, sourcelic

TEST - please ignore
  FORCE_CI
Due: none

Fix punctuation in CONTRIBUTING.md
  CONTRIBUTING.md
Due: markdownlint (Markdown files)

Update internal contributing link to use HTTP
  CONTRIBUTING.md
Due: markdownlint (Markdown files)

Update FORCE_CI
  FORCE_CI
Due: none

Add pyink formatter and style config
  .pre-commit-config.yaml
  flake.nix
  mcp/agent/agent.py
  mcp/agent/main.py
  mcp/client/main.py
  mcp/demo/create_lookup_data.py
  mcp/ifc/labels/error.py
  mcp/ifc/labels/label.py
  mcp/ifc/labels/privilege.py
  mcp/ifc/labels/tests/test_labels.py
  oak_containers/app_base/tests/test_config.py
  pyproject.toml
  scripts/analyze_crate_versions.py
  scripts/generate_cargo_lock.py
Due: nix, prettier

Build the whole codelab in CI
  justfile
Due: none

Add SearchMemories v2: timestamp sorting
  oak_private_memory/database/icing.rs
  oak_private_memory/src/icing/ffi_bridge.rs
  oak_private_memory/src/icing/ffi_wrapper.h
  oak_private_memory/test/search_test.rs
Due: clang-format, rustfmt, sourcelic

Remove remaining key provisioning bits
  cc/containers/sdk/orchestrator_crypto_client.cc
  ctf_sha2/containers/enclave_app.rs
  oak_containers/orchestrator/src/ipc_server.rs
  oak_private_memory/src/session_binder.rs
  oak_proto_rust/BUILD
  oak_proto_rust/build.rs
  oak_proto_rust/generated/oak.containers.v1.rs
  oak_proto_rust/generated/oak.key_provisioning.v1.rs
  oak_proto_rust/grpc/BUILD
  oak_proto_rust/grpc/build.rs
  oak_proto_rust/grpc/lib.rs
  oak_proto_rust/src/lib.rs
  oak_sdk/containers/orchestrator_crypto_client.rs
  proto/containers/BUILD
  proto/containers/hostlib_key_provisioning.proto
  proto/containers/orchestrator_crypto.proto
  proto/key_provisioning/BUILD
  proto/key_provisioning/key_provisioning.proto
Due: bazellic, clang-format, rustfmt, sourcelic

oak_session/tls: Add NewInitializedSession API for simplified TLS handshake
  oak_session/tls/BUILD
  oak_session/tls/example/grpc/client_main.cc
  oak_session/tls/example/grpc/service_impl.cc
  oak_session/tls/oak_session_tls.cc
  oak_session/tls/oak_session_tls.h
  oak_session/tls/oak_session_tls_test.cc
Due: bazellic, clang-format, sourcelic

Zero out the BIOS Data Area (BDA) in stage0
  stage0/src/lib.rs
  stage0_bin/layout.ld
  stage0_bin_tdx/layout.ld
Due: rustfmt, sourcelic

Fix the jj tracking command.
  docs/jj.md
Due: markdownlint (Markdown files)

Update Gerrit docs.
  docs/jj.md
Due: markdownlint (Markdown files)

Add FADT table support
  stage0/src/acpi/mod.rs
  stage0/src/acpi_tables.rs
Due: rustfmt, sourcelic

Fix doremint cli_tests timeout with `--fulcio-auth-flow` flag
  trex/client/src/cosign.rs
  trex/doremint/cli_tests.sh
  trex/doremint/src/blob/endorse.rs
Due: rustfmt, sourcelic

Add `new_initialized_session` to Oak Session TLS Rust API
  oak_session/tls/rust/oak_session_tls.rs
  oak_session/tls/rust/oak_session_tls_test.rs
Due: rustfmt, sourcelic

Ensure we _really_ zero out the BDA
  stage0/src/lib.rs
  stage0_bin/layout.ld
  stage0_bin_tdx/layout.ld
Due: rustfmt, sourcelic

Path conditions:
  bazellic: any of: BUILD, but not: third_party/
  bzllock: any of: MODULE.bazel$, but not: third_party/
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, but not: third_party/
  ktfmt: any of: \.(kt|kts)$, but not: third_party/
  markdownlint (Markdown files): any of: \.(md|markdown|mdown)$, but not: third_party/
  nix: any of: \.nix$, but not: third_party/
  prettier: any of: \.(yaml|yml)$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, but not: third_party/
  rustfmt: any of: \.rs$, but not: third_party/
  sourcelic: any of: \.rs$, \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, \.java$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.css$, \.scss$, \.(kt|kts)$ and not (oak_proto_rust/generated|cc/crypto/hpke/jni) and not (third_party/)
  terraform fmt: any of: \.(tf|tfvars)$, but not: third_party/
  id: any of: MODULE.bazel$, but not: third_party/
